@{
    @model IEnumerable<CRM.Models.Crm.ProductMaster>
}
@{
    ViewData["Title"] = "ProductList";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

@{
    var Gst = ViewBag.Gst;

}

<div class="page-wrapper">
    <div class="page-body-wrapper">
        <div class="page-sidebar">
        </div>

        <div class="page-body">

            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="page-header-left">
                                <h3>
                                    Product List
                                </h3>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <ol class="breadcrumb pull-right">
                                <li class="breadcrumb-item"><a href="/Home/Dashboard"><i data-feather="home"></i></a></li>
                                <li class="breadcrumb-item">Product</li>
                                <li class="breadcrumb-item active">Product List</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Container-fluid Ends-->
            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="row">

                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <table class="table table-responsive">
                                    <thead>
                                        <tr>
                                            <th>
                                               ProductName
                                            </th>
                                            <th>
                                                Category
                                            </th>
                                            <th>
                                               Gst
                                            </th>
                                            <th>
                                                HSN Code
                                            </th>
                                            <th>
                                               Price
                                            </th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ProductName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Category)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Gst)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.HsnSacCode)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Price)
                                                </td>
                                                <td>
                                                    <div>
                                                       @* <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                                            Edit
                                                        </button>*@
                                                        <a href="#" class="fa fa-edit m-2 font-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop" onclick="EditProduct(@item.Id)"></a>
                                                     @* <a href="#" class="fa fa-edit m-2 font-success" data-toggle="modal" id="abc" data-target="#myModal" onclick="EditProduct(@item.Id)"></a>*@
@*                                                    <a href="@Url.Action("EditProduct","Admin",new { id=item.Id})" class="fa fa-edit m-2 font-success" data-toggle="modal" data-target="#myModal" onclick="EditProduct(@item.Id)"></a>
*@                                                      <a href="@Url.Action("DeleteProduct","Admin",new { id=item.Id})" class="fa fa-trash font-danger"></a>
                                                    
                                                          
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

       


        </div>


    </div>

</div>




<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    function EditProduct(id) {
        debugger
        $.ajax({
            url: '/Admin/EditProduct?id=' + id,
            type: "Get",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                debugger
                //$('#modal').modal('show');
                $('#Id').val(response.id);
                $('#ProductName').val(response.productName);
                $('#Category').val(response.category);
                $('#Price').val(response.price);
                $('#HsnSacCode').val(response.hsnSacCode);
                $('#Gst').val(response.gst);

              
            },
            error: function () {
                alert('Data not found');
            }
        });
    }

    //$(document).ready(function () {
    //    $("#closePopup").click(function () {
    //        $("#modal").modal("hide");
    //    });
    //});

</script>



<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Edit Product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form action="EditProduct" method="post" autocomplete="off">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input name="Id" type="text" id="Id" style="display:none">

                            <div class="row">                               
                                <div class="form-group col-sm">
                                    <label for="validationCustom0">Product Name</label>
                                    <input class="form-control" id="ProductName" name="ProductName" type="text" required="">

                                </div>
                                <div class="form-group col-sm">
                                    <label for="validationCustom0">Category</label>
                                    <input class="form-control" id="Category" name="Category" type="text" required="">

                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm">
                                    <label for="validationCustom0">Price</label>
                                    <input class="form-control" id="Price" name="Price" type="text" required="">

                                </div>
                                <div class="form-group col-sm">
                                    <label for="validationCustom0">HSN Code</label>
                                    <input class="form-control" id="HsnSacCode" name="HsnSacCode" type="text" required="">

                                </div>
                            </div>
                            <div class="row">
                            <div class="form-group col-sm">
                            <label for="validationCustom0">GST</label>
@*                                    @Html.DropDownListFor("Gst",  ViewBag.Gst as IEnumerable<SelectListItem>, "-- Select Gst -- ", new { @class = "form-control" })
                                    *@     
                                   
                                    <select id="Gst" name="Gst" class="form-control">
                                        <option value="1">5%</option>
                                        <option value="2">10%</option>
                                        <option value="3">12%</option>
                                        <option value="4">18%</option>
                                    </select>
                             </div>
                            </div>
                      
                                <button class="btn btn-warning" id="btnUpdate">Update</button>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
              
                        </form>
                    </div>
                </div>
            </div>           
        </div>
    </div>
</div>



