@{
    @model IEnumerable<CRM.Models.Crm.ProductMaster>
}
@{
    ViewData["Title"] = "ProductList";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="page-wrapper">
    <div class="page-body-wrapper">
        <div class="page-sidebar">
        </div>

        <div class="page-body">

            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="page-header-left">
                                <h3>
                                    Product List
                                </h3>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <ol class="breadcrumb pull-right">
                                <li class="breadcrumb-item"><a href="/Home/Dashboard"><i data-feather="home"></i></a></li>
                                <li class="breadcrumb-item">Product</li>
                                <li class="breadcrumb-item active">Product List</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Container-fluid Ends-->
            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="row">

                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <table class="table table-responsive">
                                    <thead>
                                        <tr>
                                            <th>
                                               ProductName
                                            </th>
                                            <th>
                                                Category
                                            </th>
                                            <th>
                                               Gst
                                            </th>
                                            <th>
                                                HSN Code
                                            </th>
                                            <th>
                                               Price
                                            </th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ProductName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Category)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Gst)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.HsnSacCode)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Price)
                                                </td>
                                                <td>
                                                    <div>
                                                        <a href="#" class="fa fa-edit m-2 font-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop" onclick="EditProduct(@item.Id)"></a>
                                                      <a href="@Url.Action("DeleteProduct","Admin",new { id=item.Id})" class="fa fa-trash font-danger"></a>
                                                    
                                                          
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

       


        </div>


    </div>

</div>


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    function EditProduct(id) {
        debugger;
        $.ajax({
            url: '/Admin/EditProduct?id=' + id,
            type: 'GET',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                debugger;
                $('#Id').val(response.product.id);
                $('#ProductName').val(response.product.productName);
                $('#Category').val(response.product.category);
                $('#Price').val(response.product.price);
                $('#HsnSacCode').val(response.product.hsnSacCode);

                // Set the selected value for the GST dropdown
                $('#Gst').empty(); // Clear existing options
                var row = "";
                $('#Gst').html('');
                row += "<option value=''>-- Select Gst --</option>";
                $.each(response.gstData, function (ind, item) {
                    var isSelected = item.id === response.product.gst;
                    row += "<option value='" + item.id + "' " + (isSelected ? "selected" : "") + ">" + item.gstPercentagen + "</option>";
                    //row += "<option value='" + item.id + "'>" + item.gstPercentagen + "</option>";

                });
                $('#Gst').html(row);
                $('#Gst').val(response.product.gst)
                $('#staticBackdrop').modal('show');
            },
            error: function () {
                alert('Data not found');
            }
        });
    }
</script>



<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Edit Product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form action="EditProduct" method="post" autocomplete="off">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input name="Id" type="text" id="Id" style="display:none">

                            <div class="row">                               
                                <div class="form-group col-sm">
                                    <label for="validationCustom0">Product Name</label>
                                    <input class="form-control" id="ProductName" name="ProductName" type="text" required="">

                                </div>
                                <div class="form-group col-sm">
                                    <label for="validationCustom0">Category</label>
                                    <input class="form-control" id="Category" name="Category" type="text" required="">

                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm">
                                    <label for="validationCustom0">Price</label>
                                    <input class="form-control" id="Price" name="Price" type="text" required="">

                                </div>
                                <div class="form-group col-sm">
                                    <label for="validationCustom0">HSN Code</label>
                                    <input class="form-control" id="HsnSacCode" name="HsnSacCode" type="text" required="">

                                </div>
                            </div>
                            <div class="row">
                            <div class="form-group col-sm">
                            <label for="validationCustom0">GST</label>
                                    <select id="Gst" name="Gst"  class="form-control searchableselect"></select>

                                </div>
                            </div>
                                <button class="btn btn-warning" id="btnUpdate">Update</button>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
              
                        </form>
                    </div>
                </div>
            </div>           
        </div>
    </div>
</div>



