@model IEnumerable<CRM.Models.DTO.CustomerListDto>

@{
    ViewData["Title"] = "CustomerList";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var message = "@TempData["Message"]";
        if (message == "ok" || message == "dltok" || message == "updok") {
            if (message) {
                let alertText;

                if (message == "dltok") {
                    alertText = "Deleted successfully.";
                } else if (message == "updok") {
                    alertText = "Customer updated successfully.";
                } else {
                    alertText = "Customer added successfully.";
                }

                Swal.fire({
                    title: 'Success',
                    text: alertText,
                    icon: 'success',
                    confirmButtonText: 'OK'
                }).then((result) => {
                    if (result.isConfirmed) {
                        setTimeout(function () {
                            window.location.href = '@Url.Action("CustomerList", "Customer")';
                        }, 1000);
                    }
                });
            }
        }
        else {
            if (message) {
                Swal.fire({
                    title: 'Failed',
                    text: message,
                    icon: 'error',
                    confirmButtonText: 'OK'
                }).then((result) => {
                    if (result.isConfirmed) {
                        setTimeout(function () {
                            window.location.href = '@Url.Action("CustomerList", "Customer")';
                        }, 1000);
                    }
                });
            }
        }
    });
</script>
<style>
    .dataTables_wrapper table.dataTable th {
        background-color: #00baf2 !important;
        padding: 24px 0.75rem !important;
    }
</style>
<div class="page-wrapper">
    <div class="page-body-wrapper">
        <div class="page-sidebar">
        </div>
        <!-- Page Sidebar Ends-->
        <!-- Right sidebar Start-->
        <!-- Right sidebar Ends-->

        <div class="page-body">

            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="page-header-left">
                                <h2>
                                    Customer List
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <ol class="breadcrumb pull-right">
                                <li class="breadcrumb-item"><a href="/Home/Dashboard"><i data-feather="home"></i></a></li>
                                <li class="breadcrumb-item">Customer</li>
                                <li class="breadcrumb-item active">CustomerList</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid Ends-->
            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="row">

                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <img src="~/image/execimage.png" style="height:50px; margin-left:96%;width:53px;cursor:pointer" title="Export To Excel" onclick="ExportCustomerExcelfn()" />
                                <div class=" table-responsive">
                                    <table id="datatable" class="table table-hover">
                                        <thead>
                                            <tr style="background-color: #00baf2;">
                                                <th nowrap>Sl. No.</th>
                                                <th nowrap>
                                                    First Name
                                                </th>
                                                <th nowrap>
                                                    Last Name
                                                </th>
                                                <th nowrap>
                                                    Company Name
                                                </th>
                                                <th nowrap>
                                                    Mobile Number
                                                </th>
                                                <th nowrap>
                                                    Alternate Number
                                                </th>
                                                <th nowrap>
                                                    Email Id
                                                </th>
                                                <th nowrap>
                                                    GST Number
                                                </th>
                                                <th nowrap>
                                                    Office Location
                                                </th>
                                                <th nowrap>
                                                    Billing Location
                                                </th>
                                                <th nowrap>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                var count = 0;
                                                foreach (var item in Model)
                                                {
                                                    count++;
                                                    <tr class="table-row">
                                                        <td>@count</td>
                                                        <td>
                                                            @item.FirstName
                                                        </td>
                                                        <td>
                                                            @item.LastName
                                                        </td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.CompanyName)
                                                        </td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.MobileNumber)
                                                        </td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.AlternateNumber)
                                                        </td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.Email)
                                                        </td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.GstNumber)
                                                        </td>
                                                        <td>
                                                            @item.Location, @item.OfficeCity, @item.OfficeState
                                                        </td>

                                                        <td>
                                                            @item.BillingAddress, @item.BillingCity, @item.BillingState
                                                        </td>
                                                        <td nowrap>
                                                            <div>
                                                                <a href="@Url.Action("Customer","Customer",new { id=item.Id})" class="fa fa-edit m-2 font-success"></a>
                                                                <a href="javascript:void(0);" onclick="confirmDelete('@Url.Action("DeleteCustomer", "Customer", new { id = item.Id })')" class="fa fa-trash font-danger"></a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            }

                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*  <div id="pagination-container">
            <ul id="pagination" class="pagination"></ul>
            </div> *@
        </div>


    </div>

</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    function confirmDelete(url) {
        var result = confirm("Are you sure you want to delete?");
        if (result) {
            window.location.href = url;
        }
    }
</script>
<script>
    $(document).ready(function () {
        $('#datatable').DataTable();
    });
    function ExportCustomerExcelfn() {

        window.location.href = '/Customer/ExportCustomerList';
    }
</script>
