@model IEnumerable<CRM.Models.DTO.CustomerInvoiceDTO>

@{
    ViewData["Title"] = "CustomerInvoiceList";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<style>
    .dataTables_wrapper table.dataTable th {
        background-color: #00baf2 !important;
        padding: 24px 0.75rem !important;
    }
</style>
@* <script>
    document.addEventListener("DOMContentLoaded", function () {
        var message = "@TempData["Message"]";

        if (message) {
            Swal.fire({
                title: 'Not Found',
                text: message,
                icon: 'success',
                confirmButtonText: 'OK'
            }).then((result) => {
                if (result.isConfirmed) {
                    setTimeout(function () {
                        window.location.href = '@Url.Action("CustomerInvoiceList", "Sale")';
                    }, 1000);
                }
            });
        }
    });
</script> *@
<div class="page-wrapper">
    <div class="page-body-wrapper">
        <div class="page-sidebar">
        </div>
        <!-- Page Sidebar Ends-->
        <!-- Right sidebar Start-->
        <!-- Right sidebar Ends-->

        <div class="page-body">

            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="page-header-left">
                                <h2>
                                    Invoice List
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <ol class="breadcrumb pull-right">
                                <li class="breadcrumb-item"><a href="/Home/Dashboard"><i data-feather="home"></i></a></li>
                                <li class="breadcrumb-item">Sales</li>
                                <li class="breadcrumb-item active">Invoice</li>
                            </ol>
                        </div>
                    </div>
                    <a href="/Sale/Invoice" class="btn btn-primary"><i class="fa fa-plus"></i> Add More</a>
                </div>

            </div>


            <!-- Container-fluid Ends-->
            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="row">

                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="datatable" class="table table-hover">
                                        <thead>
                                            <tr style="background-color: #00baf2;">
                                                <th nowrap>Sl. No.</th>
                                                <th nowrap>Invoice Number</th>
                                                <th nowrap>
                                                    Company Name
                                                </th>
                                                <th nowrap>
                                                    Mobile Number
                                                </th>
                                                @*   <th nowrap>
                                                Alternate Number
                                                </th> *@
                                                <th nowrap>
                                                    Email Id
                                                </th>
                                                <th nowrap>
                                                   Due Date
                                                </th>
                                                <th nowrap>
                                                    Office State
                                                </th>
                                                <th nowrap>
                                                    Billing State
                                                </th>
                                                <th nowrap>
                                                    IGST
                                                </th>
                                                <th nowrap>
                                                    SGST
                                                </th>
                                                <th nowrap>
                                                    CGST
                                                </th>
                                                <th nowrap>
                                                    Total Payment
                                                </th>

                                                <th nowrap>
                                                    Due Payment
                                                </th>
                                                <th nowrap>
                                                    Paid Payment
                                                </th>
                                                <th nowrap>
                                                    Update Payment Status
                                                </th>
                                                <th nowrap>

                                                </th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                var count = 0;
                                                foreach (var item in Model)
                                                {
                                                    count++;
                                                    <tr class="table-row">
                                                        <td>@count</td>
                                                        <td nowrap><a href="/Sale/ProductInvoice?InvoiceNumber=@item.InvoiceNumber">@item.InvoiceNumber</a></td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.CompanyName)
                                                        </td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.MobileNumber)
                                                        </td>
                                                        @* <td nowrap>
                                                @Html.DisplayFor(modelItem => item.AlternateNumber)
                                                </td>*@
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.Email)
                                                        </td>
                                                        <td nowrap>
                                                            @item.Dueamountdate?.ToString("dd/MM/yyyy")
                                                        </td>
                                                        <td nowrap>
                                                            @item.OfficeState
                                                        </td>

                                                        <td nowrap>
                                                            @item.BillingState
                                                        </td>
                                                        <td nowrap>
                                                            @(item.IGST.HasValue ? $"{item.IGST}%" : "")
                                                        </td>
                                                        <td nowrap>
                                                            @(item.SGST.HasValue ? $"{item.SGST}%" : "")
                                                        </td>
                                                        <td nowrap>
                                                            @(item.CGST.HasValue ? $"{item.CGST}%" : "")
                                                        </td>
                                                        <td nowrap>
                                                            @item.TotalAmount
                                                        </td>
                                                        <td nowrap>
                                                            @item.DueAmount
                                                        </td>
                                                        <td nowrap>
                                                            @item.PaidAmount
                                                        </td>
                                                        <td>
                                                            @if (item.Paymentid != 1)
                                                            {
                                                                if (item.Paymentid == 2 || item.Paymentid == 4)
                                                                {
                                                                    <select name="Paymentstatus"
                                                                            class="form-control Paymentmode-dropdown"
                                                                            id="ddPaymentmodeid_@item.InvoiceId"
                                                                            style="height: 40px; width: 139px;"
                                                                            onchange="handlePaymentTypeChange(@item.InvoiceId)">
                                                                        <option value="0">-- Select Payment Type --</option>
                                                                        @foreach (var shift in ViewBag.Paymentmode)
                                                                        {
                                                                            <option value="@shift.Value">@shift.Text</option>
                                                                        }
                                                                    </select>
                                                                }
                                                                else
                                                                {
                                                                    <select name="Paymentstatus"
                                                                            class="form-control Paymentmode-dropdown"
                                                                            id="ddPaymentmodeid_@item.InvoiceId"
                                                                            style="height: 40px; width: 139px;"
                                                                            onchange="handlePaymentTypeChange(@item.InvoiceId)">
                                                                        <option value="0">-- Select Payment Type --</option>
                                                                        @foreach (var shift in ViewBag.Paymentmode)
                                                                        {
                                                                            <option value="@shift.Value">@shift.Text</option>
                                                                        }
                                                                    </select>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <select name="Paymentstatus"
                                                                        class="form-control Paymentmode-dropdown"
                                                                        id="ddPaymentmodeid_@item.InvoiceId"
                                                                        style="height: 40px; width: 139px;"
                                                                        disabled>
                                                                    <option value="0">-- Select Payment Type --</option>
                                                                    @foreach (var shift in ViewBag.Paymentmode)
                                                                    {
                                                                        <option value="@shift.Value">@shift.Text</option>
                                                                    }
                                                                </select>
                                                            }
                                                          
                                                        </td>

                                                        <td>
                                                            <form autocomplete="off">
                                                                <input type="text" id="inputBox_@item.InvoiceId" style="display:none; width: 100px; height: 30px;" placeholder="Enter Amount" onkeyup="fncamount(this, @item.TotalAmount, @item.DueAmount)" required />
                                                                <button type="button" class="btn btn-primary submit-payment" id="submitBtn_@item.InvoiceId" data-invoiceid="@item.InvoiceId" style="height: 40px; display:none;" onclick="updateCustomerInvoiceAmount(@item.InvoiceId)">Submit</button>
                                                            </form>
                                                        </td>

                                                        <td nowrap>
                                                            <div>
                                                                @if (item.Paymentid != 1)
                                                                {
                                                                    <a href="/Sale/Invoice?InvoiceNumber=@item.InvoiceNumber" class="fa fa-edit m-2 font-success"></a>

                                                                }
                                                                <a href="@Url.Action("SendInvoicePDF", "Sale", new { InvoiceNumber = item.InvoiceNumber })"
                                                                   class="fa fa-envelope m-2 font-info"
                                                                   title="Send Email"></a>
                                                                <a href="javascript:void(0);" onclick="confirmDelete('@Url.Action("DeleteCustomerInvoice", "Sale", new { InvoiceNumber = item.InvoiceNumber })')" class="fa fa-trash font-danger"></a>


                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            }

                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @* <div id="pagination-container">
            <ul id="pagination" class="pagination"></ul>
            </div> *@
        </div>


    </div>

</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    var currentPage = 1;
    var rowsPerPage = 5;
    $(document).ready(function () {
        function paginateTable() {
            var table = $('#datatable');
            var rows = table.find('tbody tr');


            var totalPages = Math.ceil(rows.length / rowsPerPage);


            var pagination = $('#pagination');
            pagination.empty();

            for (var i = 1; i <= totalPages; i++) {
                var link = $('<li class="page-item"><a class="page-link" href="#">' + i + '</a></li>');


                if (i === currentPage) {
                    link.addClass('active');
                }

                pagination.append(link);
            }


            var startIndex = (currentPage - 1) * rowsPerPage;
            var endIndex = startIndex + rowsPerPage;

            rows.hide().slice(startIndex, endIndex).show();
        }


        paginateTable();

        $(document).on('click', '#pagination li a', function (event) {
            event.preventDefault();

            var clickedPage = parseInt($(this).text());


            currentPage = clickedPage;
            paginateTable();


            $('html, body').animate({ scrollTop: $('#table-container').offset().top }, 'slow');
        });
    });

</script>
<script>
    function confirmDelete(url) {
        var result = confirm("Are you sure you want to delete?");
        if (result) {
            window.location.href = url;
        }
    }
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var message = "@TempData["Message"]";

        if (message) {
            Swal.fire({
                title: 'Success',
                text: message,
                icon: 'info',
                confirmButtonText: 'OK'
            }).then((result) => {
                if (result.isConfirmed) {
                    setTimeout(function () {
                        window.location.href = '@Url.Action("CustomerInvoiceList", "Sale")';
                    }, 1000);
                }
            });
        }
    });
</script>
<script>
    $(document).ready(function () {
        $('#datatable').DataTable();
    });
</script>


<script>
    function bindpaymenttype(ShiftTypeid, itemId) {
        var dropdownforpaymenttype = $("#ddPaymentmodeid_" + itemId);

        if (itemId !== "0" && itemId !== "") {
            dropdownforpaymenttype.val(ShiftTypeid);

            if (ShiftTypeid != 1) {
                toggleInputBoxBasedOnPaymentType(itemId);
            }
        }
    }

    function toggleInputBoxBasedOnPaymentType(itemId) {
        var selectedPaymentType = $("#ddPaymentmodeid_" + itemId).val();

        if (parseInt(selectedPaymentType) === 1) {
            $("#inputBox_" + itemId).show();
            $("#submitBtn_" + itemId).show();
        } else if (parseInt(selectedPaymentType) === 3) {
            $("#inputBox_" + itemId).show();
            $("#submitBtn_" + itemId).show();
        } else {
            $("#inputBox_" + itemId).hide();
            $("#submitBtn_" + itemId).hide();
        }
    }

    function handlePaymentTypeChange(itemId) {
        var paymentType = $("#ddPaymentmodeid_" + itemId).val();

        // Show or hide the amount input field based on payment type
        if (paymentType == 1 || paymentType == 3) {
            $("#inputBox_" + itemId).show();
            $("#submitBtn_" + itemId).show();
        } else {
            $("#inputBox_" + itemId).hide();
            $("#submitBtn_" + itemId).hide();
            updateCustomerInvoiceAmount(itemId); // Automatically update for other payment types
        }
    }

    function updateCustomerInvoiceAmount(itemId) {
        var paymentType = $("#ddPaymentmodeid_" + itemId).val();
        var paidAmount = $("#inputBox_" + itemId).val() || 0;
        var invoiceId = itemId;

        // Check if payment type requires an amount (i.e., Paymentid 1 and 3)
        if ((paymentType == 1 || paymentType == 3) && (isNaN(paidAmount) || paidAmount <= 0)) {
            alert('Please enter a valid paid amount.');
            return;
        }

        var data = {
            InvoiceId: invoiceId,
            Paymentid: paymentType,
            PaidAmount: parseFloat(paidAmount)
        };

        console.log(data);

        $.ajax({
            url: '@Url.Action("UpdateCustomerInvoiceamount", "Sale")',
            type: 'POST',
            data: data,
            success: function (response) {
                if (response.success) {
                    alert(response.message);
                    location.reload(); // Reload the page to reflect changes
                } else {
                    alert(response.message);
                }
            },
            error: function (xhr, status, error) {
                console.error(error);
                alert('An error occurred while updating the payment information.');
            }
        });
    }

    $(document).ready(function () {
    @foreach (var item in Model)
    {
        <text>
                    bindpaymenttype('@item.Paymentid', '@item.InvoiceId');
        </text>
    }

            $(".Paymentmode-dropdown").change(function () {
                var itemId = $(this).attr('id').split('_')[1];
                toggleInputBoxBasedOnPaymentType(itemId);
            });

        $(".submit-payment").click(function () {
            var itemId = $(this).data('invoiceid');
            updateCustomerInvoiceAmount(itemId);
        });

        var userpaymenttype = '@ViewBag.PaymentTypelist';
        if (userpaymenttype != "") {
            bindpaymenttype(userpaymenttype);
        }
        else {
            bindpaymenttype("");
        }
    });

</script>


<script type="text/javascript">
    function fncamount(inputElement, maxLimit, duemaxLimit) {
        var value = inputElement.value.trim();

        // Check if the input value is a valid number
        if (isNaN(value) || value === '') {
            Swal.fire({
                title: 'Error',
                text: 'Please enter a valid number.',
                icon: 'error',
                confirmButtonText: 'OK'
            });
            inputElement.value = '';
            return;
        }

        // Convert the value to a float for comparison
        var numericValue = parseFloat(value);

        // Validate that the value is not negative
        if (numericValue < 0) {
            Swal.fire({
                title: 'Error',
                text: 'Amount cannot be negative.',
                icon: 'error',
                confirmButtonText: 'OK'
            });
            inputElement.value = '';
            return;
        }

        // Check if duemaxLimit is 0, then use maxLimit as the primary validation
        var effectiveLimit = duemaxLimit > 0 ? duemaxLimit : maxLimit;

        // Validate against the effective limit (either Due Amount or Total Amount)
        if (numericValue > effectiveLimit) {
            Swal.fire({
                title: 'Error',
                text: `Payment cannot exceed the allowed amount of ${effectiveLimit}.`,
                icon: 'error',
                confirmButtonText: 'OK'
            });
            inputElement.value = '';
            return;
        }

        // If the input passes all checks, it is valid
        console.log(`Valid input: ${numericValue}`);
    }

</script>

