@model IEnumerable<CRM.Models.DTO.CustomerInvoiceDTO>

@{
    ViewData["Title"] = "CustomerInvoiceList";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<div class="page-wrapper">
    <div class="page-body-wrapper">
        <div class="page-sidebar">
        </div>
        <!-- Page Sidebar Ends-->
        <!-- Right sidebar Start-->
        <!-- Right sidebar Ends-->

        <div class="page-body">

            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="page-header-left">
                                <h2>
                                    Invoice List
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <ol class="breadcrumb pull-right">
                                <li class="breadcrumb-item"><a href="/Home/Dashboard"><i data-feather="home"></i></a></li>
                                <li class="breadcrumb-item">Sales</li>
                                <li class="breadcrumb-item active">Invoice</li>
                            </ol>
                        </div>
                    </div>
                    <a href="/Sale/Invoice" class="btn btn-primary">Add More</a>
                </div>
                
            </div>
           
            
            <!-- Container-fluid Ends-->
            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="row">

                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <div class=" table-responsive">
                                    <table id="datatable" class="table table-responsive">
                                        <thead>
                                            <tr style="background-color: #00baf2;">
                                                <th nowrap>Sl. No.</th>
                                                <th nowrap>
                                                    Company Name
                                                </th>
                                                <th nowrap>
                                                    Office Location
                                                </th>
                                                <th nowrap>
                                                    Mobile Number
                                                </th>
                                                <th nowrap>
                                                    Alternate Number
                                                </th>
                                                <th nowrap>
                                                    Email Id
                                                </th> 
                                                <th nowrap>
                                                    Billing Location
                                                </th>
                                                @* <th nowrap>
                                                    Product Name
                                                </th>
                                                <th nowrap>
                                                    Start Date
                                                </th>
                                                <th nowrap>
                                                    Renew Date
                                                </th>
                                                <th nowrap>
                                                    Product Price
                                                </th>
                                                <th nowrap>
                                                    Product Renew Price
                                                </th>
                                                <th nowrap>
                                                    SCGST
                                                </th>
                                                <th nowrap>
                                                    CGST
                                                </th>
                                                <th nowrap>
                                                    IGST
                                                </th> *@
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                var count = 0;
                                                foreach (var item in Model)
                                                {
                                                    count++;
                                                    <tr class="table-row">
                                                        <td>@count</td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.CompanyName)
                                                        </td>
                                                        <td nowrap>
                                                            @item.OfficeAddress, @item.OfficeCity, @item.OfficeState
                                                        </td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.MobileNumber)
                                                        </td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.AlternateNumber)
                                                        </td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.Email)
                                                        </td> 
                                                        <td>
                                                            @item.BillingAddress, @item.BillingCity, @item.BillingState
                                                        </td>
                                                        @*<td>
                                                            @Html.DisplayFor(modelItem => item.ProductName)
                                                        </td>
                                                        <td nowrap>
                                                            @item.StartDate
                                                        </td>
                                                        <td nowrap>
                                                            @item.RenewDate
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.ProductPrice)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.RenewPrice)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.SGST) %
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.CGST) %
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.IGST) %
                                                        </td>
                                                        *@
                                                        <td>
                                                            <div>
                                                                <a href="/Sale/Invoice?Id=@item.CustomerId" class="fa fa-edit m-2 font-success"></a>

                                                                <a href="javascript:void(0);" onclick="confirmDelete('@Url.Action("DeleteCustomerInvoice", "Sale", new { id = item.CustomerId })')" class="fa fa-trash font-danger"></a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            }

                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="pagination-container">
                <ul id="pagination" class="pagination"></ul>
            </div>
        </div>


    </div>

</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    var currentPage = 1;
    var rowsPerPage = 5;
    $(document).ready(function () {
        function paginateTable() {
            var table = $('#datatable');
            var rows = table.find('tbody tr');


            var totalPages = Math.ceil(rows.length / rowsPerPage);


            var pagination = $('#pagination');
            pagination.empty();

            for (var i = 1; i <= totalPages; i++) {
                var link = $('<li class="page-item"><a class="page-link" href="#">' + i + '</a></li>');


                if (i === currentPage) {
                    link.addClass('active');
                }

                pagination.append(link);
            }


            var startIndex = (currentPage - 1) * rowsPerPage;
            var endIndex = startIndex + rowsPerPage;

            rows.hide().slice(startIndex, endIndex).show();
        }


        paginateTable();

        $(document).on('click', '#pagination li a', function (event) {
            event.preventDefault();

            var clickedPage = parseInt($(this).text());


            currentPage = clickedPage;
            paginateTable();


            $('html, body').animate({ scrollTop: $('#table-container').offset().top }, 'slow');
        });
    });

</script>
<script>
    function confirmDelete(url) {
        var result = confirm("Are you sure you want to delete?");
        if (result) {
            window.location.href = url;
        }
    }
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var message = "@TempData["Message"]";

        if (message) {
            Swal.fire({
                title: 'Success',
                text: message,
                icon: 'info',
                confirmButtonText: 'OK'
            }).then((result) => {
                if (result.isConfirmed) {
                    setTimeout(function () {
                        window.location.href = '@Url.Action("CustomerInvoiceList", "Sale")';
                    }, 1000);
                }
            });
        }
    });
</script>