@model IEnumerable<CRM.Models.DTO.CustomerInvoiceDTO>

@{
    ViewData["Title"] = "CustomerInvoiceList";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>


<style>
    .dataTables_wrapper table.dataTable th {
        background-color: #00baf2 !important;
        padding: 24px 0.75rem !important;
    }
</style>
<style>
    .loader {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 9999;
        display: none;
    }

    @@keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .overlay {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
        z-index: 9998;
    }

    .blurred {
        filter: blur(1px);
    }

</style>
<div id="content">
    <div class="page-wrapper">
        <div class="page-body-wrapper">
            <div class="page-sidebar">
            </div>
            <!-- Page Sidebar Ends-->
            <!-- Right sidebar Start-->
            <!-- Right sidebar Ends-->

            <div class="page-body">

                <!-- Container-fluid starts-->
                <div class="container-fluid">
                    <div class="page-header">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="page-header-left">
                                    <h2>
                                        Invoice List
                                    </h2>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <ol class="breadcrumb pull-right">
                                    <li class="breadcrumb-item"><a href="/Home/Dashboard"><i data-feather="home"></i></a></li>
                                    <li class="breadcrumb-item">Sales</li>
                                    <li class="breadcrumb-item active">Invoice</li>
                                </ol>
                            </div>
                        </div>
                        <a href="/Sale/Invoice?InvoiceNumber=@null&&clone=@true" class="btn btn-primary"><i class="fa fa-plus"></i> Add More</a>
                    </div>

                </div>


                <!-- Container-fluid Ends-->
                <!-- Container-fluid starts-->
                <div class="container-fluid">
                    <div class="row">

                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table id="datatable" class="table table-hover">
                                            <thead>
                                                <tr style="background-color: #00baf2;">
                                                    <th nowrap>Sl. No.</th>
                                                    <th nowrap>Invoice Number</th>
                                                    <th nowrap>
                                                        Company Name
                                                    </th>
                                                    <th nowrap>
                                                        Mobile Number
                                                    </th>
                                                    <th nowrap>
                                                        Invoice Date
                                                    </th>
                                                    <th nowrap>
                                                        InvoiceDue Date
                                                    </th>
                                                    <th nowrap>
                                                        Email Id
                                                    </th>
                                                    <th nowrap>
                                                        Office State
                                                    </th>
                                                    <th nowrap>
                                                        Billing State
                                                    </th>
                                                    <th nowrap>
                                                        Total Payment
                                                    </th>

                                                    <th nowrap>
                                                        Due Payment
                                                    </th>
                                                    <th nowrap>
                                                        Paid Payment
                                                    </th>
                                                    <th nowrap>
                                                       Payment Date
                                                    </th>
                                                    <th nowrap>
                                                        Update Payment Status
                                                    </th>
                                                    <th nowrap>

                                                    </th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    var count = 0;
                                                    foreach (var item in Model)
                                                    {
                                                        count++;
                                                        <tr class="table-row">
                                                            <td>@count</td>
                                                            <td nowrap><a href="/Sale/ProductInvoice?InvoiceNumber=@item.InvoiceNumber">@item.InvoiceNumber</a></td>
                                                            <td nowrap>
                                                                @Html.DisplayFor(modelItem => item.CompanyName)
                                                            </td>
                                                            <td nowrap>
                                                                @Html.DisplayFor(modelItem => item.MobileNumber)
                                                            </td>
                                                            <td nowrap>
                                                                @Html.DisplayFor(modelItem => item.InvoiceDate)
                                                            </td>
                                                            <td nowrap>
                                                                @Html.DisplayFor(modelItem => item.InvoiceDueDate)
                                                            </td>
                                                            <td nowrap>
                                                                @Html.DisplayFor(modelItem => item.Email)
                                                            </td>
                                                            <td nowrap>
                                                                @item.OfficeState
                                                            </td>

                                                            <td nowrap>
                                                                @item.BillingState
                                                            </td>
                                                            <td nowrap>
                                                                @item.TotalAmount
                                                            </td>
                                                            <td nowrap>
                                                                @item.DueAmount
                                                            </td>
                                                            <td nowrap>
                                                                @item.PaidAmount
                                                            </td>
                                                            <td nowrap>
                                                                @item.Paymentdate
                                                            </td>
                                                            <td>
                                                                @if (item.Paymentid != 1)
                                                                {
                                                                    if (item.Paymentid == 2 || item.Paymentid == 4)
                                                                    {
                                                                        <select name="Paymentstatus"
                                                                                class="form-control Paymentmode-dropdown"
                                                                                id="ddPaymentmodeid_@item.InvoiceId"
                                                                                style="height: 40px; width: 139px;"
                                                                                 onchange="handlePaymentTypeChange(@item.InvoiceId, @item.DueAmount)">
                                                                            <option value="0">-- Select Payment Type --</option>
                                                                            @foreach (var shift in ViewBag.Paymentmode)
                                                                            {
                                                                                <option value="@shift.Value">@shift.Text</option>
                                                                            }
                                                                        </select>
                                                                    }
                                                                    else
                                                                    {
                                                                        <select name="Paymentstatus"
                                                                                class="form-control Paymentmode-dropdown"
                                                                                id="ddPaymentmodeid_@item.InvoiceId"
                                                                                style="height: 40px; width: 139px;"
                                                                                 onchange="handlePaymentTypeChange(@item.InvoiceId, @item.DueAmount)">
                                                                            <option value="0">-- Select Payment Type --</option>
                                                                            @foreach (var shift in ViewBag.Paymentmode)
                                                                            {
                                                                                <option value="@shift.Value">@shift.Text</option>
                                                                            }
                                                                        </select>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <select name="Paymentstatus"
                                                                            class="form-control Paymentmode-dropdown"
                                                                            id="ddPaymentmodeid_@item.InvoiceId"
                                                                            style="height: 40px; width: 139px;"
                                                                            disabled>
                                                                        <option value="0">-- Select Payment Type --</option>
                                                                        @foreach (var shift in ViewBag.Paymentmode)
                                                                        {
                                                                            <option value="@shift.Value">@shift.Text</option>
                                                                        }
                                                                    </select>
                                                                }

                                                            </td>

                                                            <td>
                                                                <form autocomplete="off" >
                                                                    <input type="text" id="inputBox_@item.InvoiceId" style="display:none; width: 100px; height: 30px;" placeholder="Enter Amount" onkeyup="fncamount(this, @item.TotalAmount, @item.DueAmount)" required />
                                                                    <input type="date" id="dateInput_@item.InvoiceId" style="display:none; width: 78%; height: 30px;margin-top:7px" required />                             
                                                                    <button type="button" class="btn btn-primary submit-payment" id="submitBtn_@item.InvoiceId" data-invoiceid="@item.InvoiceId" style="height: 40px; display:none;margin-top:7px" onclick="updateCustomerInvoiceAmount(@item.InvoiceId)">Submit</button>
                                                                </form>
                                                            </td>

                                                            <td nowrap>
                                                                <div>
                                                                    <a href="/Sale/Invoice?InvoiceNumber=@item.InvoiceNumber&&clone=@true" class="fa fa-solid fa-clone"></a>
                                                                    @if (item.Paymentid != 1)
                                                                    {
                                                                        <a href="/Sale/Invoice?InvoiceNumber=@item.InvoiceNumber&&clone=@false" class="fa fa-edit m-2 font-success"></a>

                                                                    }
                                                                    <a href="javascript:void(0)"
                                                                       onclick="SendinvoicedownloadPDF('@item.InvoiceNumber')"
                                                                       class="fa fa-envelope m-2 font-info"
                                                                       title="Send Email"></a>
                                                                    @* <a href="@Url.Action("SendInvoicePDF", "Sale", new { InvoiceNumber = item.InvoiceNumber,Ismail = true })"
                                                            class="fa fa-envelope m-2 font-info"
                                                            title="Send Email"></a>*@
                                                                    <a href="javascript:void(0);" onclick="confirmDelete('@Url.Action("DeleteCustomerInvoice", "Sale", new { InvoiceNumber = item.InvoiceNumber })')" class="fa fa-trash font-danger"></a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    }
                                                }

                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="overlay" id="overlay"></div>
<div class="loader" id="loader"></div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script type="text/javascript">
    function SendinvoicedownloadPDF(invoiceNumber) {
        var url = '@Url.Action("SendInvoicePDF", "Sale")' + '?InvoiceNumber=' + encodeURIComponent(invoiceNumber) + '&Ismail=' + true;

        // Show loader and apply blur
        document.getElementById('loader').style.display = 'block';
        document.getElementById('overlay').style.display = 'block';
        document.getElementById('content').classList.add('blurred');

        fetch(url, {
            method: 'GET',
            headers: {
                'Accept': 'application/json'
            }
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                // Hide the loader and overlay after success or failure
                document.getElementById('loader').style.display = 'none';
                document.getElementById('overlay').style.display = 'none';
                document.getElementById('content').classList.remove('blurred');

                if (data.success) {
                    Swal.fire({
                        title: 'Success',
                        text: data.message,
                        icon: 'success',
                        confirmButtonText: 'OK',
                        allowOutsideClick: false
                    }).then(() => {
                        window.location.reload(); // Reload after user confirms
                    });
                } else {
                    Swal.fire({
                        title: 'Error',
                        text: data.message,
                        icon: 'error',
                        confirmButtonText: 'OK',
                        allowOutsideClick: false
                    });
                }
            })
            .catch(error => {
                // Hide the loader and overlay on error
                document.getElementById('loader').style.display = 'none';
                document.getElementById('overlay').style.display = 'none';
                document.getElementById('content').classList.remove('blurred');

                Swal.fire({
                    title: 'Error',
                    text: 'An error occurred while processing the request.',
                    icon: 'error',
                    confirmButtonText: 'OK',
                    allowOutsideClick: false
                });
            });
    }

</script>
<script>
    function confirmDelete(url) {
        var result = confirm("Are you sure you want to delete?");
        if (result) {
            window.location.href = url;
        }
    }
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var message = "@TempData["Message"]";

        if (message) {
            Swal.fire({
                title: 'Success',
                text: message,
                icon: 'info',
                confirmButtonText: 'OK'
            }).then((result) => {
                if (result.isConfirmed) {
                    setTimeout(function () {
                        window.location.href = '@Url.Action("CustomerInvoiceList", "Sale")';
                    }, 1000);
                }
            });
        }
    });
</script>
<script>
    $(document).ready(function () {
        $('#datatable').DataTable();
    });
</script>


<script>
    function bindpaymenttype(ShiftTypeid, itemId) {
        var dropdownforpaymenttype = $("#ddPaymentmodeid_" + itemId);

        if (itemId !== "0" && itemId !== "") {
            dropdownforpaymenttype.val(ShiftTypeid);

            if (ShiftTypeid != 1) {
                toggleInputBoxBasedOnPaymentType(itemId);
            }
        }
    }

//   function handlePaymentTypeChange(itemId) {
//     var paymentType = $("#ddPaymentmodeid_" + itemId).val();

//     if (paymentType == 1 || paymentType == 3) {
//         $("#inputBox_" + itemId).show();
//         $("#dateInput_" + itemId).show();
//         $("#submitBtn_" + itemId).show();

//         var now = new Date();
//         var formattedDate = now.toISOString().slice(0, 10); 
//         $("#dateInput_" + itemId).val(formattedDate);
//     } else {
//         $("#inputBox_" + itemId).hide();
//         $("#dateInput_" + itemId).hide();
//         $("#submitBtn_" + itemId).hide();

//         updateCustomerInvoiceAmount(itemId);
//     }
// }

function handlePaymentTypeChange(itemId, dueAmount) {
    var paymentType = $("#ddPaymentmodeid_" + itemId).val();

    if (paymentType == 1 || paymentType == 3) {
        $("#inputBox_" + itemId).show();
        $("#dateInput_" + itemId).show();
        $("#submitBtn_" + itemId).show();

        var now = new Date();
        var formattedDate = now.toISOString().slice(0, 10);
        $("#dateInput_" + itemId).val(formattedDate);

        if (paymentType == 1) {
            $("#inputBox_" + itemId).val(dueAmount);
        }
    } else {
        $("#inputBox_" + itemId).hide();
        $("#dateInput_" + itemId).hide();
        $("#submitBtn_" + itemId).hide();

        updateCustomerInvoiceAmount(itemId);
    }
}


   function updateCustomerInvoiceAmount(itemId) {
    var paymentType = $("#ddPaymentmodeid_" + itemId).val();
    var paidAmount = $("#inputBox_" + itemId).val() || 0;
    var paymentDate = $("#dateInput_" + itemId).val(); // Fetch the date input
    var invoiceId = itemId;

    if ((paymentType == 1 || paymentType == 3) && (isNaN(paidAmount) || paidAmount <= 0)) {
        Swal.fire({
            icon: 'error',
            title: 'Invalid Paid Amount',
            text: 'Please enter a valid paid amount.',
        });
        return;
    }

    if (!paymentDate) {
        Swal.fire({
            icon: 'error',
            title: 'Missing Payment Date',
            text: 'Please select a payment date.',
        });
        return;
    }

    var data = {
        InvoiceId: invoiceId,
        Paymentid: paymentType,
        PaidAmount: parseFloat(paidAmount),
        PaymentDate: paymentDate 
    };

    console.log(data);

    $.ajax({
        url: '@Url.Action("UpdateCustomerInvoiceamount", "Sale")',
        type: 'POST',
        data: data,
        success: function (response) {
            if (response.success) {
                Swal.fire({
                    icon: 'success',
                    title: 'Success',
                    text: response.message,
                }).then(() => {
                    location.reload(); 
                });
            } else {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: response.message,
                });
            }
        },
        error: function (xhr, status, error) {
            console.error(error);
            Swal.fire({
                icon: 'error',
                title: 'Server Error',
                text: 'An error occurred while updating the payment information.',
            });
        }
    });
}



</script>

<script>


    $(document).ready(function () {
        var table = $('#datatable').DataTable();
    @foreach (var item in Model)
    {
        <text>
                    bindpaymenttype('@item.Paymentid', '@item.InvoiceId');
        </text>
    }
            table.on('draw', function () {
    @foreach (var item in Model)
    {
        <text>
                            bindpaymenttype('@item.Paymentid', '@item.InvoiceId');
        </text>
    }
                    });
        $(".Paymentmode-dropdown").change(function () {
            var itemId = $(this).attr('id').split('_')[1];
            toggleInputBoxBasedOnPaymentType(itemId);
        });

        $(".submit-payment").click(function () {
            var itemId = $(this).data('invoiceid');
            updateCustomerInvoiceAmount(timid);
        });

        var userpaymenttype = '@ViewBag.PaymentTypelist';
        if (userpaymenttype != "") {
            bindpaymenttype(userpaymenttype);
        }
        else {
            bindpaymenttype("");
        }
    });

    function toggleInputBoxBasedOnPaymentType(itemId) {
        var selectedPaymentType = $("#ddPaymentmodeid_" + itemId).val();
        var now = new Date();
        var formattedDate = now.toISOString().slice(0, 10); 
       
        if (parseInt(selectedPaymentType) === 1) {
            $("#inputBox_" + itemId).show();
            $("#submitBtn_" + itemId).show();
            $("#dateInput_" + itemId).show();
             $("#dateInput_" + itemId).val(formattedDate);
        } else if (parseInt(selectedPaymentType) === 3) {
            $("#inputBox_" + itemId).show();
            $("#submitBtn_" + itemId).show();
            $("#dateInput_" + itemId).show();
             $("#dateInput_" + itemId).val(formattedDate);
        } else {
            $("#inputBox_" + itemId).hide();
            $("#submitBtn_" + itemId).hide();
            $("#dateInput_" + itemId).hide();
        }
    }

</script>


<script type="text/javascript">
    function fncamount(inputElement, maxLimit, duemaxLimit) {
        var value = inputElement.value.trim();

        // Check if the input value is a valid number
        if (isNaN(value) || value === '') {
            Swal.fire({
                title: 'Error',
                text: 'Please enter a valid number.',
                icon: 'error',
                confirmButtonText: 'OK'
            });
            inputElement.value = '';
            return;
        }

        // Convert the value to a float for comparison
        var numericValue = parseFloat(value);

        // Validate that the value is not negative
        if (numericValue < 0) {
            Swal.fire({
                title: 'Error',
                text: 'Amount cannot be negative.',
                icon: 'error',
                confirmButtonText: 'OK'
            });
            inputElement.value = '';
            return;
        }

        // Check if duemaxLimit is 0, then use maxLimit as the primary validation
        var effectiveLimit = duemaxLimit > 0 ? duemaxLimit : maxLimit;

        // Validate against the effective limit (either Due Amount or Total Amount)
        if (numericValue > effectiveLimit) {
            Swal.fire({
                title: 'Error',
                text: `Payment cannot exceed the allowed amount of ${effectiveLimit}.`,
                icon: 'error',
                confirmButtonText: 'OK'
            });
            inputElement.value = '';
            return;
        }

        // If the input passes all checks, it is valid
        console.log(`Valid input: ${numericValue}`);
    }

</script>

