@model CRM.Models.DTO.CustomerInvoiceDTO

@{
    ViewData["Title"] = "Invoice";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

<style>
    .select2-container .select2-selection--single {
        height: 34px !important;
    }

    .select2-container--default .select2-selection--single {
        border: 1px solid #ccc !important;
        border-radius: 0px !important;
    }

    .select2-results__options {
        display: grid !important;
    }

</style>
<div class="page-wrapper">
    <div class="page-body-wrapper">
        <div class="page-sidebar">
        </div>

        <div class="page-body">

            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="page-header-left">
                                <h2>
                                    @ViewBag.Heading
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <ol class="breadcrumb pull-right">
                                <li class="breadcrumb-item"><a href="/Home/Dashboard"><i data-feather="home"></i></a></li>
                                <li class="breadcrumb-item">CRM</li>
                                <li class="breadcrumb-item active">Sales</li>
                                <li class="breadcrumb-item active">Invoice</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid Ends-->
            <!-- Container-fluid starts-->

            <div class="container-fluid">

                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="customerName">Customer Name <span class="text-danger">*</span></label>
                        <input type="text" id="customerId" value="@ViewBag.CustomerId" hidden />
                        <input type="text" id="customerName" name="CustomerId" class="form-control" value="@ViewBag.CustomerName" placeholder="Type to search..." autocomplete="off" required>
                        <div id="customerSuggestions" class="list-group"></div>
                    </div>
                </div>
                <!--Notepad-->
                <div class="row d-none" id="customerDetailsRow">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3>Customer Details</h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        @* <h4>Office Details</h4> *@
                                        <div class="form-group">
                                            <label for="officeStateLabel"><b>Office State :</b></label>
                                            <p id="officeStateLabel" class="form-control-static">N/A</p>
                                        </div>
                                        <div class="form-group">
                                            <label for="officeCityLabel"><b>Office City :</b></label>
                                            <p id="officeCityLabel" class="form-control-static">N/A</p>
                                        </div>
                                        <div class="form-group">
                                            <label for="officeAddressLabel"><b>Office Address :</b></label>
                                            <p id="officeAddressLabel" class="form-control-static">N/A</p>
                                        </div>
                                        <div class="form-group">
                                            <label for="officeAddressLabel"><b>Mobile Number :</b></label>
                                            <p id="mobileNumberLabel" class="form-control-static">N/A</p>
                                        </div>
                                        <div class="form-group">
                                            <label for="officeAddressLabel"><b>Email :</b></label>
                                            <p id="emailNumberLabel" class="form-control-static">N/A</p>
                                        </div>
                                        <div class="form-group">
                                            <label for="officeAddressLabel"><b>GST Number :</b></label>
                                            <p id="gstNumberLabel" class="form-control-static">N/A</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        @* <h4>Billing Details</h4> *@
                                        <div class="form-group">
                                            <label for="billingStateLabel"><b>Billing State :</b></label>
                                            <input class="billingStateId" type="text" hidden />
                                            <p id="billingStateLabel" class="form-control-static">N/A</p>
                                        </div>
                                        <div class="form-group">
                                            <label for="billingCityLabel"><b>Billing City :</b></label>
                                            <p id="billingCityLabel" class="form-control-static">N/A</p>
                                        </div>
                                        <div class="form-group">
                                            <label for="billingAddressLabel"><b>Billing Address :</b></label>
                                            <p id="billingAddressLabel" class="form-control-static">N/A</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group" style="display:flex; justify-content:right;">
                    <button type="button" class="btn btn-success" id="addSection"><i class="fa fa-plus"></i> Add Product</button>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <form asp-action="Invoice" method="post" autocomplete="off">
                                    <div id="customerSections">
                                        <!-- Initial Customer Section -->
                                        <div class="customer-section">
                                            <div class="row">

                                                <div class="form-group col-sm">
                                                    <label for="ProductDetails">Product <span class="text-danger">*</span></label>
                                                    @Html.DropDownListFor(model => model.ProductId, new SelectList(ViewBag.ProductDetails, "Value", "Text"), "-- Select Product --", new { @class = "form-control ProductDetails select2", required = "required", onchange = "updateTaxFields()" })
                                                    <span asp-validation-for="ProductId" class="text-danger"></span>
                                                </div>
                                                <div class="form-group col-sm">
                                                    <label for="Price">Description <span class="text-danger">*</span></label>
                                                    <textarea class="form-control Description"  name="Description" type="text"></textarea>
                                                    <span asp-validation-for="Description" class="text-danger"></span>
                                                </div>
                                                <div class="form-group col-sm">
                                                    <label for="Price">Price <span class="text-danger">*</span></label>
                                                    <input class="form-control Price" placeholder="00.0" name="ProductPrice" id="Price" type="text" readonly>
                                                    <span asp-validation-for="ProductPrice" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-sm">
                                                    <label for="RenewPrice">Renew Price <span class="text-danger">*</span></label>
                                                    <input class="form-control RenewPrice" name="RenewPrice" value="@ViewBag.Renewprice" type="text" onkeydown="validateNumericInput(event)">
                                                    <span asp-validation-for="RenewPrice" class="text-danger"></span>
                                                </div>
                                                <div class="form-group col-sm">
                                                    <label for="NoOfRenewMonth">Number Of Renew Month <span class="text-danger">*</span></label>
                                                    <input class="form-control NoOfRenewMonth" name="NoOfRenewMonth" value="@ViewBag.NoOfRenewMonth" required placeholder="1" type="text" onkeydown="validateNumericInput(event)" maxlength="2">
                                                    <span asp-validation-for="NoOfRenewMonth" class="text-danger"></span>
                                                </div>
                                                <div class="form-group col-sm">
                                                    <label for="hsnSacCode">HSN/SAC Code</label>
                                                    <input type="text" class="form-control HsnSacCode" placeholder="HsnSacCode" readonly />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-sm">
                                                    <label for="StartDate">Start Date <span class="text-danger">*</span></label>
                                                    <input name="StartDate" type="date" class="form-control StartDate" required oninvalid="this.setCustomValidity('Please select StartDate')" oninput="this.setCustomValidity('')" value="@ViewBag.startDate" />
                                                    <span asp-validation-for="StartDate" class="text-danger"></span>
                                                </div>
                                                <div class="form-group col-sm">
                                                    <label for="RenewDate">Renew Date <span class="text-danger">*</span></label>
                                                    <input name="RenewDate" type="date" class="form-control RenewDate" required readonly oninvalid="this.setCustomValidity('Please select RenewDate')" oninput="this.setCustomValidity('')" value="@ViewBag.renewDate" />
                                                    <span asp-validation-for="RenewDate" class="text-danger"></span>
                                                </div>
                                            </div>


                                            <div class="row">
                                                <div class="form-group col-sm">
                                                    <label for="IGST">IGST</label>
                                                    <input type="text" class="form-control IGST" placeholder="00.0" readonly />
                                                </div>
                                                <div class="form-group col-sm">
                                                    <label for="SGST">SGST</label>
                                                    <input type="text" class="form-control SGST" placeholder="00.0" readonly />
                                                </div>
                                                <div class="form-group col-sm">
                                                    <label for="CGST">CGST</label>
                                                    <input type="text" class="form-control CGST" placeholder="00.0" readonly />
                                                </div>
                                            </div>
                                            <!-- Initially hidden remove button -->
                                            <button type="button" class="btn btn-danger remove-section" style="display:none;">Remove</button>
                                        </div>
                                    </div>

                                    <div class="form-group" style="display:flex; justify-content:center;">
                                        <input type="button" value="@ViewBag.btnText" onclick="sendProductDetailsToAPI()" class="btn btn-primary" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <input hidden type="text" id="iGST" value="" />
    <input hidden type="text" id="cGST" value="" />
    <input hidden type="text" id="sGST" value="" />
    <input hidden type="text" id="hsnSacCode" value="" />
    <input hidden type="text" id="price" value="" />
    <input hidden type="text" id="stateid" />
    <input type="hidden" id="cityId" />
    <input type="hidden" id="checkvendorbillingstateid" value="@ViewBag.checkvendorbillingstateid" />
</div>

<!-- Add this in the head section of your HTML -->
<script>
    
    var productdata = '@Html.Raw(Json.Serialize(Model.customerInvoice))';
    var ProductList = JSON.parse(productdata);
    debugger
</script>

<script src="~/js/invoice.js"></script>
<script>
    $('.select2').select2();
</script>

 
