@model IEnumerable<CRM.Models.Crm.CustomerRegistration>

@{
    ViewData["Title"] = "CustomerList";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="page-wrapper">
    <div class="page-body-wrapper">
        <div class="page-sidebar">
        </div>
        <!-- Page Sidebar Ends-->
        <!-- Right sidebar Start-->
        <!-- Right sidebar Ends-->

        <div class="page-body">

            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="page-header-left">
                                <h3>
                                    Customer List
                                </h3>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <ol class="breadcrumb pull-right">
                                <li class="breadcrumb-item"><a href="/Home/Dashboard"><i data-feather="home"></i></a></li>
                                <li class="breadcrumb-item">Customer</li>
                                <li class="breadcrumb-item active">CustomerList</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid Ends-->
            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="row">

                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <div  class=" table-responsive">
                                    <table id="datatable" class="table table-responsive">
                                        <thead>
                                            <tr style="background-color: #00baf2;">
                                                <th nowrap>
                                                    Company Name
                                                </th>
                                                <th nowrap>
                                                    Contact PersonName
                                                </th>
                                                <th nowrap>
                                                    MobileNumber
                                                </th>
                                                <th nowrap>
                                                    Alternate Number
                                                </th>
                                                <th nowrap>
                                                   Email
                                                </th>
                                                <th nowrap>
                                                   Gst Number
                                                </th>
                                                <th nowrap>
                                                   Billing Address
                                                </th>
                                                <th nowrap>
                                                    Product Name
                                                </th>
                                                <th nowrap>
                                                    StartDate
                                                </th>
                                                <th nowrap>
                                                    RenewDate
                                                </th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.CompanyName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.ContactPersonName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.MobileNumber)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.AlternateNumber)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Email)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.GstNumber)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.BillingAddress)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.ProductDetails)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.StartDate)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.RenewDate)
                                                    </td>
                                                    <td>
                                                        <div>
                                                            <i class="fa fa-edit me-2 font-success"></i>
                                                            <i class="fa fa-trash font-danger"></i>
                                                            <button class="btn btn-primary">
                                                                <i class="fas fa-button"></i> Genrate 
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="pagination-container">
                <ul id="pagination" class="pagination"></ul>
            </div>
        </div>


    </div>

</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    var currentPage = 1;
    var rowsPerPage = 20;
    $(document).ready(function () {
        function paginateTable() {
            var table = $('#datatable');
            var rows = table.find('tbody tr');


            var totalPages = Math.ceil(rows.length / rowsPerPage);


            var pagination = $('#pagination');
            pagination.empty();

            for (var i = 1; i <= totalPages; i++) {
                var link = $('<li class="page-item"><a class="page-link" href="#">' + i + '</a></li>');


                if (i === currentPage) {
                    link.addClass('active');
                }

                pagination.append(link);
            }


            var startIndex = (currentPage - 1) * rowsPerPage;
            var endIndex = startIndex + rowsPerPage;

            rows.hide().slice(startIndex, endIndex).show();
        }


        paginateTable();

        $(document).on('click', '#pagination li a', function (event) {
            event.preventDefault();

            var clickedPage = parseInt($(this).text());


            currentPage = clickedPage;
            paginateTable();


            $('html, body').animate({ scrollTop: $('#table-container').offset().top }, 'slow');
        });
    });

</script>
  

 

