@model CRM.Models.DTO.FeaturebenifitsDto

@{
    ViewData["Title"] = "Featurebenifits";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/summernote-bs5.min.css'>

<style>
    .dataTables_wrapper table.dataTable th {
        background-color: #00baf2 !important;
        padding: 24px 0.75rem !important;
    }
</style>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var message = "@TempData["msg"]";

        if (message == "ok" || message == "dltok" || message == "updok") {
            if (message) {
                let alertText;

                if (message == "dltok") {
                    alertText = "Deleted successfully.";
                } else if (message == "updok") {
                    alertText = "Features & Benefits updated successfully.";
                } else {
                    alertText = "Features & Benefits added successfully.";
                }

                Swal.fire({
                    title: 'Success',
                    text: alertText,
                    icon: 'success',
                    confirmButtonText: 'OK'
                }).then((result) => {
                    if (result.isConfirmed) {
                        setTimeout(function () {
                            window.location.href = '@Url.Action("Featurebenifits", "Home")';
                        }, 1000);
                    }
                });
            }
        }
        else {
            if (message) {
                Swal.fire({
                    title: 'Failed',
                    text: message,
                    icon: 'error',
                    confirmButtonText: 'OK'
                }).then((result) => {
                    if (result.isConfirmed) {
                        setTimeout(function () {
                            window.location.href = '@Url.Action("Featurebenifits", "Home")';
                        }, 1000);
                    }
                });
            }
        }
    });
</script>


<div class="page-wrapper">
    <div class="page-body-wrapper">
        <div class="page-sidebar">
        </div>
        <div class="page-body">
            <div class="container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="page-header-left">
                                <h2>
                                    @ViewBag.heading
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <ol class="breadcrumb pull-right">
                                <li class="breadcrumb-item"><a href="/Home/Dashboard"><i data-feather="home"></i></a></li>
                                <li class="breadcrumb-item">Settings</li>
                                <li class="breadcrumb-item active">Features & Benefits</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <form asp-action="Featurebenifits" enctype="multipart/form-data" autocomplete="off" onsubmit="return validateForm()">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="row gx-3 mb-3">
                                        <div class="form-group col-md-6">
                                            <label for="Title" class="control-label">Title</label>
                                            <input type="hidden" name="Id" value="@ViewBag.id" />
                                            <input type="text" name="Title" id="Title" value="@ViewBag.Tittle" placeholder="Enter Title" class="form-control" required />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="ImageFile" class="control-label">Upload Image</label>
                                            <input type="file" accept=".png,.jpg,.jpeg" id="ImageFile" name="ImageFile" class="form-control" />
                                            <input type="hidden" value="@ViewBag.FilePath" name="FilePath" />
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label for="Content" class="control-label">Description</label>
                                        <textarea rows="10" name="Content" id="FeaturebenifitsSummernote" cols="5" class="form-control"
                                                  placeholder="Default textarea">@ViewBag.Content</textarea>
                                    </div>
                                    @if (ViewBag.id > 0)
                                    {
                                        <div class="form-group col-md-6">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="IsActive" name="IsActive" value="true" />
                                                <label class="form-check-label" for="IsActive">Is Active</label>
                                            </div>
                                        </div>




                                    }
                                    <div class="form-group">
                                        <input type="submit" value="@ViewBag.btnText" class="btn btn-primary" />
                                        @if (ViewBag.id > 0)
                                        {
                                            <a href="/Home/Featurebenifits" class="btn btn-danger">Cancel</a>
                                        }
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <div class=" table-responsive">
                                    <table id="datatable" class="table table-responsive">
                                        <thead>
                                            <tr>
                                                <th nowrap>Sl. No.</th>
                                                <th nowrap>
                                                    Image
                                                </th>
                                                <th>Title</th>
                                                <th>Description</th>
                                                <th>Created At</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                var count = 0;
                                                foreach (var item in Model.FeaturebenifitList)
                                                {
                                                    count++;
                                                    <tr class="table-row">
                                                        <td>@count</td>
                                                        <td>
                                                            <a href="~/image/@item.Image"><img src="~/image/@item.Image" alt="Expertise Image" style="width:100px;" /></a>
                                                        </td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.Title)
                                                        </td>
                                                        <td>
                                                            @Html.Raw(@item.Content)
                                                        </td>
                                                        <td>
                                                            @item.PublishedDate
                                                        </td>
                                                        <td>
                                                            <a href="/Home/Featurebenifits?Id=@item.Id" class="fa fa-edit m-2 font-success"></a>
                                                        </td>
                                                        <td>
                                                            <a href="/Home/DeleteFeaturebenifits?Id=@item.Id" onclick="return confirm('Are you sure want to delete?')" class="fa fa-trash m-2 font-danger"></a>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>




<script>
    $(document).ready(function () {
        $('#datatable').DataTable();
    });

    var isactive = '@(ViewBag.IsActive?.ToString().ToLower() ?? "false")';

    if (isactive === "true") {
        $("#IsActive").prop("checked", true);
    } else {
        $("#IsActive").prop("checked", false);
    }

</script>


<script>
    $(document).ready(function () {
        $('#FeaturebenifitsSummernote').summernote({
            height: 300, // Set the height in pixels
            toolbar: [
                // [groupName, [list of button]]
                ['para', ['style', 'ul', 'ol', 'paragraph']],
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['font', ['strikethrough', 'superscript', 'subscript']],
                ['color', ['color']],
                ['height', ['height']],
                ['insert', ['picture', 'link', 'video', 'table', 'hr']],
                ['misc', ['fullscreen', 'codeview', 'undo', 'redo', 'help']]
            ]
        });
    });
</script>
