@model IEnumerable<CRM.Models.Crm.GstMaster>

@{
    ViewData["Title"] = "Gst";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var message = "@TempData["Message"]";

        if (message) {
            Swal.fire({
                title: 'Success',
                text: message,
                icon: 'info',
                confirmButtonText: 'OK'
            }).then((result) => {
                if (result.isConfirmed) {
                    setTimeout(function () {
                        window.location.href = '@Url.Action("Gstmasterlist", "Home")';
                    }, 1000);
                }
            });
        }
    });
</script>

<div class="page-wrapper">
    <div class="page-body-wrapper">
        <div class="page-sidebar">
        </div>

        <div class="page-body">

            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="page-header-left">
                                <h2>
                                    @ViewBag.Heading
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <ol class="breadcrumb pull-right">
                                <li class="breadcrumb-item"><a href="/Home/Dashboard"><i data-feather="home"></i></a></li>
                                <li class="breadcrumb-item">Settings</li>
                                <li class="breadcrumb-item active">GST</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid Ends-->
            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <form asp-action="Gstmaster" autocomplete="off" onsubmit="return validateForm()">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group col-sm-4">
                                        <label class="control-label">GST</label>
                                        <input type="hidden" name="Id" value="@ViewBag.id" />
                                        <input name="GstPercentagen" value="@ViewBag.GstPercentagen" class="form-control" />
                                        <span name="GstPercentagen" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="@ViewBag.btnText" class="btn btn-primary" />
                                        @if (ViewBag.id > 0)
                                        {
                                            <a href="/Home/Gstmaster" class="btn btn-danger">Cancel</a>
                                        }
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">

                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <div class=" table-responsive">
                                    <table id="datatable" class="table table-responsive">
                                        <thead>
                                            <tr style="background-color: #00baf2;">
                                                <th nowrap>Sl. No.</th>
                                                <th>
                                                    GST
                                                </th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                var count = 0;
                                                foreach (var item in Model)
                                                {
                                                    count++;
                                                    <tr class="table-row">
                                                        <td>@count</td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.GstPercentagen) %
                                                        </td>
                                                        <td>
                                                            <div>
                                                                <a href="@Url.Action("Gstmaster","Home",new { id=item.Id})" class="fa fa-edit m-2 font-success"></a>
                                                                <a href="javascript:void(0);" onclick="confirmDelete('@Url.Action("DeleteGstmaster", "Home", new { id = item.Id })')" class="fa fa-trash font-danger"></a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="pagination-container">
                <ul id="pagination" class="pagination"></ul>
    </div>

</div>
<script>
    function validateForm() {
        var designationName = document.getElementById('GstPercentagen').value;

        if (designationName.trim() === '') {
            alert('GstPercentagen Name  cannot be blank.');
            return false;
        }

        return true;
    }
</script>
        <script>
            var currentPage = 1;
            var rowsPerPage = 5;
            $(document).ready(function () {
                function paginateTable() {
                    var table = $('#datatable');
                    var rows = table.find('tbody tr');


                    var totalPages = Math.ceil(rows.length / rowsPerPage);


                    var pagination = $('#pagination');
                    pagination.empty();

                    for (var i = 1; i <= totalPages; i++) {
                        var link = $('<li class="page-item"><a class="page-link" href="#">' + i + '</a></li>');


                        if (i === currentPage) {
                            link.addClass('active');
                        }

                        pagination.append(link);
                    }


                    var startIndex = (currentPage - 1) * rowsPerPage;
                    var endIndex = startIndex + rowsPerPage;

                    rows.hide().slice(startIndex, endIndex).show();
                }


                paginateTable();

                $(document).on('click', '#pagination li a', function (event) {
                    event.preventDefault();

                    var clickedPage = parseInt($(this).text());


                    currentPage = clickedPage;
                    paginateTable();


                    $('html, body').animate({ scrollTop: $('#table-container').offset().top }, 'slow');
                });
            });

        </script>
        <script>
            function confirmDelete(url) {
                var result = confirm("Are you sure you want to delete?");
                if (result) {
                    window.location.href = url;
                }
            }
        </script>
