@model IEnumerable<CRM.Models.Crm.Quation>

@{
    ViewData["Title"] = "QuationList";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="page-wrapper">
    <div class="page-body-wrapper">
        <div class="page-sidebar">
        </div>

        <div class="page-body">

            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="page-header-left">
                                <h2>
                                    Quotation List
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <ol class="breadcrumb pull-right">
                                <li class="breadcrumb-item"><a href="/Home/Dashboard"><i data-feather="home"></i></a></li>
                                <li class="breadcrumb-item">Quotation</li>
                                <li class="breadcrumb-item active">QuotationList</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid Ends-->
            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="row">

                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
         <div class=" table-responsive">
                                    <table id="datatable" class="table table-responsive">
                  <thead>
                                            <tr style="background-color: #00baf2;">
                                                <th nowrap>Sl. No.</th>
            <th>
                Company Name
            </th>
            <th>
                Customer Name
            </th>
            <th>
               Email
            </th>
            <th>
               SalesPerson Name
            </th>
            <th>
             Product Name
            </th>
            <th>
                Subject
            </th>
            <th>
                Amount
            </th>
            <th>
                Mobile
            </th>
            <th>Action</th>
        </tr>
    </thead>
             <tbody>
                                           @{
                                                var count = 0;
                                                @foreach (var item in Model)
                                            {
                                                    count++;
                                                        <tr class="table-row">
                                                            <td>@count</td>
              
                    <td>
                                                            @Html.DisplayFor(modelItem => item.CompanyName)
                    </td>
                    <td>
                                                            @Html.DisplayFor(modelItem => item.CustomerName)
                    </td>
                    <td>
                                                            @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                                                            @Html.DisplayFor(modelItem => item.SalesPersonName)
                    </td>
                    <td>
                                                            @Html.DisplayFor(modelItem => item.ProductId)
                    </td>
                    <td>
                                                            @Html.DisplayFor(modelItem => item.Subject)
                    </td>
                    <td>
                                                            @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                                                            @Html.DisplayFor(modelItem => item.Mobile)
                    </td>
                    <td>
                                                            @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                                <div>
                                                                <a href="#" class="fa fa-edit m-2 font-success" data-toggle="modal" data-target="#editModal" onclick="EditQuation(@item.Id)"></a>
                                         <a href="@Url.Action("DeleteQuation","Home",new { id=item.Id})" class="fa fa-trash font-danger"></a>
                                 </div>
                    </td>
                                         </tr>
                                            }
                                            }
                                                      </tbody>
                                                       </table>
                               </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div id="pagination-container">
                <ul id="pagination" class="pagination"></ul>
            </div>
            </div>


        </div>

    </div>


<div id="editModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Quation</h4>
                <a id="closePopup" href="#" class="btn btn-danger" data-dismiss="modal">X</a>
            </div>
            <div class="modal-body">
                <!-- Add your form fields here -->
                <form action="EditQuation" method="post">
                    <input name="ID" type="text" id="pID" style="display:none">

                    <div class="row">
                        <div class="form-group col-sm">
                            <label for="CompanyName">CompanyName:</label>
                            <input name="CompanyName" type="email" id="CompanyName" class="form-control">
                        </div>
                        <div class="form-group col-sm">
                            <label for="CustomerName">CustomerName:</label>
                            <input name="CustomerName" type="tel" id="CustomerName" class="form-control">
                        </div>

                    </div>

                    <div class="row">
                        <div class="form-group col-sm">
                            <label for="Email">Email:</label>
                            <input name="Email" type="Email" id="Email" class="form-control">
                        </div>
                        <div class="form-group col-sm">
                            <label for="SalesPersonName">SalesPersonName:</label>
                            <input name="SalesPersonName" type="text" id="SalesPersonName" class="form-control">
                        </div>

                    </div>

                    <div class="row">
                        <div class="form-group col-sm">
                            <label for="ProductId">ProductId:</label>
                            <select id="ProductId" name="ProductId" class="form-control searchableselect"></select>
                        </div>
                        <div class="form-group col-sm">
                            <label for="Subject">Subject:</label>
                            <input name="Subject" type="text" id="Subject" class="form-control">
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm">
                            <label for="Amount">Amount:</label>
                            <input name="Amount" type="text" id="Amount" class="form-control">
                        </div>
                        <div class="form-group col-sm">
                            <label for="Mobile">Mobile:</label>
                            <input name="Mobile" type="text" id="Mobile" class="form-control">
                        </div>

                    </div>

                    <!-- Add a save button to submit the edited data -->
                    <button class="btn btn-warning" id="btnUpdate">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>





<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


<script>

    // jQuery code to close the modal on click of the "Close" link
    $(document).ready(function () {
        $("#closePopup").click(function () {
            $("#editModal").modal("hide");
        });
    });

    function EditQuation(id) {
        debugger;
        $.ajax({
            url: '/Home/EditQuation?id=' + id,
            type: 'GET',
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            success: function (response) {
                debugger;
                // Handle the success response, for example, load it into the modal
                $('#editModal').modal('show');
                $('#CompanyName').val(response.emp.companyName);
                $('#CustomerName').val(response.emp.customerName);
                $('#Email').val(response.emp.email);
                $('#SalesPersonName').val(response.emp.salesPersonName);
                $('#Subject').val(response.emp.subject);
                $('#Amount').val(response.emp.amount);
                $('#Mobile').val(response.emp.mobile);
                $('#pID').val(response.emp.id);


                $('#ProductId').empty();
                var row = "";
                $('#ProductId').html('');
                row += "<option value=''>-- Select Product --</option>";
                $.each(response.productdata, function (ind, item) {
                    var isSelected = item.id === response.emp.productId;
                    row += "<option value='" + item.id + "' " + (isSelected ? "selected" : "") + ">" + item.productName + "</option>";

                });
                $('#ProductId').html(row);
                $('#ProductId').val(response.emp.productId);
                $('#staticBackdrop').modal('show');
            },
            error: function () {
                alert('Data not found');
            }
        });
    }

</script>
<script>
    var currentPage = 1;
    var rowsPerPage = 20;
    $(document).ready(function () {
        function paginateTable() {
            var table = $('#datatable');
            var rows = table.find('tbody tr');


            var totalPages = Math.ceil(rows.length / rowsPerPage);


            var pagination = $('#pagination');
            pagination.empty();

            for (var i = 1; i <= totalPages; i++) {
                var link = $('<li class="page-item"><a class="page-link" href="#">' + i + '</a></li>');


                if (i === currentPage) {
                    link.addClass('active');
                }

                pagination.append(link);
            }


            var startIndex = (currentPage - 1) * rowsPerPage;
            var endIndex = startIndex + rowsPerPage;

            rows.hide().slice(startIndex, endIndex).show();
        }


        paginateTable();

        $(document).on('click', '#pagination li a', function (event) {
            event.preventDefault();

            var clickedPage = parseInt($(this).text());


            currentPage = clickedPage;
            paginateTable();


            $('html, body').animate({ scrollTop: $('#table-container').offset().top }, 'slow');
        });
    });

</script>
