@model IEnumerable<CRM.Models.DTO.WorkLocationDTO>

@{
    ViewData["Title"] = "WorkLocationlist";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
@if (TempData["ErrorMessage"] != null)
{
    <script>alert('@TempData["ErrorMessage"]');</script>
}
<div class="page-wrapper">
    <div class="page-body-wrapper">
        <div class="page-sidebar">
        </div>
        <div class="page-body">
            <div class="container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="page-header-left">
                                <h2>
                                    WorkLocation
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <ol class="breadcrumb pull-right">
                                <li class="breadcrumb-item"><a href="/Home/Dashboard"><i data-feather="home"></i></a></li>
                                <li class="breadcrumb-item">Settings</li>
                                <li class="breadcrumb-item active">WorkLocationList</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">

                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <div class=" table-responsive">
                                    <div style="text-align: right;">
                                        <p>
                                            <a class="btn btn-primary" asp-action="WorkLocation" style="color: black;"><i class="fa fa-plus"></i>Add WorkLocation</a>
                                        </p>
                                    </div>

                                    <br />
                                    <table id="datatable" class="table table-responsive">
                                        <thead>
                                            <tr style="background-color: #00baf2;">
                                                <th nowrap>Sl. No.</th>
                                                <th>
                                                    State Name
                                                </th>
                                                <th>
                                                    City Name
                                                </th>
                                                <th>
                                                    Commissonin Percentage
                                                </th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
@*                                             @{
                                                var count = 0;
                                                @foreach (var item in Model)
                                                {
                                                    count++;
                                                    <tr class="table-row">
                                                        <td>@count</td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.State)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.City)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Commissoninpercentage)
                                                        </td>
                                                        <td>
                                                            <div>
                                                                <a href="#" class="fa fa-edit m-2 font-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop" onclick="EditWorkLocation(@item.Id)"></a>
                                                                <a href="@Url.Action("DeleteWorkLocation","Home",new { id=item.Id})" class="fa fa-trash font-danger"></a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            } *@
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>


<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Edit WorkLocation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form action="EditWorkLocation" method="post" autocomplete="off">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input name="Id" type="text" id="Id" style="display:none">

                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label class="control-label">State Name</label>
                                    <div>
                                        <select class="form-control" name="StateId" id="ddlState"></select>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="control-label">City Name</label>
                                    <div>
                                        <select class="form-control" name="CityId" id="ddlCity"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label for="validationCustom0">Commissonin percentage</label>
                                    <input class="form-control" id="Commissonin" name="Commissoninpercentage" type="text" required="">

                                </div>
                            </div>


                            <button class="btn btn-warning" id="btnUpdate">Update</button>
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="cityId" />
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    function EditWorkLocation(id) {
        debugger;
        $.ajax({
            url: '/Home/EditWorkLocation?id=' + id,
            type: 'GET',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                debugger;
                $('#Id').val(response.loc.id);
                $('#ddlState').val(response.loc.stateId);
                $('#cityId').val(response.loc.cityId);
                $('#Commissonin').val(response.loc.commissoninpercentage);
                $('#staticBackdrop').modal('show');

                var StateId = parseInt(response.loc.stateId);
                if (!isNaN(StateId)) {
                    var ddlCity = $('#ddlCity');
                    ddlCity.empty().append($("<option></option>").val('').html('Please wait ...'));

                    $.ajax({
                        url: '/Home/BindCityDetails',
                        type: 'GET',
                        dataType: 'json',
                        data: { stateId: StateId },
                        success: function (d) {
                            ddlCity.empty();
                            ddlCity.append($("<option></option>").val('').html('Select City Name'));
                            $.each(d, function (i, cities) {
                                ddlCity.append($("<option></option>").val(cities.id).html(cities.city1));
                            });

                            $('#ddlCity').val($('#cityId').val());
                        },
                        error: function () {
                            alert('Error loading city data');
                        }
                    });
                }
            },
            error: function () {
                alert('Data not found');
            }
        });
    }
</script>
<script>
    $(document).ready(function () {
        var ddlState = $('#ddlState');
        ddlState.append($("<option></option>").val('').html('Please Select State'));
        $.ajax({
            url: '/Home/BindStateDetails',
            type: 'GET',
            dataType: 'json',
            success: function (d) {
                $.each(d, function (i, states) {
                    ddlState.append($("<option></option>").val(states.id).html(states.sName));
                });
            },
            error: function () {
                alert('Error!');
            }
        });
        //City Bind By satate id
        $("#ddlState").change(function () {
            var StateId = parseInt($(this).val());
            if (!isNaN(StateId)) {
                var ddlCity = $('#ddlCity');
                ddlCity.append($("<option></option>").val('').html('Please wait ...'));

                debugger;
                $.ajax({
                    url: '/Home/BindCityDetails',
                    type: 'GET',
                    dataType: 'json',
                    data: { stateId: StateId },
                    success: function (d) {
                        ddlCity.empty(); // Clear the plese wait
                        ddlCity.append($("<option></option>").val('').html('Select City Name'));
                        $.each(d, function (i, cities) {
                            ddlCity.append($("<option></option>").val(cities.id).html(cities.city1));
                        });

                    },
                    error: function () {
                        alert('Error!');
                    }
                });
            }
        });
    })
</script>