@model CRM.Models.DTO.EmpAppointmentletter
@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment Letter</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            line-height: 1.6;
        }

        .container {
            max-width: 785px;
            margin: 0 auto;
            border: 1px solid #ddd;
            padding: 20px;
            border-radius: 8px;
        }

        .header {
            background: linear-gradient(135deg, #173564 60%, transparent 50%);
            color: white;
            padding: 1px 0;
            text-align: center;
            font-size: 24px;
            margin-top: 20px;
        }

            .header img {
                margin-right: -548px;
                height: 65px;
            }

        h4 {
            text-align: center;
            margin-bottom: 10px;
            color: #333;
        }

        h3 {
            text-align: left;
            margin-bottom: 10px;
            color: #333;
        }

        .section {
            margin-bottom: 20px;
        }

        ul {
            margin: 10px 0;
        }

            ul li {
                margin: 5px 0;
            }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 10px;
        }

            table th,
            table td {
                border: 1px solid #ddd;
                padding: 8px;
                text-align: left;
            }

        .signature {
            text-align: left;
            margin-top: 30px;
        }

        .footer {
            margin-top: 50px;
            font-size: 0.85em;
            color: #555;
            text-align: center;
            border-top: 2px solid #173564;
            padding-top: 10px;
            position: relative;
        }

            .footer::before {
                content: '';
                position: absolute;
                top: -12px;
                left: 0;
                width: 100%;
                height: 10px;
                background-color: #173564;
            }

        @@page {
            size: A4;
            margin: 1mm auto;
            padding: 60px;
            height: max-content;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="header">
@*             <img src="https://api.ndtechland.com/CompanyImage/638702230297411301.png" style="height:47px;width:118px;">
 *@            <img src="~/CompanyImage/@Model.CompanyImage" alt="Company Logo" class="logo" style="height:47px;width:118px;">
           
        </div>

        <h4>Subject: Appointment as @Model.DepartmentName</h4>
        <div class="section">
            <p>Dear @Model.EmployeeName,</p>
            <p>
                We are pleased to offer you a position as <b>@Model.Designation</b>, at <b>@Model.CompanyName</b>, with your initial posting in
                <b>@Model.JobLocation</b>, upon joining.
            </p>
            <p>
                This appointment is subject to the terms and conditions outlined in Annexure A, as well as the company’s
                prevailing Rules and Regulations. The details regarding your salary, allowances, and perquisites are
                provided in Annexure B.
            </p>
            <p>
                We aim to offer you a rewarding and challenging career, providing ample opportunities for professional
                growth and development.
            </p>
            <p>
                Please return the duplicate copy of this letter, duly signed, as your acceptance of the offer, along
                with Annexure A (Terms of Appointment), Annexure B (Details of Perquisites), and Annexure C (Salary
                Breakdown).
            </p>
            <p>With best wishes,<br><b>@Model.CompanyName</b><br>@Model.CompanyAddress<br>@Model.CompanyEmail</p>
        </div>
        <div class="section">
            <h3>Annexure A: Terms of Appointment</h3>
            <ul>
                <li>
                    <b>Company Policies:</b> Your appointment is governed by the company's Rules and Regulations, which
                    may be updated from time to time.
                </li>
                <li>
                    <b>Start Date and Probation:</b> Your employment will commence from the date mentioned in this
                    letter. You will be on a three-month probation, after which your performance will be reviewed for
                    confirmation.
                </li>
                <li>
                    <b>Notice Period:</b> During the probation period, either party may terminate the employment by
                    giving one week’s notice. After confirmation, the notice period will be one month or three months'
                    basic salary in lieu of notice.
                </li>
                <li>
                    <b>Transferability:</b> You may be transferred to any company location or department as per the
                    needs of the business.
                </li>
                <li><b>Retirement:</b> The company may retire you upon reaching the age of 58 years, if necessary.</li>
                <li>
                    <b>Confidentiality and Conduct:</b> You are expected to maintain confidentiality and adhere to the
                    highest standards of conduct and integrity, as per company policies.
                </li>
                <li>
                    <b>Jurisdiction:</b> In the event of disputes arising from this appointment, jurisdiction will be
                    held by the National Capital Territory of @Model.CompanyState.
                </li>
            </ul>
        </div>
        <div class="section">
            <h3>Annexure B: Details of Perquisites and Allowances</h3>
            <ul>
                <li><b>Name:</b> @Model.EmployeeName</li>
                <li><b>Designation:</b> @Model.Designation</li>
                <li><b>Grade:</b> @Model.Empcode</li>
                <li><b>Location:</b> @Model.JobLocation</li>
                <li><b>Basic Salary:</b> ₹@Model.BasicSalary per month</li>
                <li><b>Date of Joining:</b> @Model.DateOfJoining</li>
                <li><b>Probation Period:</b> Three months from the date of joining</li>
                <li>
                    <b>In addition to your basic salary, the following allowances and benefits will apply:</b>
                    <ol>
                        <li>
                            <b>House Rent Allowance (HRA):</b> @Model.HRAper% of Basic Salary -
                            <ul>
                                <li>₹@Model.HRA per month</li>
                                <li>Annual = ₹@Model.HRAYearly</li>
                            </ul>
                        </li>
                        <li>
                            <b>Medical Reimbursement:</b> Half month’s Basic Salary per annum (first year) -
                            <ul>
                                <li>₹@Model.Medical per month</li>
                                <li>Annual = ₹@Model.MedicalYearly</li>
                            </ul>
                        </li>
                        <li>
                            <b>Conveyance Reimbursement:</b> @Model.Conveyanceper% of Basic Salary -
                            <ul>
                                <li>₹@Model.Conveyance per month</li>
                                <li>Annual = ₹@Model.ConveyanceYearly</li>
                            </ul>
                        </li>
                        <li>
                            <b>Provident Fund (PF):</b> @Model.PFper% of Basic Salary -
                            <ul>
                                <li>₹@Model.PF per month</li>
                                <li>Annual = ₹@Model.PFYearly</li>
                            </ul>
                        </li>
                        <li>
                            <b>Employee State Insurance Corporation (ESIC):</b>@Model.ESICper% of Basic Salary (if salary is below ₹19,000) -
                            <ul>
                                <li>₹@Model.ESIC per month</li>
                                <li>Annual = ₹@Model.ESICYearly</li>
                            </ul>
                        </li>
                        <li>Gratuity and Other Benefits: As per applicable laws</li>

                    </ol>
                </li>
            </ul>
        </div>
        <div class="section">
            <h3>Annexure C: Total Salary Breakdown</h3>
            <table>
                <tr>
                    <th>Component</th>
                    <th>Amount (INR) Per Month</th>
                    <th>Amount (INR) Per Year</th>
                </tr>
                <tr>
                    <td>Basic Salary</td>
                    <td>₹@Model.BasicSalary</td>
                    <td>₹@Model.BasicSalaryYearly</td>
                </tr>
                <tr>
                    <td>House Rent Allowance (HRA)</td>
                    <td>₹@Model.HRA</td>
                    <td>₹@Model.HRAYearly</td>
                </tr>
                <tr>
                    <td>Medical Reimbursement</td>
                    <td>₹@Model.Medical</td>
                    <td>₹@Model.MedicalYearly</td>
                </tr>
                <tr>
                    <td>Conveyance Reimbursement</td>
                    <td>₹@Model.Conveyance</td>
                    <td>₹@Model.ConveyanceYearly</td>
                </tr>
                <tr>
                    <td>Provident Fund (PF)</td>
                    <td>₹@Model.PF</td>
                    <td>₹@Model.PFYearly</td>
                </tr>
                <tr>
                    <td>ESIC</td>
                    <td>₹@Model.ESIC</td>
                    <td>₹@Model.ESICYearly</td>
                </tr>
                <tr>
                    <td><b>Total Gross Salary</b></td>
                    <td><b>₹@Model.TotalMonthlySalary</b></td>
                    <td><b>₹@Model.TotalYearlySalary</b></td>

                </tr>
            </table>
        </div>
        <div class="signature">
            <p>@Model.CompanyName</p>
            <p>@Model.EmployeeName</p>
            <p>Signature: ______________________</p>
            <p>Date: ______________________</p>
        </div>
        <div class="footer">
            <p>
                N D Techland Private Limited<br>
                Head Office: C-53, Sector-2, Noida-201301, U.P. | Branches: Noida | Delhi | Patna | Bangalore<br>
                Web: www.ndtechland.com | Email: info@ndtechland.com
            </p>
        </div>
    </div>
</body>

</html>
