@model CRM.Models.DTO.getempOfferletter
@{
    Layout = "";
}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 16px;
            line-height: 1.6;
        }

        .row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: -30px;
        }
        .container {
            margin-top: 50px;
            margin-bottom: 50px;
            text-align: center;
        }

        p {
            font-size: 16px;
            margin-bottom: 20px;
        }

        b {
            font-weight: bold;
        }

        .content {
            max-width: 800px;
            margin: 0 auto;
            text-align: left;
        }

        .signature-section {
            text-align: right; /* Aligns the signature and date to the right */
            margin-top: 40px; /* Adds spacing above the signature section */
        }

            .signature-section img {
                margin-bottom: 10px;
                max-width: 150px; /* Ensure the image has a max width */
                height: auto; /* Adjust height automatically */
            }

            .signature-section b {
                margin-bottom: 5px;
            }

    </style>
</head>
<body>
    <div class="container">
        <div class="text-center mb-4">
            <img src='~/CompanyImage/@Model.CompanyImage' style="width: 150px; height: 100px;" />
        </div>
        <div class="content">
            <p><b>@Model.CompanyName</b></p>

            <p>Date: <b>@Model.Currentdate</b></p>

            <p>Candidate Address:</p>
            <p>@Model.CandidateAddress<br />@Model.CityName, @Model.StateName, @Model.CandidatePincode</p>

            <p>Subject: Employment Offer Letter</p>

            <p>Dear <b>@Model.Name</b>,</p>

            <p>We are pleased to offer you the full-time position of <b>@Model.DesignationName</b> at <b>@Model.CompanyName</b> with a start date of <b>@Model.DateOfJoining</b>. This offer is contingent upon a background check and the signing of the standard confidentiality agreements.</p>

            <p>Your annual salary will be <b>@Model.AnnualCtc</b>, to be paid on a monthly basis with <b>@Model.MonthlyCtc</b> per month, starting on <b>@Model.DateOfJoining</b>. This offer also includes other benefits, such as stock options and medical coverage, as outlined in the company’s benefits package.</p>

            <p>In your new role, you will be responsible for working on key projects within <b>@Model.DepartmentName</b>. Your duties will include, but are not limited to, developing scalable software systems, maintaining APIs, and ensuring system efficiency.</p>

            <p>This employment will be at-will, meaning that either you or the company may terminate the relationship at any time and for any reason. This letter does not guarantee employment for any specific period of time.</p>

            <p>If you accept this offer, please sign below and return this letter by <b>@Model.Validdate</b>. We look forward to welcoming you to the team!</p>

            <p>Sincerely,</p>         
            <div class="row">
                <div class="col-md-6 signature-section" style="text-align: left;">
                    <p>
                        <b>@Model.HrName</b><br />
                        <b>@Model.HrJobTitle</b><br />
                        <b>@Model.CompanyName</b>
                    </p>
                </div>
                <div class="col-md-6 signature-section" style="text-align: right;">
                    <p><b>Signature:</b> <img src='~/CompanyImage/@Model.HrSignature' style="width: 118px; height: 58px; background-color:white;" /></p>
                    <p><b>Date:</b> @Model.Currentdate</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
