@model IEnumerable<CRM.Models.Crm.EmployeeImportExcel>

@{
    ViewData["Title"] = "Employeelist";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="page-wrapper">
    <div class="page-body-wrapper">
        <div class="page-sidebar">
        </div>
        <!-- Page Sidebar Ends-->
        <!-- Right sidebar Start-->
        <!-- Right sidebar Ends-->

        <div class="page-body">

            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="page-header-left">
                                <h3>
                                    Employee List
                                </h3>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <ol class="breadcrumb pull-right">
                                <li class="breadcrumb-item"><a href="/Home/Dashboard"><i data-feather="home"></i></a></li>
                                <li class="breadcrumb-item">HR Payrole</li>
                                <li class="breadcrumb-item active">Employee</li>
                                <li class="breadcrumb-item active">EmployeeList</li>
                            </ol>

                        </div>
                    </div>
                </div>
            </div>

            <div>
                <img src="~/image/execimage.png" style="height:50px; margin-left:1121px;width:53px;cursor:pointer" title="Export To Excel" onclick="ExportExcelfn()" />

            </div>
            <!-- Container-fluid Ends-->
            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="row">

                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <div class=" table-responsive">
                                    <table id="datatable" class="table table-responsive">
                                        <thead>
                                            <tr style="background-color: #00baf2;">
                                                <th nowrap>
                                                    Sl. No.

                                                </th>
                                                
                                                <th>
                                                    First Name
                                                </th>

                                                <th>
                                                    Middle Name
                                                </th>

                                                <th>
                                                    Last Name
                                                </th>

                                                <th>
                                                    Employee ID
                                                </th>

                                                <th>
                                                    Date Of Joining
                                                </th>

                                                <th>
                                                    Work Email
                                                </th>

                                                <th>
                                                    Gender
                                                </th>

                                                <th>
                                                    WorkLocation
                                                </th>

                                                <th>
                                                    Designation
                                                </th>

                                                <th>
                                                    Department
                                                </th>

                                                <th>
                                                    AnnualCTC
                                                </th>

                                                <th>
                                                    Basic
                                                </th>

                                                <th>
                                                    HouseRentAllowance
                                                </th>

                                                <th>
                                                    ConveyanceAllowance
                                                </th>

                                                <th>
                                                    FixedAllowance
                                                </th>

                                                <th>
                                                    EPF
                                                </th>

                                                <th>
                                                    MonthlyGrossPay
                                                </th>


                                                <th>
                                                    PersonalEmailAddress
                                                </th>

                                                <th>
                                                    MobileNumber
                                                </th>

                                                <th>
                                                    DateOfBirth
                                                </th>

                                                <th>
                                                    Age
                                                </th>

                                                <th>
                                                    FatherName
                                                </th>

                                                <th>
                                                    PAN
                                                </th>

                                                <th>
                                                    AddressLine1
                                                </th>

                                                <th>
                                                    AddressLine2
                                                </th>

                                                <th>
                                                    City
                                                </th>

                                                <th>
                                                    State
                                                </th>

                                                <th>
                                                    Pincode
                                                </th>

                                                <th>
                                                    AccountHolderName
                                                </th>

                                                <th>
                                                    BankName
                                                </th>

                                                <th>
                                                    AccountNumber
                                                </th>

                                                <th>
                                                    ReEnterAccountNumber
                                                </th>

                                                <th>
                                                    IFSC
                                                </th>

                                                <th>
                                                    AccountType
                                                </th>

                                                <th>
                                                    EPF_Number
                                                </th>

                                                <th>
                                                    Deduction_Cycle

                                                </th>

                                                <th>
                                                    Employee_Contribution_Rate
                                                </th>

                                                <th>
                                                    Action
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                var count = 0;
                                                @foreach (var item in Model)
                                                {
                                                    count++;
                                                    <tr class="table-row">
                                                        <td>@count</td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.FirstName)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.MiddleName)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.LastName)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Emp_Reg_ID)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.DateOfJoining)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.WorkEmail)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Gender)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.WorkLocation)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.DesignationName)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.DepartmentName)
                                                        </td>

                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.AnnualCTC)
                                                        </td>

                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Basic)
                                                        </td>

                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.HouseRentAllowance)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.ConveyanceAllowance)
                                                        </td>

                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.FixedAllowance)
                                                        </td>

                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.EPF)
                                                        </td>

                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.MonthlyGrossPay)
                                                        </td>


                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.PersonalEmailAddress)
                                                        </td>

                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Mobile)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.DateOfBirth)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Age)
                                                        </td>

                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.FatherName)
                                                        </td>

                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.PAN)
                                                        </td>

                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.AddressLine1)
                                                        </td>

                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.AddressLine2)
                                                        </td>

                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.City)
                                                        </td>

                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.State)
                                                        </td>

                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Pincode)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.AccountHolderName)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.BankName)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.AccountNumber)
                                                        </td>

                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.ReEnterAccountNumber)
                                                        </td>

                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.IFSC)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.AccountType)
                                                        </td>

                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.EPF_Number)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Deduction_Cycle)
                                                        </td>


                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Employee_Contribution_Rate)
                                                        </td>

                                                        <td>
                                                            <div>
                                                                <a href="EmployeeRegistration?id=@item.Emp_Reg_ID" class="fa fa-edit m-2 font-success"></a>
                                                                <a href="@Url.Action("DeleteEmployee","Employee",new { id=item.EmployeeId})" class="fa fa-trash font-danger"></a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="pagination-container">
                <ul id="pagination" class="pagination"></ul>
            </div>
        </div>


    </div>

</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Edit Employee</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form asp-action="EditEmployee" method="post" autocomplete="off">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input name="Id" type="text" id="Id" style="display:none">
                            <div class="row">
                                <div class="form-group col-sm">
                                    <label for="validationCustom0">First Name</label>
                                    <input class="form-control" id="FirstName" name="FirstName" type="text" required="">
                                </div>
                                <div class="form-group col-sm">
                                    <label for="validationCustom0">Middle Name</label>
                                    <input class="form-control" id="MiddleName" name="MiddleName" type="text" required="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm">
                                    <label for="validationCustom0">Last Name</label>
                                    <input class="form-control" id="LastName" name="LastName" type="text" required="">
                                </div>
                                <div class="form-group col-sm">
                                    <label for="validationCustom0">Work Email</label>
                                    <input class="form-control" id="WorkEmail" name="WorkEmail" type="text" required="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm">
                                    <label for="validationCustom0">Gender</label>
                                    <select id="GenderId" name="GenderId" class="form-control searchableselect"></select>
                                </div>
                                <div class="form-group col-sm">
                                    <label for="validationCustom0">Work Location</label>
                                    <select id="WorkLocationId" name="WorkLocationId" class="form-control searchableselect"></select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm">
                                    <label for="validationCustom0">Designation</label>
                                    <select id="DesignationId" name="DesignationId" class="form-control searchableselect"></select>
                                </div>
                                <div class="form-group col-sm">
                                    <label for="validationCustom0">Department</label>
                                    <select id="DepartmentId" name="DepartmentId" class="form-control searchableselect"></select>
                                </div>
                                <div class="form-group col-sm">
                                    <label for="validationCustom0">Salary</label>
                                    <input class="form-control" id="MonthlyCTC" name="MonthlyCTC" type="text" required="">
                                </div>
                            </div>
                            <button class="btn btn-warning" id="btnUpdate">Update</button>
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    function ExportExcelfn() {

        window.location.href = 'ImportToExcelEmployeeList'
    }
    function EditEmployee(id) {
        debugger;
        $.ajax({
            url: '/Employee/EditEmployee?id=' + id,
            type: 'GET',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                debugger;
                $('#Id').val(response.data.id);
                $('#FirstName').val(response.data.firstName);
                $('#MiddleName').val(response.data.middleName);
                $('#LastName').val(response.data.lastName);
                $('#WorkEmail').val(response.data.workEmail);
                $('#MonthlyCTC').val(response.monthlyCTC.monthlyCtc);
                //bind gender
                $('#GenderId').empty();
                var row = "<option value=''>-- Select Gender --</option>";
                $.each(response.gender, function (ind, item) {
                    var isSelected = item.id === response.data.genderId;
                    row += "<option value='" + item.id + "' " + (isSelected ? "selected" : "") + ">" + item.genderName + "</option>";
                });
                $('#GenderId').html(row);
                $('#GenderId').val(response.data.genderId);
                //worklocation
                $('#WorkLocationId').empty();
                var row = "<option value=''>-- Select WorkLocation --</option>";
                $.each(response.worklocation, function (ind, item) {
                    var isSelected = item.id === response.data.workLocationId;
                    row += "<option value='" + item.id + "' " + (isSelected ? "selected" : "") + ">" + item.addressLine1 + "</option>";
                });
                $('#WorkLocationId').html(row);
                $('#WorkLocationId').val(response.data.workLocationId);
                //Designation
                $('#DesignationId').empty();
                var row = "<option value=''>-- Select Designation --</option>";
                $.each(response.designation, function (ind, item) {
                    var isSelected = item.id === response.data.designationId;
                    row += "<option value='" + item.id + "' " + (isSelected ? "selected" : "") + ">" + item.designationName + "</option>";
                });
                $('#DesignationId').html(row);
                $('#DesignationId').val(response.data.designationId);
                //Department
                $('#DepartmentId').empty();
                var row = "<option value=''>-- Select Designation --</option>";
                $.each(response.department, function (ind, item) {
                    var isSelected = item.id === response.data.departmentId;
                    row += "<option value='" + item.id + "' " + (isSelected ? "selected" : "") + ">" + item.departmentName + "</option>";
                });
                $('#DepartmentId').html(row);
                $('#DepartmentId').val(response.data.departmentId);

                $('#staticBackdrop').modal('show');
            },
            error: function () {
                alert('Data not found');
            }
        });
    }
</script>
<script>
    var currentPage = 1;
    var rowsPerPage = 20;
    $(document).ready(function () {
        function paginateTable() {
            var table = $('#datatable');
            var rows = table.find('tbody tr');


            var totalPages = Math.ceil(rows.length / rowsPerPage);


            var pagination = $('#pagination');
            pagination.empty();

            for (var i = 1; i <= totalPages; i++) {
                var link = $('<li class="page-item"><a class="page-link" href="#">' + i + '</a></li>');


                if (i === currentPage) {
                    link.addClass('active');
                }

                pagination.append(link);
            }


            var startIndex = (currentPage - 1) * rowsPerPage;
            var endIndex = startIndex + rowsPerPage;

            rows.hide().slice(startIndex, endIndex).show();
        }


        paginateTable();

        $(document).on('click', '#pagination li a', function (event) {
            event.preventDefault();

            var clickedPage = parseInt($(this).text());


            currentPage = clickedPage;
            paginateTable();


            $('html, body').animate({ scrollTop: $('#table-container').offset().top }, 'slow');
        });
    });

</script>