@model IEnumerable<CRM.Models.Crm.EmployeeImportExcel>

@{
    ViewData["Title"] = "Employeelist";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel='stylesheet' href='https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css'>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script src='https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js'></script>
<script src='https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js'></script>
<script src='https://cdn.datatables.net/buttons/1.2.2/js/buttons.colVis.min.js'></script>
<script src='https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js'></script>
<script src='https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js'></script>
<script src='https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js'></script>
<script src='https://cdn.datatables.net/buttons/1.2.2/js/buttons.bootstrap.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js'></script>
<script src='https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js'></script>
 


<script>
    document.addEventListener("DOMContentLoaded", function () {
        var message = "@TempData["Message"]";

        if (message == "dltok") {
            if (message) {
                

                Swal.fire({
                    title: 'Success',
                    text: "Deleted successfully.",
                    icon: 'success',
                    confirmButtonText: 'OK'
                }).then((result) => {
                    if (result.isConfirmed) {
                        setTimeout(function () {
                            window.location.href = '@Url.Action("PreviewEmployeelist", "Employee")';
                        }, 1000);
                    }
                });
            }
        }
        else {
            if (message) {
                Swal.fire({
                    title: 'Failed',
                    text: message,
                    icon: 'error',
                    confirmButtonText: 'OK'
                }).then((result) => {
                    if (result.isConfirmed) {
                        setTimeout(function () {
                            window.location.href = '@Url.Action("PreviewEmployeelist", "Employee")';
                        }, 1000);
                    }
                });
            }
        }
    });
</script>
<style>
    .dataTables_wrapper table.dataTable th {
        background-color: #00baf2 !important;
        padding: 24px 0.75rem !important;
    }
</style>

<div class="page-wrapper">
    <div class="page-body-wrapper">
        <div class="page-sidebar">
        </div>
        <div class="page-body">
            <div class="container-fluid">
                <div class="page-header">
                    <div class="row">
                       @*  <div class="col-lg-6">
                            <div class="page-header-left">
                                <h3>
                                    Employee List
                                </h3>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <ol class="breadcrumb pull-right">
                                <li class="breadcrumb-item"><a href="/Home/Dashboard"><i data-feather="home"></i></a></li>
                                <li class="breadcrumb-item">HR Payrole</li>
                                <li class="breadcrumb-item active">Employee</li>
                                <li class="breadcrumb-item active">EmployeeList</li>
                            </ol>

                        </div> *@
                    </div>
                </div>
            </div>
            <!-- Container-fluid Ends-->
            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">

                                <div class="table-responsive" style="margin-top: 16px;">

                                    <table class="table table-hover">
                                        <thead>
                                            <tr style="background-color: #00baf2;">
                                                <th nowrap>
                                                    Sl. No.
                                                </th>

                                                <th nowrap>
                                                    Employee Name
                                                </th> 

                                                <th nowrap>
                                                    Employee ID
                                                </th>

                                                <th nowrap>
                                                    Date Of Joining
                                                </th>

                                                <th nowrap>
                                                    Work Email
                                                </th>

                                                <th nowrap>
                                                    Gender
                                                </th>

                                                <th nowrap>
                                                    WorkLocation
                                                </th> 

                                                <th nowrap>
                                                    Department
                                                </th>
                                                <th nowrap>
                                                    Designation
                                                </th>
                                                <th nowrap>
                                                    AnnualCTC
                                                </th>

                                                <th nowrap>
                                                    Basic
                                                </th>

                                                <th nowrap>
                                                    House Rent Allowance
                                                </th>

                                                <th nowrap>
                                                    Travelling Allowance
                                                </th>
                                                <th nowrap>
                                                    Special Allowance
                                                </th>
                                                <th nowrap>
                                                    Service Charge
                                                </th>
                                                <th nowrap>
                                                    ESIC
                                                </th>
                                                <th nowrap>
                                                    Gross
                                                </th>
                                                <th nowrap>
                                                    EPF
                                                </th>

                                                <th nowrap>
                                                    Monthly GrossPay
                                                </th>


                                                <th nowrap>
                                                    Personal Email Address
                                                </th>

                                                <th nowrap>
                                                    Mobile Number
                                                </th>

                                                <th nowrap>
                                                    Date Of Birth
                                                </th>

                                                <th nowrap>
                                                    Age
                                                </th>

                                                <th nowrap>
                                                    Father  Name
                                                </th>

                                                <th nowrap>
                                                    PAN No
                                                </th>
                                                <th nowrap>
                                                    Aadharcard No
                                                </th>
                                                <th nowrap>
                                                    Employee Address
                                                </th>
                                                <th nowrap>
                                                    Account Holder Name
                                                </th>

                                                <th nowrap>
                                                    Bank Name
                                                </th>

                                                <th nowrap>
                                                    Account Number
                                                </th>
                                                <th nowrap>
                                                    IFSC
                                                </th>
                                                <th nowrap>
                                                    Account Type
                                                </th>
                                                <th nowrap>
                                                    EPF Number
                                                </th>

                                                <th nowrap>
                                                    Deduction Cycle

                                                </th>

                                                <th nowrap>
                                                    Employee Contribution Rate
                                                </th>
                                                <th nowrap>
                                                    Nominee name
                                                </th>
                                                <th nowrap>
                                                    Company Name
                                                </th>
                                                <th nowrap>
                                                    Offer Accept Name
                                                </th>
                                                <th nowrap>
                                                    Shift Time
                                                </th>
                                                <th nowrap>
                                                    Shift Type
                                                </th>
                                                <th nowrap>
                                                    Update Shift
                                                </th>
                                                <th nowrap>
                                                    Profile Image
                                                </th>
                                                <th nowrap>
                                                    AadharOne
                                                </th>
                                                <th nowrap>
                                                    AadharTwo
                                                </th>
                                                <th nowrap>
                                                    Cheque Image
                                                </th>
                                                <th nowrap>
                                                    Pan Image
                                                </th>
                                                <th nowrap>
                                                    Action
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                var count = 0;
                                                @foreach (var item in Model)
                                                {
                                                    count++;
                                                    <tr class="table-row">
                                                        <td>@count</td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.MiddleName)  @Html.DisplayFor(modelItem => item.LastName)
                                                        </td>
                                                         
                                                        <td nowrap class="EmpRegId">
                                                            @Html.DisplayFor(modelItem => item.EmpRegId)
                                                        </td>
                                                        <td nowrap>
                                                            @item.DateOfJoining.ToString("dd/MM/yyyy")
                                                        </td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.WorkEmail)
                                                        </td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.Gender)
                                                        </td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.WorkLocation)
                                                        </td>
                                                        
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.DepartmentName)
                                                        </td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.DesignationName)
                                                        </td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.AnnualCtc)
                                                        </td>

                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.Basic)
                                                        </td>

                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.HouseRentAllowance)
                                                        </td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.TravellingAllowance)
                                                        </td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.SpecialAllowance)
                                                        </td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.Servicecharge)
                                                        </td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.Esic)
                                                        </td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.Gross)
                                                        </td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.Epf)
                                                        </td>

                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.MonthlyGrossPay)
                                                        </td>


                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.PersonalEmailAddress)
                                                        </td>

                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.Mobile)
                                                        </td>
                                                        <td nowrap>
                                                            @item.DateOfBirth.ToString("dd/MM/yyyy")
                                                        </td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.Age)
                                                        </td>

                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.FatherName)
                                                        </td>

                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.Pan)
                                                        </td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.Aadharcard)
                                                        </td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.AddressLine2),@Html.DisplayFor(modelItem => item.AddressLine1),@Html.DisplayFor(modelItem => item.City),@Html.DisplayFor(modelItem => item.Pincode),@Html.DisplayFor(modelItem => item.State)
                                                        </td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.AccountHolderName)
                                                        </td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.BankName)
                                                        </td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.AccountNumber)
                                                        </td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.Ifsc)
                                                        </td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.AccountType)
                                                        </td>

                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.EpfNumber)
                                                        </td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.DeductionCycle)
                                                        </td>


                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.EmployeeContributionRate)
                                                        </td>

                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.Nominee)
                                                        </td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.CustomerName)
                                                        </td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.Offerletterid)
                                                        </td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.OfficeshiftTypeid)
                                                        </td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.Shifttype)
                                                        </td>
                                                        <td>
                                                            <select name="ShiftTypeid" class="form-control officeshift-dropdown" id="ddshifttypeidid_@item.Id" style="height: 40px; width: 230px;">
                                                                <option value="0">-- Select Office Shift Type --</option>
                                                                @foreach (var shift in ViewBag.officeshift)
                                                                {
                                                                    <option value="@shift.Value">@shift.Text</option>
                                                                }
                                                            </select>

                                                        </td>

                                                        <td nowrap>
                                                            <img src='../EmpProfile/@item.EmpProfile' style="height:100px;width:100px" />
                                                        </td>
                                                        <td nowrap>
                                                            <img src='../img1/@item.AadharOne' style="height:100px;width:100px" />
                                                        </td>
                                                        <td nowrap>
                                                            <img src='../img1/@item.AadharTwo' style="height:100px;width:100px" />
                                                        </td>
                                                        <td nowrap>
                                                            <img src='../ChequeImage/@item.Chequeimage' style="height:100px;width:100px" />
                                                        </td>
                                                        <td nowrap>
                                                            <img src='../img1/@item.Panimg' style="height:100px;width:100px" />
                                                        </td>
                                                        <td nowrap>
                                                            <div>
                                                                <a href="EmployeeRegistration?id=@item.EmpRegId" class="fa fa-edit m-2 font-success"></a>
                                                                <a href="javascript:void(0);" onclick="confirmDelete('@Url.Action("DeleteEmployee","Employee", new { Emp_Reg_ID = item.EmpRegId })')" class="fa fa-trash font-danger"></a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
@*             <div id="pagination-container">
                <ul id="pagination" class="pagination"></ul>
            </div> *@
        </div>


    </div>

</div>

<script>
    function confirmDelete(url) {
        var result = confirm("Are you sure you want to delete?");
        if (result) {
            window.location.href = url;
        }
    }
</script>
<script>

    function bindshifttypeid(ShiftTypeid, itemId) {
        var itemsListforshifttypeid = @Html.Raw(Json.Serialize(ViewBag.officeshift));
        var dropdownforshifttypeid = $("#ddshifttypeidid_" + itemId);
        if (itemId !== "0" && itemId !== "") {
            dropdownforshifttypeid.val(ShiftTypeid);
        }
    }
    $(document).ready(function () {
    @foreach (var item in Model)
    {
        <text>
                    bindshifttypeid('@item.ShiftTypeid', '@item.Id');
        </text>
    }
            var userOfficeshift = '@ViewBag.shiftlist';

        if (userOfficeshift != "") {
            bindshifttypeid(userOfficeshift);
        }
        else {
            bindshifttypeid("");
        }
    });
</script>


<script>
    $(document).ready(function () {
        document.title = 'Employee List';
        $('#datatable').DataTable(
            {
                "dom": '<"dt-buttons"Bf><"clear">lirtp',
                "paging": true,
                "autoWidth": true,
                "buttons": [
                    'colvis',
                    'copyHtml5',
                    'csvHtml5',
                    'excelHtml5',
                    'pdfHtml5',
                    'print'
                ]
            }
        );
    });
</script>
<script>
    $(document).ready(function () {
        $(document).on("change", ".officeshift-dropdown", function () {
            var selectedShiftTypeId = $(this).val();
            var selectedEmployeeId = $(this).closest('tr').find('.EmpRegId').text().trim();

            $.ajax({
                url: '/Employee/UpdateShiftType',
                type: 'POST',
                data: {
                    OfficeshiftTypeid: selectedShiftTypeId,
                    EmployeeId: selectedEmployeeId
                },
                success: function (response) {
                    if (response.success) {
                        // Show success message using SweetAlert2
                        Swal.fire({
                            icon: 'success',
                            title: 'Success',
                            text: response.message
                        });
                    }
                },
                error: function (xhr, status, error) {
                    console.error('Error updating shift type:', error);
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'There was an error updating the shift type.'
                    });
                }
            });
        });
    });

</script>
