@model CRM.Models.Crm.EmployeeRegistration
@{
    ViewData["Title"] = "Employee";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        var message = "@TempData["Message"]";

        if (message == "ok" || message == "dltok" || message == "updok") {
            if (message) {
                let alertText;

                if (message == "dltok") {
                    alertText = "Deleted successfully.";
                } else if (message == "updok") {
                    alertText = "Employee updated successfully.";
                } else {
                    alertText = "Employee added successfully.";
                }

                Swal.fire({
                    title: 'Success',
                    text: alertText,
                    icon: 'success',
                    confirmButtonText: 'OK'
                }).then((result) => {
                    if (result.isConfirmed) {
                        setTimeout(function () {
                            window.location.href = '@Url.Action("PreviewEmployeelist", "Employee")';
                        }, 1000);
                    }
                });
            }
        }
        else {
            if (message) {
                Swal.fire({
                    title: 'Failed',
                    text: message,
                    icon: 'error',
                    confirmButtonText: 'OK'
                }).then((result) => {
                    if (result.isConfirmed) {
                        setTimeout(function () {
                            window.location.href = '@Url.Action("PreviewEmployeelist", "Employee")';
                        }, 1000);
                    }
                });
            }
        }
    });
</script>
<style>
    h1 {
        text-align: center;
    }

    h2 {
        margin: 0;
    }

    #multi-step-form-container {
        margin-top: 4rem;
        width: 100%;
        padding-right: 100px;
        padding-left: 120px;
        margin-right: auto;
        margin-left: auto;
    }

    .text-center {
        text-align: center;
    }

    .mx-auto {
        margin-left: auto;
        margin-right: auto;
    }

    .pl-0 {
        padding-left: 0;
    }

    .button {
        padding: 0.7rem 1.5rem;
        border: 1px solid #4361ee;
        background-color: #4361ee;
        color: #fff;
        border-radius: 5px;
        cursor: pointer;
    }

    .submit-btn {
        border: 1px solid #0e9594;
        background-color: #0e9594;
    }

    .mt-3 {
        margin-top: 2rem;
    }

    .d-none {
        display: none;
    }

    .form-step {
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        padding: 3rem;
    }

    .font-normal {
        font-weight: normal;
    }

    ul.form-stepper {
        counter-reset: section;
        margin-bottom: 3rem;
    }

        ul.form-stepper .form-stepper-circle {
            position: relative;
        }

            ul.form-stepper .form-stepper-circle span {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateY(-50%) translateX(-50%);
            }

    .form-stepper-horizontal {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    ul.form-stepper > li:not(:last-of-type) {
        margin-bottom: 0.625rem;
        -webkit-transition: margin-bottom 0.4s;
        -o-transition: margin-bottom 0.4s;
        transition: margin-bottom 0.4s;
    }

    .form-stepper-horizontal > li:not(:last-of-type) {
        margin-bottom: 0 !important;
    }

    .form-stepper-horizontal li {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: start;
        -webkit-transition: 0.5s;
        transition: 0.5s;
    }

        .form-stepper-horizontal li:not(:last-child):after {
            position: relative;
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
            height: 1px;
            content: "";
            top: 32%;
        }

        .form-stepper-horizontal li:after {
            background-color: #dee2e6;
        }

        .form-stepper-horizontal li.form-stepper-completed:after {
            background-color: #4da3ff;
        }

        .form-stepper-horizontal li:last-child {
            flex: unset;
        }

    ul.form-stepper li a .form-stepper-circle {
        display: inline-block;
        width: 40px;
        height: 40px;
        margin-right: 0;
        line-height: 1.7rem;
        text-align: center;
        background: rgba(0, 0, 0, 0.38);
        border-radius: 50%;
    }

    .form-stepper .form-stepper-active .form-stepper-circle {
        background-color: #00baf2 !important;
        color: #fff;
    }

    .form-stepper .form-stepper-active .label {
        color: #4361ee !important;
    }

    .form-stepper .form-stepper-active .form-stepper-circle:hover {
        background-color: #00baf2 !important;
        color: #fff !important;
    }

    .form-stepper .form-stepper-unfinished .form-stepper-circle {
        background-color: #00baf2 !important;
        color: #fff !important;
    }

    .form-stepper .form-stepper-completed .form-stepper-circle {
        background-color: #00baf2 !important;
        color: #fff !important;
    }

    .form-stepper .form-stepper-completed .label {
        color: #0e9594 !important;
    }

    .form-stepper .form-stepper-completed .form-stepper-circle:hover {
        background-color: #0e9594 !important;
        color: #fff !important;
    }

    .form-stepper .form-stepper-active span.text-muted {
        color: #fff !important;
    }

    .form-stepper .form-stepper-completed span.text-muted {
        color: #fff !important;
    }

    .form-stepper .label {
        font-size: 1rem;
        margin-top: 0.5rem;
    }

    .form-stepper a {
        cursor: default;
    }
</style>
<style>
    .col-lg-4 {
        margin-bottom: 20px; /* Adjust spacing between columns as needed */
    }

    label {
        font-weight: bold;
    }

    .input-group {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        width: 100%;
    }

    .input-group-text {
        display: flex;
        align-items: center;
        padding: 0.375rem 0.75rem;
        margin-bottom: 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        text-align: center;
        white-space: nowrap;
        background-color: #e9ecef;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
    }

    .input-group > .form-control {
        position: relative;
        flex: 1 1 auto;
        width: 1%;
        margin-bottom: 0;
    }

    .form-control {
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

        .form-control:focus {
            border-color: #80bdff;
            outline: 0;
            box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25);
        }

</style>
@* <link href="~/css/style.css" rel="stylesheet" />
 *@<div class="page-wrapper">
    <div class="page-body-wrapper">
        <div class="page-sidebar">
        </div>

        <div class="page-body">
            <!-- Container-fluid starts-->
            <div id="multi-step-form-container">
                <div class="containder-fluid">
                    <div class="page-header">
                        <div class="row">
                            
                            <div class="col-lg-6">
                                <div class="page-header-left">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <b class="mr-2">Import To Excel Format:</b>
                                                <a href="@Url.Action("ExportToExcel", "Employee")" class="btn btn-link">
                                                    <img src="~/image/execimage.png" alt="Export" style="height:50px;width:53px;cursor:pointer" title="Export To Excel" onclick="ExportExcelfn()" />
                                                </a>
                                            </div>
                                            <div class="col-md-6">
                                                <form action="ImportFromExcel" method="post" enctype="multipart/form-data">
                                                    <div class="form-group mb-3">
                                                        <input type="file" class="form-control" name="file" required style="width: 300px;" />
                                                    </div>
                                                    <div class="form-group">
                                                        <button type="submit" class="btn btn-primary btn-sm">Import</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <ol class="breadcrumb pull-right">
                                    <li class="breadcrumb-item"><a href="/Home/Dashboard"><i data-feather="home"></i></a></li>
                                    <li class="breadcrumb-item">HR Payrole</li>
                                    <li class="breadcrumb-item active">Employee</li>
                                    <li class="breadcrumb-item active">EmployeeRegistration</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="text-align:center;">
                    <h3>
                        Employee Registration
                    </h3>
                </div>
                <!-- Form Steps / Progress Bar -->
                <ul class="form-stepper form-stepper-horizontal text-center mx-auto pl-0">
                    <!-- Step 1 -->
                    <li class="form-stepper-active text-center form-stepper-list" step="1">
                        <a class="mx-2">
                            <span class="form-stepper-circle">
                                <span>1</span>
                            </span>
                            <div class="label">Basic info</div>
                        </a>
                    </li>
                    <!-- Step 2 -->
                    <li class="form-stepper-unfinished text-center form-stepper-list" step="2">
                        <a class="mx-2">
                            <span class="form-stepper-circle text-muted">
                                <span>2</span>
                            </span>
                            <div class="label text-muted">Persnal info.</div>
                        </a>
                    </li>
                    <!-- Step 3 -->
                    <li class="form-stepper-unfinished text-center form-stepper-list" step="3">
                        <a class="mx-2">
                            <span class="form-stepper-circle text-muted">
                                <span>3</span>
                            </span>
                            <div class="label text-muted">Payment info</div>
                        </a>
                    </li>
                    <!-- Step 4 -->
                    <li class="form-stepper-unfinished text-center form-stepper-list" step="4">
                        <a class="mx-2">
                            <span class="form-stepper-circle text-muted">
                                <span>4</span>
                            </span>
                            <div class="label text-muted">Salary Details</div>
                        </a>
                    </li>
                </ul>
                <!-- Step Wise Form Content -->
                <form action="/Employee/EmployeeRegistration" enctype="multipart/form-data" method="POST" autocomplete="off">
                    <!-- Step 1 Content -->
                    <input hidden name="Emp_Reg_ID" type="text" value="@ViewBag.Emp_Reg_Code" />
                    <section id="step-1" class="form-step">
                        <h2 class="text-danger">Basic info</h2>
                        <div class="mt-3">
                            <div class="row">
                                <div class="col">
                                    <label>Accept Offer Letter<span class="text-danger">*</span></label>
                                    <div class="dropdown-container position-relative">
                                    <select name="Offerletterid" class="form-control" id="ddOfferletterid">
                                        <option value="0">-- Select Accept Offer --</option>
                                    </select>
                                        <i class="dropdown-icon fa fa-caret-down position-absolute"></i>
                                    </div>
                                    <span id="OfferLetterError" class="text-danger" style="display:none;">Please select an option</span>
                                </div>
                                <div class="col">
                                    <label>First Name<span class="text-danger">*</span></label>
                                    <input class="form-control" name="FirstName" value="@ViewBag.First_Name" placeholder="Enter First Name" id="FirstName" type="text">
                                    <span id="FirstNameError" class="text-danger" style="display:none;">First Name is required</span>
                                </div>
                                <div class="col">
                                    <label>Middle Name</label>
                                    <input class="form-control" name="MiddleName" value="@ViewBag.Middle_Name" placeholder="Enter Middle Name" id="MiddleName" type="text">
                                </div>

                            </div>
                            <br >
                            <div class="row">
                                <div class="col">
                                    <label>Last Name</label>
                                    <input class="form-control" name="LastName" value="@ViewBag.Last_Name" placeholder="Enter Last Name" id="LastName" type="text">
                                </div>
                                <div class="col">
                                    <label>Work Email</label>
                                    <input class="form-control" name="WorkEmail" value="@ViewBag.Work_Email" placeholder="Enter Work Email" id="WorkEmail" type="email">
                                </div>
                                <div class="col">
                                    <label>Date Of Joining<span class="text-danger">*</span></label>
                                    <input class="form-control" name="DateOfJoining" value="@ViewBag.Date_Of_Joining" id="DateOfJoining" type="date">
                                    <span id="DateOfJoiningError" class="text-danger" style="display:none;">Date Of Joining is required</span>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col">
                                    <label>Gender<span class="text-danger">*</span></label>
                                    <div class="dropdown-container position-relative">
                                    <select name="GenderID" id="ddlGender" class="form-control">
                                        <option value="0">-- Select Gender --</option>
                                        <option value="1">Female</option>
                                        <option value="2">Male</option>
                                        <option value="3">Other</option>
                                    </select>
                                        <i class="dropdown-icon fa fa-caret-down position-absolute"></i>
                                    </div>
                                    <span id="GenderError" class="text-danger" style="display:none;">Please select Gender</span>
                                </div>

                                <div class="col">
                                    <label>State Name<span class="text-danger">*</span></label>
                                    <div class="dropdown-container position-relative">
                                    <select class="form-control" name="StateId" id="ddlStates">
                                        <option value="0">-- Select State --</option>
                                    </select>
                                    <i class="dropdown-icon fa fa-caret-down position-absolute"></i>
                                </div>
                                    <span id="StateError" class="text-danger" style="display:none;">Please select State</span>
                                </div>

                                <div class="col">
                                    <label>City Name<span class="text-danger">*</span></label>
                                    <div class="dropdown-container position-relative">
                                    <select class="form-control" name="WorkLocationID" id="ddlCity">
                                            <option value="0">-- Select City --</option>
                                    </select>
                                        <i class="dropdown-icon fa fa-caret-down position-absolute"></i>
                                    </div>
                                    <span id="WorkLocationError" class="text-danger" style="display:none;">Please select Work Location</span>
                                </div>


                            </div>
                            <br>
                            <div class="row">
                                <div class="col">
                                    <label>Department<span class="text-danger">*</span></label>
                                    <div class="dropdown-container position-relative">
                                    <select name="DepartmentID" class="form-control" id="ddDepartmentID">
                                        <option value="0">-- Select Department --</option>
                                    </select>
                                        <i class="dropdown-icon fa fa-caret-down position-absolute"></i>
                                    </div>
                                    <span id="DepartmentError" class="text-danger" style="display:none;">Please select Department</span>
                                </div>
                                <div class="col">
                                    <label>Designation<span class="text-danger">*</span></label>
                                    <div class="dropdown-container position-relative">
                                    <select name="DesignationID" class="form-control" id="ddDesignationID">
                                        <option value="0">-- Select Designation --</option>
                                    </select>
                                        <i class="dropdown-icon fa fa-caret-down position-absolute"></i>
                                    </div>
                                    <span id="DesignationError" class="text-danger" style="display:none;">Please select Designation</span>
                                </div>
                                <div class="col">
                                    <label>Office Shift Type<span class="text-danger">*</span></label>
                                    <div class="dropdown-container position-relative">
                                    <select name="OfficeshiftTypeid" class="form-control" id="ddshifttypeidid">
                                        <option value="0">-- Select Office Shift Type --</option>
                                    </select>
                                        <i class="dropdown-icon fa fa-caret-down position-absolute"></i>
                                    </div>
                                    <span id="ShiftTypeError" class="text-danger" style="display:none;">Please select Office Shift Type</span>
                                </div>
                            </div>
                            <br >
                            @{
                                var CheckSelectCompany = ViewBag.CheckSelectCompany;
                            }
                            @if (CheckSelectCompany == true)
                            {
                                <div class="mt-3">
                                    <div class="col-6">
                                        <label>Company Name<span class="text-danger">*</span></label>
                                        <div class="dropdown-container position-relative">
                                            <select name="CustomerCompanyid" class="form-control" id="ddCustomerCompanyNameid">
                                                <option value="0">-- Select Company Name --</option>
                                            </select>
                                            <i class="dropdown-icon fa fa-caret-down position-absolute"></i>
                                        </div>
                                        <span id="CustomerCompanyNameError" class="text-danger" style="display:none;">Please select Company Name</span>
                                    </div>
                                </div>
                            }
                        </div>

                        <div class="mt-3">
                            <button class="button btn-navigate-form-step" type="button" step_number="2">Next</button>
                        </div>
                    </section>

                    <!-- Step 2 Content, default hidden on page load. -->
                    <section id="step-2" class="form-step d-none">
                        <h2 class="text-danger">Personal info.</h2>
                        <!-- Step 2 input fields -->
                        <div class="mt-3">
                            <div class="row">
                                <div class="col">
                                    <label>Personal Email Address<span class="text-danger">*</span></label>
                                    <input class="form-control" value='@ViewBag.Personal_Email_Address' placeholder="Enter Personal Email Address" name="PersonalEmailAddress" id="PersonalEmailAddress" type="email">
                                    <span id="PersonalEmailAddressError" class="text-danger" style="display:none;">Please enter a valid personal email address.</span>
                                </div>

                                <div class="col">
                                    <label>Mobile Number<span class="text-danger">*</span></label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1">+91</span>
                                        <input class="form-control" value='@ViewBag.Mobile_Number' name="MobileNumber" placeholder="Enter Mobile Number" id="MobileNumber" type="text" maxlength="10" minlength="10">
                                    </div>
                                    <span id="MobileNumberError" class="text-danger" style="display:none;">Please enter a valid mobile number.</span>
                                </div>

                                <div class="col">
                                    <label>Date Of Birth<span class="text-danger">*</span></label>
                                    <input class="form-control" value='@ViewBag.Date_Of_Birth' name="DateOfBirth" id="dobInput" type="date">
                                    <span id="DateOfBirthError" class="text-danger" style="display:none;">Please enter a valid date of birth.</span>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col">
                                    <label>Age</label>
                                    <input class="form-control" value='@ViewBag.Age' id="ageInput" type="text" readonly>
                                </div>

                                <div class="col">
                                    <label>Father Name<span class="text-danger">*</span></label>
                                    <input class="form-control" value='@ViewBag.Father_Name' name="FatherName" id="FatherName" placeholder="Enter Father Name" type="text">
                                    <span id="FatherNameError" class="text-danger" style="display:none;">Please enter your father's name.</span>
                                </div>

                                <div class="col">
                                    <label>PAN<span class="text-danger">*</span></label>
                                    <input class="form-control" value='@ViewBag.PAN' name="PAN" id="PAN" placeholder="Enter PAN" type="text">
                                    <span id="PANError" class="text-danger" style="display:none;">Please enter a valid PAN number.</span>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col">
                                    <label>Address 1<span class="text-danger">*</span></label>
                                    <input class="form-control" value='@ViewBag.Address_Line_1' name="AddressLine1" placeholder="Enter Address Line1" id="AddressLine1" type="text">
                                    <span id="AddressLine1Error" class="text-danger" style="display:none;">Please enter Address Line 1.</span>
                                </div>

                                <div class="col">
                                    <label>Address 2</label>
                                    <input class="form-control" value='@ViewBag.Address_Line_2' name="AddressLine2" placeholder="Enter Address Line2" id="AddressLine2" type="text">
                                </div>

                                <div class="col">
                                    <label>State<span class="text-danger">*</span></label>
                                       <div class="dropdown-container position-relative">
                                    <select class="form-control" id="ddlState" name="StateID">
                                        <option value="0">-- Select State --</option>
                                    </select>
                                        <i class="dropdown-icon fa fa-caret-down position-absolute"></i>
                                    </div>
                                    <span id="StateIDError" class="text-danger" style="display:none;">Please select a state.</span>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col">
                                    <label>City<span class="text-danger">*</span></label>
                                    <div class="dropdown-container position-relative">
                                    <select class="form-control" name="City" id="City">
                                        <option value="0">-- Select City --</option>
                                    </select>
                                        <i class="dropdown-icon fa fa-caret-down position-absolute"></i>
                                    </div>
                                    <span id="CityError" class="text-danger" style="display:none;">Please select a city.</span>
                                </div>

                                <div class="col">
                                    <label>Pincode<span class="text-danger">*</span></label>
                                    <input class="form-control" value='@ViewBag.Pincode' name="Pincode" maxlength="6" id="Pincode" placeholder="Enter Pincode" type="text" onkeydown="validateNumericInput(event)">
                                    <span id="PincodeError" class="text-danger" style="display:none;">Please enter a valid pincode.</span>
                                </div>
                            </div>
                        </div>

                        <div class="mt-3">
                            <button class="button btn-navigate-form-step" type="button" step_number="1">Prev</button>
                            <button class="button btn-navigate-form-step" type="button" step_number="3">Next</button>
                        </div>
                    </section>

                    <section id="step-3" class="form-step d-none">
                        <h2 class="text-danger">Payment info</h2>
                        <!-- Step 3 input fields -->
                        <div class="mt-3">
                            <div class="row">
                                <div class="col">
                                    <label>Account Holder Name<span class="text-danger">*</span></label>
                                    <input class="form-control" value='@ViewBag.Account_Holder_Name' name="AccountHolderName" placeholder="Enter Account Holder Name" id="AccountHolderName" type="text">
                                    <span id="AccountHolderNameError" class="text-danger" style="display:none;">This field is required.</span>
                                </div>
                                <div class="col">
                                    <label>Bank Name<span class="text-danger">*</span></label>
                                    <input class="form-control" value='@ViewBag.Bank_Name' name="BankName" id="BankName" placeholder="Enter Bank Name" type="text">
                                    <span id="BankNameError" class="text-danger" style="display:none;">This field is required.</span>
                                </div>
                                <div class="col">
                                    <label>Account Number<span class="text-danger">*</span></label>
                                    <input class="form-control" value='@ViewBag.Account_Number' name="AccountNumber" placeholder="Enter Account Number" id="AccountNumber" type="text" onkeydown="validateNumericInput(event)">
                                    <span id="AccountNumberError" class="text-danger" style="display:none;">This field is required.</span>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col">
                                    <label>Re-enter Account Number<span class="text-danger">*</span></label>
                                    <input class="form-control" value='@ViewBag.Re_Enter_Account_Number' name="ReEnterAccountNumber" placeholder="Re-enter Account Number" id="ReEnterAccountNumber" type="text" onkeydown="validateNumericInput(event)">
                                    <span id="ReEnterAccountNumberError" class="text-danger" style="display:none;">Account numbers do not match.</span>
                                </div>
                                <div class="col">
                                    <label>IFSC<span class="text-danger">*</span></label>
                                    <input class="form-control" value='@ViewBag.IFSC' name="IFSC" id="IFSC" placeholder="Enter IFSC" type="text">
                                    <span id="IFSCError" class="text-danger" style="display:none;">This field is required.</span>
                                </div>
                                <div class="col">
                                    <label>EPF Number</label>
                                    <input class="form-control" value='@ViewBag.EPF_Number' name="EPF_Number" placeholder="Enter EPF Number" id="EPF_Number" type="text">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col" style="display:none">
                                    <label>Employee Contribution Rate</label>
                                    <input class="form-control" value='@ViewBag.Employee_Contribution_Rate' name="Employee_Contribution_Rate" placeholder="Enter Employee Contribution Rate" id="Employee_Contribution_Rate" type="text">
                                </div>
                                <div class="col" style="display:none">
                                    <label>Deduction Cycle</label>
                                    <div class="dropdown-container position-relative">
                                    <select id="ddlDeductionTime" name="Deduction_Cycle" class="form-control">
                                        <option value="0">-- Select Deduction --</option>
                                        <option value="M">Monthly</option>
                                        <option value="Y">Yearly</option>
                                    </select>
                                        <i class="dropdown-icon fa fa-caret-down position-absolute"></i>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <label>Nominee's Name</label>
                                    <input class="form-control" value='@ViewBag.nominee' name="nominee" id="nominee" placeholder="Enter nominee name" type="text">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col" style="padding:20px;">
                                    <label>Account Type<span class="text-danger">*</span></label>
                                    <br />
                                    <div class="d-flex gap-2">
                                        <input type="radio" id="rdAcountCurrent" name="AccountTypeID" value="1"> Current
                                        <input type="radio" id="rdAcountSaving" name="AccountTypeID" value="2"> Savings
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mt-3">
                            <button class="button btn-navigate-form-step" type="button" step_number="2">Prev</button>
                            <button class="button btn-navigate-form-step" type="button" step_number="4">Next</button>
                        </div>
                    </section>
                    <section id="step-4" class="form-step d-none">
                        <h2 class="text-danger">Salary Details</h2>
                        <div class="mt-3">
                            @{
                              var isid =  ViewBag.Emp_Reg_Code;
                            }
                            @if (!string.IsNullOrEmpty(isid))
                            {
                                <input hidden name="Emp_Reg_ID" type="text" id="empid" value="@ViewBag.Emp_Reg_Code" />
                              @*   <div class="d-flex align-items-center mb-3">
                                    <input type="checkbox" id="IsIncrement" name="IsIncrement" style="margin-right: 10px;">
                                    <label for="IsIncrement" class="ml-2" style="color: forestgreen;">Is Increment</label>
                                </div> *@
                                <div class="d-flex align-items-center justify-content-end mb-3">
                                    <input type="checkbox" id="IsIncrement" name="IsIncrement" style="margin-right: 10px;">
                                    <label for="IsIncrement" class="ml-2" style="color: forestgreen;margin-top: 10px;">Is Increment</label>
                                </div>

                            }
                            @if (CheckSelectCompany == false)
                            {
                                <div class="row">
                                    <div class="col">
                                        <label>Annual CTC <span class="text-danger">*</span></label>
                                        <input class="form-control" value='@ViewBag.AnnualCTC' name="AnnualCTC" placeholder="Enter Annual CTC" onkeyup="SalaryCalculation();" id="txtAnnualCTC" type="text">
                                        <span id="AnnualCTCError" class="text-danger" style="display:none;">Annual CTC is required and must contain a decimal point.</span>
                                    </div>
                                    <div class="col">
                                        <label>Monthly CTC </label>
                                        <input class="form-control" value='@ViewBag.MonthlyCTC' name="MonthlyCTC" placeholder="Enter Monthly CTC" id="txtMonthlyCTC" readonly type="text">
                                    </div>
                                    <div class="col">
                                        <label>Basic</label>
                                        <input class="form-control" value='@ViewBag.Basic' name="Basic" placeholder="00.0" id="txtBasicSalary" type="text" readonly>
                                    </div>
                                </div>

                                <br>

                                <div class="row">
                                    <div class="col">
                                        <label>House Rent Allowance</label>
                                        <input class="form-control" value='@ViewBag.HouseRentAllowance' name="HouseRentAllowance" placeholder="00.0" id="txtHouseRentAllowance" type="text" readonly>
                                    </div>
                                    <div class="col">
                                        <label>Special Allowance</label>
                                        <input class="form-control" value='@ViewBag.specialallowance' name="SpecialAllowance" id="SpecialAllowance" placeholder="Enter Special Allowance" type="text" readonly>
                                    </div>
                                    <div class="col">
                                        <label>Conveyance allowance</label>
                                        <input class="form-control" value='@ViewBag.Conveyanceallowance' name="Conveyanceallowance" placeholder="00.0" id="txtConveyanceallowance" type="text" readonly>
                                    </div>

                                </div>
                                <br>
                                <div class="row">
                                    <div class="col">
                                        <label>Medical Allowance</label>
                                        <input class="form-control" value='@ViewBag.MedicalAllowance ' name="Medical" placeholder="00.0" id="txtMedical" type="text" readonly>

                                    </div>
                                    <div class="col">
                                        <label>Variable Pay</label>
                                        <input class="form-control" value='@ViewBag.VariablePay ' name="VariablePay" placeholder="00.0" id="txtVariablePay" type="text" readonly>
                                    </div>
                                    <div class="col">
                                        <label>Gross Pay</label>
                                        <input class="form-control" value='@ViewBag.MonthlyGrossPay' name="MonthlyGrossPay" placeholder="00.0" id="txtMonthlyGrossPay" type="text" readonly>
                                    </div>
                                </div>
                                <br>
                                <div class="col-md-2 tdssection" style="display:none;">
                                    <label>TDS (<span id="displayTdsPercentage"></span>%)</label>
                                    <input class="form-control" value='@ViewBag.tdsvalue' name="tdsvalue" placeholder="00.0" id="txttdsvalue" type="text" readonly>
                                    <input name="Tdspercentage" id="txtTdspercentage" value="@ViewBag.Tdspercentage" type="hidden">

                                </div>

                                <br>
                                <h4 class="text-danger EmployeeContribution" style="display:none;">Employee Contribution</h4>
                                <div class="row">
                                    <div class="col-md-6 txtLabelEPF" style="display:none;">
                                        <label>EPF (<span id="displayEmpEPFMaster"></span>%)</label>
                                        <input class="form-control" value='@ViewBag.EPF' name="EPF" id="txtEPF" type="text" readonly>
                                    </div>
                                    <div class="col-md-6 ESICLabel" style="display:none;">
                                        <label id="ESICLabel">ESIC (<span id="displayEmpESICMaster"></span>%)</label>
                                        <input class="form-control" value='@ViewBag.ESIC' name="ESIC" id="ESIC" type="text" readonly>
                                    </div>
                                </div>


                                <br>

                                <h4 class="text-danger EmployerContribution" style="display:none;">Employer Contribution</h4>
                                <div class="row">
                                    <div class="col-md-6 txtLabelEmployerEPF" style="display:none;">
                                        <label>EPF (<span id="displayEPFMaster"></span>%)</label>
                                        <input class="form-control" name="EmployerContribution" placeholder="00.0" id="txtEPFMaster" type="text" value="@ViewBag.EmployerContribution" readonly>
                                    </div>
                                    <div class="col-md-6 txtLabelEmployerEsic" style="display:none;">
                                        <label>ESIC (<span id="displayESICMaster"></span>%)</label>
                                        <input class="form-control" name="ESIC_Number" id="ESICMaster" type="text" readonly>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="row">
                                    <div class="col">
                                        <label>Annual CTC <span class="text-danger">*</span></label>
                                        <input class="form-control" value='@ViewBag.AnnualCTC' name="AnnualCTC" placeholder="Enter Annual CTC" @* onkeyup="SalaryCalculation();" *@ id="txtAnnualCTC" type="text">
                                        <span id="AnnualCTCError" class="text-danger" style="display:none;">Annual CTC is required and must contain a decimal point.</span>
                                    </div>
                                    <div class="col">
                                        <label>Monthly CTC </label>
                                        <input class="form-control" value='@ViewBag.MonthlyCTC' name="MonthlyCTC" placeholder="Enter Monthly CTC" id="txtMonthlyCTC" type="text">
                                    </div>
                                    <div class="col">
                                        <label>Basic</label>
                                        <input class="form-control" value='@ViewBag.Basic' name="Basic" placeholder="00.0" id="txtBasicSalary" type="text">
                                    </div>
                                </div>

                                <br>

                                <div class="row">
                                    <div class="col">
                                        <label>House Rent Allowance</label>
                                        <input class="form-control" value='@ViewBag.HouseRentAllowance' name="HouseRentAllowance" placeholder="00.0" id="txtHouseRentAllowance" type="text">
                                    </div>
                                    <div class="col">
                                        <label>Special Allowance</label>
                                        <input class="form-control" value='@ViewBag.specialallowance' name="SpecialAllowance" id="SpecialAllowance" placeholder="Enter Special Allowance" type="text">
                                    </div>
                                    <div class="col">
                                        <label>Conveyance allowance</label>
                                        <input class="form-control" value='@ViewBag.Conveyanceallowance' name="Conveyanceallowance" placeholder="00.0" id="txtConveyanceallowance" type="text">
                                    </div>

                                </div>
                                <br>
                                <div class="row">
                                    <div class="col">
                                        <label>Medical Allowance</label>
                                        <input class="form-control" value='@ViewBag.MedicalAllowance ' name="Medical" placeholder="00.0" id="txtMedical" type="text">

                                    </div>
                                    <div class="col">
                                        <label>Variable Pay</label>
                                        <input class="form-control" value='@ViewBag.VariablePay ' name="VariablePay" placeholder="00.0" id="txtVariablePay" type="text">
                                    </div>
                                    <div class="col">
                                        <label>Gross Pay</label>
                                        <input class="form-control" value='@ViewBag.MonthlyGrossPay' name="MonthlyGrossPay" placeholder="00.0" id="txtMonthlyGrossPay" type="text">
                                    </div>
                                </div>
                                <br>
                                <div class="col-md-2 tdssection" style="display:none;">
                                    <label>TDS (<span id="displayTdsPercentage"></span>%)</label>
                                    <input class="form-control" value='@ViewBag.tdsvalue' name="tdsvalue" placeholder="00.0" id="txttdsvalue" type="text">
                                    <input name="Tdspercentage" id="txtTdspercentage" value="@ViewBag.Tdspercentage" type="hidden">

                                </div>

                                <br>
                                <h4 class="text-danger EmployeeContribution" style="display:none;">Employee Contribution</h4>
                                <div class="row">
                                    <div class="col-md-6 txtLabelEPF" style="display:none;">
                                        <label>EPF (<span id="displayEmpEPFMaster"></span>%)</label>
                                        <input class="form-control" value='@ViewBag.EPF' name="EPF" id="txtEPF" type="text">
                                    </div>
                                    <div class="col-md-6 ESICLabel" style="display:none;">
                                        <label id="ESICLabel">ESIC (<span id="displayEmpESICMaster"></span>%)</label>
                                        <input class="form-control" value='@ViewBag.ESIC' name="ESIC" id="ESIC" type="text">
                                    </div>
                                </div>


                                <br>

                                <h4 class="text-danger EmployerContribution" style="display:none;">Employer Contribution</h4>
                                <div class="row">
                                    <div class="col-md-6 txtLabelEmployerEPF" style="display:none;">
                                        <label>EPF (<span id="displayEPFMaster"></span>%)</label>
                                        <input class="form-control" name="EmployerContribution" placeholder="00.0" id="txtEPFMaster" type="text" value="@ViewBag.EmployerContribution">
                                    </div>
                                    <div class="col-md-6 txtLabelEmployerEsic" style="display:none;">
                                        <label>ESIC (<span id="displayESICMaster"></span>%)</label>
                                        <input class="form-control" name="ESIC_Number" id="ESICMaster" type="text">
                                    </div>
                                </div>
                            }
                        </div>
                        <input name="EmployerContributionpercentage" id="txtEmployerContributionpercentage" value="@ViewBag.EmployerContributionpercentage" type="hidden">
                        <input name="Epfpercentage" id="txtEpfpercentage" value="@ViewBag.EPfpercentage" type="hidden">
                        <input name="Esipercentage" id="txtEsipercentage" value="@ViewBag.Esipercentage" type="hidden">
                        <input name="Basicpercentage" id="txtBasicpercentage" value="@ViewBag.Basicpercentage" type="hidden">
                        <input name="Hrapercentage" id="txtHrapercentage" value="@ViewBag.HRApercentage" type="hidden">
                        <input name="Conveyancepercentage" id="txtConveyancepercentage" value="@ViewBag.Conveyancepercentage" type="hidden">
                        <input name="Medicalpercentage" id="txtMedicalpercentage" value="@ViewBag.Medicalpercentage" type="hidden">
                        <input name="Variablepercentage" id="txtVariablepercentage" value="@ViewBag.Variablepercentage" type="hidden">

                        <div class="mt-3">
                            <button class="button btn-navigate-form-step" type="button" step_number="3">Prev</button>
                            <button class="button submit-btn" onclick="return" type="submit">@ViewBag.btnText</button>
                        </div>
                    </section>

                </form>
            </div>

        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="~/js/multiformvalidation.js"></script>
<script>
    $(document).ready(function () {
        UpdateSalaryCalculation();
    })
    function SalaryCalculation() {
        var AnnualCTC = parseFloat($('#txtAnnualCTC').val());
        var basicSalaryInput = $('#txtBasicSalary');
        var houseRentAllowanceInput = $('#txtHouseRentAllowance');
        var conveyanceAllowanceInput = $('#txtConveyanceallowance');
        var medicalAllowanceInput = $('#txtMedical');
        var variableAllowanceInput = $('#txtVariablePay');
        var monthlySalaryInput = $('#txtMonthlyCTC');
        var specialAllowanceInput = $('#SpecialAllowance');
        var monthlyGrossPayInput = $('#txtMonthlyGrossPay');
        var EmployeeEpfInput = $('#txtEPF');
        var EmployeeESICInput = $('#ESIC');
        var EmployerEpfInput = $('#txtEPFMaster');
        var EmployerESICInput = $('#ESICMaster');

        $.ajax({
            url: '/Employee/EmpEpfesilist',
            method: 'GET',
            dataType: 'json',
            success: function (response) {
                var esicPercentage = parseFloat(response.esicPercentage) || 0;
                var epfPercentage = parseFloat(response.epfPercentage) || 0;
                var esicAmount = parseFloat(response.esicAmount) || 0;

                $.ajax({
                    url: '/Vendor/GetSalaryDeductions',
                    method: 'GET',
                    data: { annualSalary: AnnualCTC },
                    dataType: 'json',
                    success: function (data) {
                        console.log(data);
                        monthlySalaryInput.val(0);
                        specialAllowanceInput.val(0);
                        monthlyGrossPayInput.val(0);
                        EmployeeEpfInput.val(0);
                        EmployerEpfInput.val(0);
                        EmployeeESICInput.val(0);
                        EmployerESICInput.val(0);

                        data.forEach(function (item) {
                            switch (item.deductiontype) {
                                case "Basic Salary":
                                    basicSalaryInput.val(item.calculatedAmount || 0);
                                    $('#txtBasicpercentage').val(item.deductionpercentage || 0);
                                    break;
                                case "HRA":
                                    houseRentAllowanceInput.val(item.calculatedAmount || 0);
                                    $('#txtHrapercentage').val(item.deductionpercentage || 0);

                                    break;
                                case "Conveyance Allowance":
                                    conveyanceAllowanceInput.val(item.calculatedAmount || 0);
                                    $('#txtConveyancepercentage').val(item.deductionpercentage || 0);

                                    break;
                                case "Medical Allowance":
                                    medicalAllowanceInput.val(item.calculatedAmount || 0);
                                    $('#txtMedicalpercentage').val(item.deductionpercentage || 0);

                                    break;
                                case "Variable Pay":
                                    variableAllowanceInput.val(item.calculatedAmount || 0);
                                    $('#txtVariablepercentage').val(item.deductionpercentage || 0);

                                    break;
                                default:
                                    break;
                            }
                        });

                        if (AnnualCTC > 0) {
                            var monthlySalary = AnnualCTC / 12;
                            monthlySalaryInput.val(parseFloat(monthlySalary).toFixed(2));
                            var basicSalary = parseFloat(basicSalaryInput.val()).toFixed(2);
                            GetEmployerEPF(basicSalary, function (epfValue) {
                                var BasicSalary = parseFloat($('#txtBasicSalary').val()) || 0;
                                var Hra = parseFloat($('#txtHouseRentAllowance').val()) || 0;
                                var Conveyance = parseFloat($('#txtConveyanceallowance').val()) || 0;
                                var Medical = parseFloat($('#txtMedical').val()) || 0;
                                var VariablePay = parseFloat($('#txtVariablePay').val()) || 0;
                                var epf = parseFloat($('#txtEPF').val()) || 0;
                                var epfMaster = parseFloat($('#txtEPFMaster').val()) || 0;
                                var Esi = parseFloat($('#ESIC').val()) || 0;
                                var EsiMaster = parseFloat($('#ESICMaster').val()) || 0;

                                var totalSpecial = AnnualCTC - BasicSalary - Hra - Conveyance - Medical - VariablePay - epf - epfMaster - Esi - EsiMaster;
                                var monthlyGrossPay = BasicSalary + Hra + totalSpecial + Conveyance + Medical + VariablePay;

                                $('#SpecialAllowance').val(totalSpecial.toFixed(2));
                                $('#txtMonthlyGrossPay').val(monthlyGrossPay.toFixed(2));
                                var monthlyGrossPay = $('#txtMonthlyGrossPay').val();
                                calculateEmployeeTax(monthlyGrossPay);
                            });


                        }


                        if (parseFloat(monthlySalaryInput.val()) > esicAmount) {
                            var basicSalary = parseFloat(basicSalaryInput.val()).toFixed(2);
                            DeductionEPFFields(epfPercentage, basicSalary);
                            $('#ESIC').css('display', 'none');
                            $('.ESICLabel').css('display', 'none');
                            $('#txtEpfpercentage').val(epfPercentage.toFixed(2));

                        } else if (parseFloat(monthlySalaryInput.val()) <= esicAmount) {
                            var basicSalary = parseFloat(basicSalaryInput.val()).toFixed(2);
                            DeductionEPFFields(epfPercentage, basicSalary);
                            DeductionESICFields(esicPercentage, basicSalary);
                            $('#txtEpfpercentage').val(epfPercentage.toFixed(2));
                            $('#txtEsipercentage').val(esicPercentage.toFixed(2));
                        }
                    },
                    error: function (err) {
                        console.error('Failed to fetch deductions:', err);
                    }
                });
            },
            error: function (err) {
                console.error('Failed to fetch ESIC and EPF details:', err);
            }
        });
    }
    function DeductionEPFFields(epfPercentage, basicSalary) {
        $('#displayEmpEPFMaster').text(epfPercentage ? epfPercentage.toFixed(2) : '0');
        var epfValue = basicSalary * epfPercentage / 100;
        $('.EmployeeContribution').css('display', 'block');
        $('.EmployerContribution').css('display', 'block');
        $('#txtEPF').val(epfValue.toFixed(2)).css('display', 'block');
        $('.txtLabelEPF').css('display', 'block');
    }
    function DeductionESICFields(esicPercentage, basicSalary) {
        $('#displayEmpESICMaster').text(esicPercentage ? esicPercentage.toFixed(2) : '0');
        var esicValue = basicSalary * esicPercentage / 100;
        $('.EmployeeContribution').css('display', 'block');
        $('.EmployerContribution').css('display', 'block');
        $('#ESIC').val(esicValue.toFixed(2)).css('display', 'block');
        $('.ESICLabel').css('display', 'block');

    }
    function GetEmployerEPF(basicSalary, callback) {
        $.ajax({
            url: '/Employee/Epfesilist',
            type: 'GET',
            dataType: 'json',
            success: function (response) {
                if (!response || !response.data) {
                    console.error("Invalid response from API:", response);
                    return;
                }

                var epfPercentage = 0;
                var employerContributionRate = 0;
                response.data.forEach(function (item) {
                    if (item.deductionCycle === "EPF") {
                        epfPercentage = parseFloat(item.epfNumber) || 0;
                        employerContributionRate = parseFloat(item.employerContributionRate) || 0;
                    }
                });

                var monthlybasicSalary = basicSalary / 12;

                var epfValue = 0;
                if (monthlybasicSalary <= employerContributionRate) {
                    epfValue = (basicSalary * epfPercentage) / 100;
                } else {
                    epfValue = (employerContributionRate * epfPercentage) / 100 * 12;
                }

                $('#displayEPFMaster').text(epfPercentage.toFixed(2));
                $('#txtEmployerContributionpercentage').val(epfPercentage.toFixed(2));
                $('#txtEPFMaster').val(epfValue.toFixed(2)).show();
                $('.txtLabelEmployerEPF').show();

                if (callback && typeof callback === 'function') {
                    callback(epfValue);
                }
            },
            error: function () {
                alert('Error fetching data.');
            }
        });
    }
    function calculateEmployeeTax(monthlyGrossPay) {
        //var monthlyGrossPay = parseFloat($('#txtMonthlyGrossPay').val());
        $.ajax({
            url: '/Employee/GetEmployeetax',
            type: 'GET',
            data: { GrossPay: monthlyGrossPay },
            success: function (response) {
                if (response.success) {
                    var result = response.result;

                    if (result.checkIsprofessionaltax) {
                        $('#txttdsvalue').val(result.taxAmount.toFixed(2));
                        $('#displayTdsPercentage').text(result.taxpercentage.toFixed(2));
                        $('#txtTdspercentage').val(result.taxpercentage.toFixed(2));
                        $('.col-md-2').show();
                        $('.tdssection').css('display', 'none');

                    } else {
                        $('#txttdsvalue').val('');
                        $('#displayTdsPercentage').text('');
                        $('.col-md-2').hide();
                        $('.tdssection').css('display', 'none');

                    }
                }
            },
            error: function () {
                // Swal.fire('Error', 'An error occurred while processing your request.', 'error');
            }
        });
    }
    function UpdateSalaryCalculation() {
        var AnnualCTC = parseFloat($('#txtAnnualCTC').val());
        var basicSalaryInput = $('#txtBasicSalary');
        var houseRentAllowanceInput = $('#txtHouseRentAllowance');
        var conveyanceAllowanceInput = $('#txtConveyanceallowance');
        var medicalAllowanceInput = $('#txtMedical');
        var variableAllowanceInput = $('#txtVariablePay');
        var monthlySalaryInput = $('#txtMonthlyCTC');
        var specialAllowanceInput = $('#SpecialAllowance');
        var monthlyGrossPayInput = parseFloat($('#txtMonthlyGrossPay').val());
        var EmployeeEpfInput = $('#txtEPF');
        var EmployeeESICInput = $('#ESIC');
        var EmployerEpfInput = $('#txtEPFMaster');
        var EmployerESICInput = $('#ESICMaster');

        // Retrieving values from hidden fields (from @ViewBag)
        var EmployerContributionpercentage = parseFloat($('#txtEmployerContributionpercentage').val()) || 0;
        var Epfpercentage = parseFloat($('#txtEpfpercentage').val()) || 0;
        var Esipercentage = parseFloat($('#txtEsipercentage').val()) || 0;
        var Tdspercentage = parseFloat($('#txtTdspercentage').val()) || 0;

        var Basicpercentage = $('#txtBasicpercentage');
        var Hrapercentage = $('#txtHrapercentage');
        var Conveyancepercentage = $('#txtConveyancepercentage');
        var Medicalpercentage = $('#txtMedicalpercentage');
        var Variablepercentage = $('#txtVariablepercentage');

        $.ajax({
            url: '/Employee/EmpEpfesilist',
            method: 'GET',
            dataType: 'json',
            success: function (response) {
                var esicPercentage = parseFloat(response.esicPercentage) || 0;
                var epfPercentage = parseFloat(response.epfPercentage) || 0;
                var esicAmount = parseFloat(response.esicAmount) || 0;

                if (AnnualCTC > 0) {
                    var monthlySalary = AnnualCTC / 12;
                    monthlySalaryInput.val(parseFloat(monthlySalary).toFixed(2));
                    var basicSalary = parseFloat(basicSalaryInput.val()).toFixed(2);
                    var BasicSalary = parseFloat($('#txtBasicSalary').val()) || 0;
                    var Hra = parseFloat($('#txtHouseRentAllowance').val()) || 0;
                    var Conveyance = parseFloat($('#txtConveyanceallowance').val()) || 0;
                    var Medical = parseFloat($('#txtMedical').val()) || 0;
                    var VariablePay = parseFloat($('#txtVariablePay').val()) || 0;
                    var epf = parseFloat($('#txtEPF').val()) || 0;
                    var epfMaster = parseFloat($('#txtEPFMaster').val()) || 0;
                    var Esi = parseFloat($('#ESIC').val()) || 0;
                    var EsiMaster = parseFloat($('#ESICMaster').val()) || 0;
                     var special = parseFloat($('#SpecialAllowance').val()) || 0;

                    // if(special > 0)
                    // {
                    //     var totalSpecial = AnnualCTC - BasicSalary - Hra - Conveyance - Medical - VariablePay - epf - epfMaster - Esi - EsiMaster;
                    //     var monthlyGrossPay = BasicSalary + Hra + totalSpecial + Conveyance + Medical + VariablePay;

                    //     $('#SpecialAllowance').val(totalSpecial.toFixed(2));
                    //     $('#txtMonthlyGrossPay').val(monthlyGrossPay.toFixed(2));
                    // }
                   

                }

                if (parseFloat(monthlySalaryInput.val()) > esicAmount) {
                    var basicSalary = parseFloat(basicSalaryInput.val()).toFixed(2);
                    var empepfvalue = parseFloat(Epfpercentage).toFixed(2);
                    $('#displayEmpEPFMaster').text(empepfvalue);
                    var epfValue = basicSalary * empepfvalue / 100;
                    $('.EmployeeContribution').css('display', 'block');
                    $('.EmployerContribution').css('display', 'block');
                    $('#txtEPF').val(epfValue.toFixed(2)).css('display', 'block');
                    $('.txtLabelEPF').css('display', 'block');

                    var EmployerepfValue = (basicSalary * EmployerContributionpercentage) / 100;
                    $('#displayEPFMaster').text(EmployerContributionpercentage.toFixed(2));
                    $('#txtEPFMaster').val(EmployerepfValue.toFixed(2)).show();
                    $('.txtLabelEmployerEPF').show();
                    $('#displayTdsPercentage').val(Tdspercentage.toFixed(2));
                    var taxvalue = Tdspercentage * monthlyGrossPayInput / 100;
                    $('#txttdsvalue').val(taxvalue.toFixed(2));
                } else if (parseFloat(monthlySalaryInput.val()) <= esicAmount) {
                    var basicSalary = parseFloat(basicSalaryInput.val()).toFixed(2);
                    $('#displayEmpEPFMaster').text(Epfpercentage.toFixed(2));
                    var epfValue = basicSalary * Epfpercentage / 100;
                    $('.EmployeeContribution').css('display', 'block');
                    $('.EmployerContribution').css('display', 'block');
                    $('#txtEPF').val(epfValue.toFixed(2)).css('display', 'block');
                    $('.txtLabelEPF').css('display', 'block');

                    var empesivalue = parseFloat(Esipercentage).toFixed(2);
                    $('#displayEmpESICMaster').text(empesivalue);
                    var esicValue = basicSalary * empesivalue / 100;
                    $('.EmployeeContribution').css('display', 'block');
                    $('.EmployerContribution').css('display', 'block');
                    $('#ESIC').val(esicValue.toFixed(2)).css('display', 'block');
                    $('.ESICLabel').css('display', 'block');

                    var EmployerepfValue = (basicSalary * EmployerContributionpercentage) / 100;
                    $('#displayEPFMaster').text(EmployerContributionpercentage.toFixed(2));
                    $('#txtEPFMaster').val(EmployerepfValue.toFixed(2)).show();
                    $('.txtLabelEmployerEPF').show();
                    $('#displayTdsPercentage').val(Tdspercentage.toFixed(2));
                    var taxvalue = Tdspercentage * monthlyGrossPayInput / 100;
                    $('#txttdsvalue').val(taxvalue.toFixed(2));

                }
            }
        });
    }

    $('#ddOfferletterid').change(function () {
        var offerLetterId = $(this).val();

        if (offerLetterId !== "0") {
            $.ajax({
                url: '/Employee/GetOfferLetterDetails',
                type: 'GET',
                data: { offerLetterId: offerLetterId },
                success: function (response) {
                    if (response) {
                        $('#FirstName').val(response.firstName);
                        $('#MiddleName').val(response.middleName);
                        $('#LastName').val(response.lastName);
                        $('#ddDepartmentID').val(response.departmentID);
                        $('#ddDesignationID').val(response.designationID);
                        $('#City').val(response.cityID);
                        $('#ddlState').val(response.stateID);
                        $('#AddressLine1').val(response.addressLine1);
                        $('#AddressLine2').val(response.addressLine2);
                        $('#PersonalEmailAddress').val(response.personalEmailAddress);
                        $('#txtAnnualCTC').val(response.annualCTC);
                        $('#Pincode').val(response.pincode);
                        SalaryCalculation();
                    } else {
                        alert('No data found for the selected offer letter.');
                    }
                },
                error: function () {
                    alert('Error fetching offer letter details.');
                }
            });
        } else {
            $('#FirstName, #MiddleName, #LastName, #AddressLine1, #AddressLine2, #PersonalEmailAddress, #txtAnnualCTC, #Pincode').val('');
            $('#ddDepartmentID, #ddDesignationID, #City, #ddlState').val('0');
        }
    });


</script>



<script>

    function bindshifttypeid(OfficeshiftTypeid) {
        var itemsListforshifttypeid = @Json.Serialize(ViewBag.officeshift);
        debugger
        var dropdownforshifttypeid = $("#ddshifttypeidid");
        $.each(itemsListforshifttypeid, function (index, item) {
            dropdownforshifttypeid.append($('<option></option>').val(item.value).text(item.text));
        });
        if (OfficeshiftTypeid != "") {
            $("#ddshifttypeidid").val(OfficeshiftTypeid)
        }
    }
    function bindOfferletter(Offerletterid) {
        var itemsListforOfferletter = @Json.Serialize(ViewBag.Offerletter);
        debugger
        var dropdownforOfferletter = $("#ddOfferletterid");
        $.each(itemsListforOfferletter, function (index, item) {
            dropdownforOfferletter.append($('<option></option>').val(item.value).text(item.text));
        });
        if (Offerletterid != "") {
            $("#ddOfferletterid").val(Offerletterid)
        }
    }
    function bindsStates(StatesId) {
        var itemsList = @Json.Serialize(ViewBag.stes);
        debugger
        var dropdown = $("#ddlStates");
        $.each(itemsList, function (index, item) {
            dropdown.append($('<option></option>').val(item.value).text(item.text));
        });
        if (StatesId != "") {
            $("#ddlStates").val(StatesId)
        }
    }

    function bindworkLocation(WorkLocationId) {
        var itemsList = @Json.Serialize(ViewBag.WorkLocation);
        debugger
        var dropdown = $("#ddlCity");
        $.each(itemsList, function (index, item) {
            dropdown.append($('<option></option>').val(item.value).text(item.text));
        });
        if (WorkLocationId != "") {
            $("#ddlCity").val(WorkLocationId)
        }
    }
    function bindCity(CityId) {
        var itemsList = @Json.Serialize(ViewBag.Cities);
        debugger
        var dropdown = $("#City");
        $.each(itemsList, function (index, item) {
            dropdown.append($('<option></option>').val(item.value).text(item.text));
        });
        if (CityId != "") {
            $("#City").val(CityId)
        }
    }
    function bindDesigation(DesignationID) {
        var itemsListforDesigation = @Json.Serialize(ViewBag.Designation);
        debugger
        var dropdownforDesigation = $("#ddDesignationID");
        $.each(itemsListforDesigation, function (index, item) {
            dropdownforDesigation.append($('<option></option>').val(item.value).text(item.text));
        });
        if (DesignationID != "") {
            $("#ddDesignationID").val(DesignationID)
        }
    }
    function bindDepartment(DepartmentID) {
        var itemsListforDepartment = @Json.Serialize(ViewBag.Department);
        debugger
        var dropdownforDepartment = $("#ddDepartmentID");
        $.each(itemsListforDepartment, function (index, item) {
            dropdownforDepartment.append($('<option></option>').val(item.value).text(item.text));
        });
        if (DepartmentID != "") {
            $("#ddDepartmentID").val(DepartmentID)
        }
    }

    function bindStates(StateId) {
        var itemsListforStates = @Json.Serialize(ViewBag.States);
        debugger
        var dropdownforState = $("#ddlState");
        $.each(itemsListforStates, function (index, item) {
            dropdownforState.append($('<option></option>').val(item.value).text(item.text));
        });
        if (StateId != "") {
            $("#ddlState").val(StateId)
        }
    }
    function bindCustomerCompanyNameid(CustomerCompanyName) {
        var itemsListforCustomerCompanyNameid = @Json.Serialize(ViewBag.CustomerCompanyName);
        debugger
        var dropdownforCustomerCompanyNameid = $("#ddCustomerCompanyNameid");
        $.each(itemsListforCustomerCompanyNameid, function (index, item) {
            dropdownforCustomerCompanyNameid.append($('<option></option>').val(item.value).text(item.text));
        });
        if (CustomerCompanyName != "") {
            $("#ddCustomerCompanyNameid").val(CustomerCompanyName)
        }
    }
</script>

<script>
    $(document).ready(function () {
        $("#dobInput").on("input", function () {
            debugger
            var birthdate = $(this).val();
            if (birthdate !== "") {
                var today = new Date();
                var birthDate = new Date(birthdate);

                var age = today.getFullYear() - birthDate.getFullYear();
                var monthDiff = today.getMonth() - birthDate.getMonth();
                if (monthDiff < 0 || (monthDiff === 0 && today.getDate() < birthDate.getDate())) {
                    age--;
                }
                $("#ageInput").val(age);
            } else {
                $("#ageInput").val('');
            }
        });
    });
</script>

<script type="text/javascript">

    var Gender_id = '@ViewBag.Gender_ID';
    if (Gender_id != "") {
        $("#ddlGender").val(Gender_id);
    }

    // var customerid = '@ViewBag.CustomerID';
    var workid = '@ViewBag.Work_Location_ID';
    var designationid = '@ViewBag.Designation_ID';
    var departmentid = '@ViewBag.Department_ID';
    var stateid = '@ViewBag.State_ID';
    var statesid = '@ViewBag.statesy';
    var city = '@ViewBag.City';
    var userOfferletter = '@ViewBag.Offerletters';
    var userOfficeshift = '@ViewBag.shifttype';
    var CustomerCompany = '@ViewBag.CustomerCompany';



    if (userOfferletter != "") {
        bindOfferletter(userOfferletter);
    }
    else {
        bindOfferletter("");
    }
    if (userOfficeshift != "") {
        bindshifttypeid(userOfficeshift);
    }
    else {
        bindshifttypeid("");
    }
    // if (customerid != "") {
    //     bindcustomer(customerid);
    // }
    // else {
    //     bindcustomer("");
    // }
    if (workid != "") {
        bindworkLocation(workid);
    }
    else {
        bindworkLocation("");
    }
    if (departmentid != "") {
        bindDepartment(departmentid);
    }
    else {
        bindDepartment("");
    }
    if (designationid != "") {
        bindDesigation(designationid);
    }
    else {
        bindDesigation("");
    }
    if (stateid != "") {
        bindStates(stateid);
    }
    else {
        bindStates("");
    }
    if (statesid != "") {
        bindsStates(statesid);
    }
    else {
        bindsStates("");
    }
    if (city != "") {
        bindCity(city);
    }
    else {
        bindCity("");
    }
    if (CustomerCompany != "") {
        bindCustomerCompanyNameid(CustomerCompany);
    }
    else {
        bindCustomerCompanyNameid("");
    }
    var deductiontime = '@ViewBag.Deduction_Cycle';
    if (deductiontime != "") {
        $("#ddlDeductionTime").val(deductiontime);
    }


    var acounttype = '@ViewBag.Account_Type_ID';
    if (acounttype != "") {
        if (acounttype == "1") {
            $("#rdAcountCurrent").prop("checked", true);
            $("#rdAcountSaving").prop("checked", false);
        }
        if (acounttype == "2") {
            $("#rdAcountCurrent").prop("checked", false);
            $("#rdAcountSaving").prop("checked", true);
        }
    }


    var DOBJ = '@ViewBag.Date_Of_Joining';
    if (DOBJ != "") {
        var formattedDate = DOBJ ? new Date(DOBJ).toISOString().split('T')[0] : '';
        $('#DateOfJoining').val(formattedDate);
    }


    var DOBBirth = '@ViewBag.Date_Of_Birth';
    if (DOBBirth != "") {
        var formatDOB = DOBBirth ? new Date(DOBBirth).toISOString().split('T')[0] : '';
        $('#dobInput').val(formatDOB);
    }


</script>

<script>
    $(document).ready(function () {
        $('#MobileNumber').on('keydown', function (e) {
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13]) !== -1 ||
                (e.keyCode == 65 && e.ctrlKey === true) ||
                (e.keyCode >= 35 && e.keyCode <= 39)) {
                return;
            }

            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });
    });


</script>
<script>
    $(document).ready(function () {
        $('#AccountNumber').on('input', function (e) {
            var inputValue = $(this).val();
            var numericValue = inputValue.replace(/[^0-9]/g, '');
            var maxLength = 17;
            if (numericValue.length > maxLength) {
                numericValue = numericValue.slice(0, maxLength);
            }
            $(this).val(numericValue);
        });
    });

    $(document).ready(function () {
        $('#ReEnterAccountNumber').on('input', function (e) {
            var inputValue = $(this).val();
            var numericValue = inputValue.replace(/[^0-9]/g, '');
            var maxLength = 17;
            if (numericValue.length > maxLength) {
                numericValue = numericValue.slice(0, maxLength);
            }
            $(this).val(numericValue);
        });
    });

</script>
<script>
    function validateNumericInput(event) {
        if ([67, 86, 88].includes(event.keyCode) && (event.ctrlKey || event.metaKey) ||
            [32, 46, 8, 9, 27, 13].includes(event.keyCode) ||
            (event.keyCode >= 35 && event.keyCode <= 39)) return;

        if ((event.keyCode >= 48 && event.keyCode <= 57) || (event.keyCode >= 96 && event.keyCode <= 105)) return;
        event.preventDefault();
    }

</script>






<script>
    $(document).ready(function () {
        var ddlState = $('#ddlStates');
        $.ajax({
            url: '/Home/BindStateDetails',
            type: 'GET',
            dataType: 'json',
            success: function (d) {
                $.each(d, function (i, states) {
                    ddlState.append($("<option></option>").val(states.id).html(states.sName));
                });
            },
            error: function () {
                alert('Error!');
            }
        });
        $("#ddlStates").change(function () {
            var StateId = parseInt($(this).val());
            if (!isNaN(StateId)) {
                var ddlCity = $('#ddlCity');
                ddlCity.append($("<option></option>").val('').html('Please wait ...'));

                debugger;
                $.ajax({
                    url: '/Home/BindCityDetails',
                    type: 'GET',
                    dataType: 'json',
                    data: { stateId: StateId },
                    success: function (d) {
                        ddlCity.empty(); // Clear the plese wait
                        ddlCity.append($("<option></option>").val('').html('-- Select WorkLocation --'));
                        $.each(d, function (i, cities) {
                            ddlCity.append($("<option></option>").val(cities.id).html(cities.city1));
                        });

                    },
                    error: function () {
                        alert('Error!');
                    }
                });
            }
        });
    })
</script>
<script>
    $(document).ready(function () {
        var ddlState = $('#ddlState');
        //ddlState.append($("<option></option>").val('').html('-- Select State --'));
        $.ajax({
            url: '/Home/BindStateDetails',
            type: 'GET',
            dataType: 'json',
            success: function (d) {
                $.each(d, function (i, states) {
                    ddlState.append($("<option></option>").val(states.id).html(states.sName));
                });
            },
            error: function () {
                alert('Error!');
            }
        });
        $("#ddlState").change(function () {
            var StateId = parseInt($(this).val());
            if (!isNaN(StateId)) {
                var ddlCity = $('#City');
                ddlCity.append($("<option></option>").val('').html('Please wait ...'));

                debugger;
                $.ajax({
                    url: '/Home/BindCityDetails',
                    type: 'GET',
                    dataType: 'json',
                    data: { stateId: StateId },
                    success: function (d) {
                        ddlCity.empty(); // Clear the plese wait
                        ddlCity.append($("<option></option>").val('').html('-- Select City --'));
                        $.each(d, function (i, cities) {
                            ddlCity.append($("<option></option>").val(cities.id).html(cities.city1));
                        });

                    },
                    error: function () {
                        alert('Error!');
                    }
                });
            }
        });
    })
</script>

<script>
 
    function updateIncrementDetails(empRegId) {
        $.ajax({
            type: "POST",
            url: "/Employee/UpdateIsIncrement",
            data: { Emp_Reg_ID: empRegId },
            dataType: 'json',
            type: 'post',
            success: function (msg) {
                $('#step-4').load(location.href + " #step-4 > *");
                console.log("increment done.");
            }
        });
    }


    function confirmUpdateIncrement(empRegId) {
        Swal.fire({
            title: "Are you sure?",
            text: "Do you want to update the increment details?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, update it!",
            cancelButtonText: "Cancel",
        }).then((result) => {
            if (result.isConfirmed) {
                updateIncrementDetails(empRegId)
                    .then((data) => {
                        if (data.success) {
                            Swal.fire(
                                "Updated!",
                                "The increment details have been updated successfully.",
                                "success"
                            );
                        } else {
                            Swal.fire(
                                "Failed!",
                                "Could not update the increment details. Please try again.",
                                "error"
                            );
                        }
                    })
                    .catch(() => {
                        Swal.fire("Error!", "An error occurred while processing the request.", "error");
                    });
            } else {
                document.getElementById("IsIncrement").checked = false; 
            }
        });
    }
    document.getElementById("IsIncrement").addEventListener("click", function () {
        const empRegId = document.getElementById("empid").value; 
        if (empRegId) {
            confirmUpdateIncrement(empRegId); 
        } else {
            Swal.fire("Warning!", "Employee ID is missing. Please provide a valid Employee ID.", "warning");
        }
    });

</script>
