@model CRM.Models.Crm.EmployeeRegistration

@{
    ViewData["Title"] = "Employee";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<link rel="stylesheet" type="text/css" href="../assets/css/EmpRegis.css">
<!-- Normalize CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<!-- Bootstrap 4 CSS -->
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.css'>
<!-- Telephone Input CSS -->
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/12.1.2/css/intlTelInput.css'>
<!-- Icons CSS -->
<link rel='stylesheet' href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'>
<!-- Nice Select CSS -->
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css'>
<!-- Style CSS -->
<link rel="stylesheet" href="css/style.css">
<style>
    .step-container {
        position: relative;
        text-align: center;
        transform: translateY(-43%);
    }

    .step-circle {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #00baf2;
        border: 2px solid #007bff;
        line-height: 30px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        cursor: pointer; /* Added cursor pointer */
    }

    .step-line {
        position: absolute;
        top: 16px;
        left: 50px;
        width: calc(100% - 100px);
        height: 2px;
        background-color:#313131;
        z-index: -1;
    }

    #multi-step-form {
        overflow-x: hidden;
    }
</style>
<div class="page-wrapper">
    <div class="page-body-wrapper">
        <div class="page-sidebar">
        </div>

        <div class="page-body">
            <!-- Container-flui starts-->
            <div class="containder-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="page-header-left">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <ol class="breadcrumb pull-right">
                                <li class="breadcrumb-item"><a href="/Home/Dashboard"><i data-feather="home"></i></a></li>
                                <li class="breadcrumb-item">HR Payrole</li>
                                <li class="breadcrumb-item active">Employee</li>
                                <li class="breadcrumb-item active">EmployeeRegistration</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid Ends-->
            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card tab2-card">
                            <div class="card-header">
                                <h3>
                                    Employee Registration
                                </h3>
                            </div>
                            <div class="card-body">

                                <div class="tab-content">
                                    <div class="progress px-1" style="height: 3px;">
                                        <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <div class="step-container d-flex justify-content-between">
                                        <div class="step-circle" @*onclick="displayStep(1)"*@>1</div>
                                        <div class="step-circle" @*onclick="displayStep(2)"*@>2</div>
                                        <div class="step-circle" @*onclick="displayStep(3)"*@>3</div>
                                        <div class="step-circle" @*onclick="displayStep(4)"*@>4</div>
                                    </div>
                                    <div class="tab-pane fade active show" id="account" role="tabpanel" aria-labelledby="account-tab">
                                        <form class="needs-validation user-add" id="multi-step-form" method="post" asp-action="EmployeeRegistration" autocomplete="off">
                                            <div class="step step-1">
                                                <h4 class="text-danger">Basic info </h4>

                                                <div class="row">
                                                    <div class="col">
                                                        <label>Frist Name</label>
                                                        <input class="form-control" value='@ViewBag.First_Name' name="FirstName" placeholder="Enter First Name" id="FirstName" type="text" required>
                                                    </div>

                                                    <div class="col">
                                                        <label>Middle Name</label>
                                                        <input class="form-control" value='@ViewBag.Middle_Name' name="MiddleName" placeholder="Enter Middle Name" id="MiddleName" type="text" required>
                                                    </div>
                                                    <div class="col">
                                                        <label>Last Name</label>
                                                        <input class="form-control " value='@ViewBag.Last_Name' name="LastName" placeholder="Enter Last Name" id="LastName" type="text" required>
                                                    </div>

                                                </div>

                                                <div class="row">

                                                    <div class="col-md-6">
                                                        <label>Work Email</label>
                                                        <div class="form-group">
                                                            <input type="hidden" name="Emp_Reg_ID" value='@ViewBag.Emp_Reg_Code' />
                                                            <input class="form-control " value='@ViewBag.Work_Email' name="WorkEmail" placeholder="Enter Work Email" id="WorkEmail" type="email" required>

                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <label>Date Of Joining</label>
                                                        <div class="form-group">

                                                            <input class="form-control " value='@ViewBag.Date_Of_Joining' name="DateOfJoining"  id="DateOfJoining" type="date" required>

                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label>Gender</label>
                                                        <div class="form-group">

                                                            <select name="GenderID" id="ddlGender" class="form-control ">
                                                                <option value="0">-select Gender--</option>
                                                                <option value="1">Female</option>
                                                                <option value="2">Male</option>
                                                                <option value="3">Other</option>

                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-3">
                                                        <label>Company Name</label>
                                                        <div class="form-group">

                                                            <select class="form-control" name="CustomerID" id="ddCustomerID" onchange="Locations()">
                                                                <option value="0">--Select Company--</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-3">
                                                        <label>Work Location</label>
                                                        <div class="form-group">

                                                            <select class="form-control" name="WorkLocationID"  id="ddlWorkLocationID">
                                                                <option value="0">-Select WorkLocation--</option>


                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-3">
                                                        <label>Designation</label>
                                                        <div class="form-group">

                                                            <select name="DesignationID" class="form-control " id="ddDesignationID">
                                                                <option value="0">--select Designation--</option>

                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-3">
                                                        <label>Department</label>
                                                        <div class="form-group">

                                                            <select name="DepartmentID" class="form-control " id="ddDepartmentID">
                                                                <option value="0">-select Department--</option>

                                                            </select>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="pull-right">
                                                    <button type="button" id="btnFirstTab" onclick="displayStep(2)" class="btn btn-primary next-step">Next</button>
                                                </div>
                                            </div>

                                            <div class="step step-2">
                                                <h4 class="text-danger">Persnal info.</h4>
                                                <div class="row">
                                                    <div class="col">
                                                        <label>Personal Email Address</label>
                                                        <input class="form-control " value='@ViewBag.Personal_Email_Address' placeholder="Enter Personal Email Address" name="PersonalEmailAddress" id="PersonalEmailAddress" type="email" required="">
                                                    </div>

                                                    <div class="col">
                                                        <label>Mobile Number</label>
                                                        <div class="input-group">
                                                            <span class="input-group-text" id="basic-addon1">+91</span>
                                                            <input class="form-control " value='@ViewBag.Mobile_Number' name="MobileNumber"  placeholder="Enter Mobile Number" id="MobileNumber" type="text" maxlength="10" minlength="10" required="">
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <label>Date Of Birth</label>
                                                        <input class="form-control " value='@ViewBag.Date_Of_Birth' name="DateOfBirth" id="dobInput" type="date" required="">
                                                    </div>

                                                </div>

                                                <div class="row">
                                                    <div class="col">
                                                        <label>Age</label>
                                                        <input class="form-control " value='@ViewBag.Age' id="ageInput" type="text" required="" readonly>
                                                    </div>

                                                    <div class="col">
                                                        <label>Father Name</label>
                                                        <input class="form-control " value='@ViewBag.Father_Name' name="FatherName" id="FatherName" placeholder="Enter Father Name" type="text" required="">
                                                    </div>
                                                    <div class="col">
                                                        <label>Pan</label>
                                                        <input class="form-control " value='@ViewBag.PAN' name="PAN" id="PAN" placeholder="Enter PAN"  type="text" required="">
                                                    </div>

                                                </div>

                                                <div class="row">
                                                    <div class="col">
                                                        <label>Address 1</label>
                                                        <input class="form-control " value='@ViewBag.Address_Line_1' name="AddressLine1" placeholder="Enter Address Line1" id="AddressLine1" type="text" required="">
                                                    </div>

                                                    <div class="col">
                                                        <label>Address 2</label>
                                                        <input class="form-control " value='@ViewBag.Address_Line_2' name="AddressLine2" placeholder="Enter Address Line2" id="AddressLine2" type="text" required="">
                                                    </div>
                                                    <div class="col">
                                                        <label>City</label>
                                                        <input class="form-control " value='@ViewBag.City' name="City" id="City"  placeholder="Enter City" type="text" required="">
                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <label>State</label>
                                                        <select class="form-control " id="ddlState" name="StateID">
                                                            <option value="0">-select State--</option>

                                                        </select>
                                                    </div>
                                                    <div class="col">
                                                        <label>Pincode</label>
                                                        <input class="form-control " value='@ViewBag.Pincode' name="Pincode" maxlength="6" id="Pincode"  placeholder="Enter Pincode" type="text" required onkeydown="validateNumericInput(event)">
                                                    </div>

                                                </div>
                                                <br />

                                                <div class="pull-right" style="margin-top:5px;">

                                                    <button type="button" class="btn btn-primary prev-step">Previous</button>
                                                    <button type="button" id="btnSecondTab" onclick="displayStep(3)" class="btn btn-primary next-step">Next</button>
                                                </div>
                                            </div>
                                            <div class="step step-3">
                                                <h4 class="text-danger">Payment info</h4>
                                                <div class="row">
                                                    <div class="col">
                                                        <label>Account Holder Name</label>
                                                        <input class="form-control " value='@ViewBag.Account_Holder_Name' name="AccountHolderName" placeholder="Enter Account Holder Name" id="AccountHolderName" type="text" required="">
                                                    </div>
                                                    <div class="col">
                                                        <label>Bank Name</label>
                                                        <input class="form-control " value='@ViewBag.Bank_Name' name="BankName" id="BankName" placeholder="Enter BankName" type="text" required="">
                                                    </div>
                                                    <div class="col">
                                                        <label>Account Number</label>
                                                        <input class="form-control " value='@ViewBag.Account_Number' name="AccountNumber" placeholder="Enter Account Number" id="AccountNumber" type="number" required="">
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col">
                                                        <label>Re-enter Account Number</label>
                                                        <input class="form-control " value='@ViewBag.Re_Enter_Account_Number' name="ReEnterAccountNumber" placeholder="Enter Re-EnterAccountNumber" id="ReEnterAccountNumber" type="number" required="">
                                                    </div>
                                                    <div class="col">
                                                        <label>IFSC</label>
                                                        <input class="form-control " value='@ViewBag.IFSC' name="IFSC" id="IFSC" placeholder="Enter IFSC" type="text" required="">
                                                    </div>

                                                    <div class="col">
                                                        <label>EPF Number</label>
                                                        <input class="form-control " value='@ViewBag.EPF_Number' name="EPF_Number" placeholder="Enter EPF Number" id="EPF_Number" type="text" required="">
                                                    </div>
                                                </div>
                                                

                                                <div class="row">
                                                    <div class="col">
                                                        <label>Employee Contribution Rate</label>
                                                        <input class="form-control " value='@ViewBag.Employee_Contribution_Rate' name="Employee_Contribution_Rate" placeholder="Enter Employee Contribution Rate" id="Employee_Contribution_Rate" type="text" required="">
                                                    </div>

                                                    <div class="col">
                                                        <label for="validationCustom0">Deduction Cycle</label>
                                                        <select id="ddlDeductionTime" name="Deduction_Cycle" class="form-control ">
                                                            <option value="0">-- select --</option>
                                                            <option value="M">Monthly</option>
                                                            <option value="Y">Yearly</option>
                                                        </select>
                                                    </div>
                                                 
                                                    <div class="col">
                                                        <label>Nominees Name</label>
                                                        <input class="form-control " value='@ViewBag.nominee' name="nominee" id="nominee" placeholder="Enter nominee name" type="text" required="">
                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <div class="col" style="padding:20px;">
                                                        <label>Account Type</label>
                                                        <br />
                                                        <div class="d-flex gap-2">
                                                            <input type="radio" id="rdAcountCurrent" name="AccountTypeID" value="1">current
                                                            <input type="radio" id="rdAcountSaving" name="AccountTypeID" value="2">savings
                                                        </div>
                                                        <div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <br />
                                                <div class="pull-right">
                                                    <button type="button" class="btn btn-primary prev-step">Previous</button>
                                                    <button type="button" id="btnThirdTab" onclick="displayStep(4)" class="btn btn-primary next-step">Next</button>
                                                </div>
                                            </div>

                                            <div class="step step-4">
                                                <h4 class="text-danger">Salary Details</h4>
                                                <div class="row">
                                                    <div class="col">
                                                        <label>Annual CTC</label>
                                                        <input class="form-control " value='@ViewBag.AnnualCTC' name="AnnualCTC" placeholder="Enter AnnualCTC"  id="txtAnnualCTC" type="text" required>
                                                    </div>
                                                    <div class="col">
                                                        <label>Special Allowance</label>
                                                        <input class="form-control " value='@ViewBag.specialallowance' name="SpecialAllowance" id="SpecialAllowance" placeholder="Enter Special Allowance" type="text" required="">
                                                    </div>
                                                    <div class="col">
                                                        <label>Service Charge</label>
                                                        <input class="form-control " value='@ViewBag.servicecharge' name="servicecharge" id="Servicecharge" type="text" required="" readonly>
                                                    </div>
                                                    <div class="col">
                                                        <label>ESIC</label>
                                                        <input class="form-control " value='@ViewBag.ESIC' name="ESIC" id="ESIC" type="text" required="" readonly>
                                                    </div>                                         
                                                    <div class="col">
                                                        <label>Professional tax</label>
                                                        <input class="form-control " value='@ViewBag.Professionaltax' name="Professionaltax" id="Professionaltax" type="text" required="" readonly>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col">
                                                        <label>Basic</label>
                                                        <input class="form-control " value='@ViewBag.Basic' value='@ViewBag.Personal_Email_Address' name="Basic" placeholder="00.0" id="txtBasicSalary" type="text" required="" readonly>
                                                    </div>
                                                    <div class="col">
                                                        <label>HouseRent Allowance</label>
                                                        <input class="form-control " value='@ViewBag.HouseRentAllowance' name="HouseRentAllowance" placeholder="00.0" id="txtHouseRentAllowance" type="text" required="" readonly>
                                                    </div>
                                                    <div class="col">
                                                        <label>EPF</label>
                                                        <input class="form-control " value='@ViewBag.EPF' name="EPF" placeholder="00.0" id="txtEPF" type="text" required="" readonly>
                                                    </div>

                                                </div>

                                                <div class="row">
                                                    <div class="col">
                                                        <label>Monthly CTC</label>
                                                        <input class="form-control " value='@ViewBag.MonthlyCTC' name="MonthlyCTC" placeholder="00.0" id="txtMonthlyCTC" type="text" required="" readonly>
                                                    </div>
                                                    <div class="col">
                                                        <label>Monthly GrossPay</label>
                                                        <input class="form-control " value='@ViewBag.MonthlyGrossPay' name="MonthlyGrossPay" placeholder="00.0" id="txtMonthlyGrossPay" type="text" required="" readonly>
                                                    </div>

                                                </div>
                                                <br />

                                                <div class="pull-right mt-4" style="padding:20px;">
                                                    <button type="button" class="btn btn-primary prev-step">Previous</button>
                                                    <input type="submit" onclick="return fnValidate()"  id="btnsave" class="btn btn-primary" value='@ViewBag.btnText' />
                                                </div>
                                            </div>

                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- jQuery -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<!-- Bootstrap JS -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js'></script>
<!-- jQuery Easing JS -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js'></script>
<!-- Telephone Input JS -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/12.1.2/js/intlTelInput.js'></script>
<!-- Popper JS -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js'></script>
<!-- jQuery Nice Select JS -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js'></script>
<!-- Initialization -->

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    (function ($) {
        "use strict";

        //* Form js
        function verificationForm() {
            //jQuery time
            var current_fs, next_fs, previous_fs; //fieldsets
            var left, opacity, scale; //fieldset properties which we will animate
            var animating; //flag to prevent quick multi-click glitches

            $(".next").click(function () {
                if (animating) return false;
                animating = true;

                current_fs = $(this).parent();
                next_fs = $(this).parent().next();

                //activate next step on progressbar using the index of next_fs
                $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

                //show the next fieldset
                next_fs.show();
                //hide the current fieldset with style
                current_fs.animate({
                    opacity: 0
                }, {
                    step: function (now, mx) {
                        //as the opacity of current_fs reduces to 0 - stored in "now"
                        //1. scale current_fs down to 80%
                        scale = 1 - (1 - now) * 0.2;
                        //2. bring next_fs from the right(50%)
                        left = (now * 50) + "%";
                        //3. increase opacity of next_fs to 1 as it moves in
                        opacity = 1 - now;
                        current_fs.css({
                            'transform': 'scale(' + scale + ')',
                            'position': 'absolute'
                        });
                        next_fs.css({
                            'left': left,
                            'opacity': opacity
                        });
                    },
                    duration: 800,
                    complete: function () {
                        current_fs.hide();
                        animating = false;
                    },
                    //this comes from the custom easing plugin
                    easing: 'easeInOutBack'
                });
            });

            $(".previous").click(function () {
                if (animating) return false;
                animating = true;

                current_fs = $(this).parent();
                previous_fs = $(this).parent().prev();

                //de-activate current step on progressbar
                $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

                //show the previous fieldset
                previous_fs.show();
                //hide the current fieldset with style
                current_fs.animate({
                    opacity: 0
                }, {
                    step: function (now, mx) {
                        //as the opacity of current_fs reduces to 0 - stored in "now"
                        //1. scale previous_fs from 80% to 100%
                        scale = 0.8 + (1 - now) * 0.2;
                        //2. take current_fs to the right(50%) - from 0%
                        left = ((1 - now) * 50) + "%";
                        //3. increase opacity of previous_fs to 1 as it moves in
                        opacity = 1 - now;
                        current_fs.css({
                            'left': left
                        });
                        previous_fs.css({
                            'transform': 'scale(' + scale + ')',
                            'opacity': opacity
                        });
                    },
                    duration: 800,
                    complete: function () {
                        current_fs.hide();
                        animating = false;
                    },
                    //this comes from the custom easing plugin
                    easing: 'easeInOutBack'
                });
            });

            $(".submit").click(function () {
                return false;
            })
        };

        //* Add Phone no select
        function phoneNoselect() {
            if ($('#msform').length) {
                $("#phone").intlTelInput();
                $("#phone").intlTelInput("setNumber", "+880");
            };
        };
        //* Select js
        function nice_Select() {
            if ($('.product_select').length) {
                $('select').niceSelect();
            };
        };
        /*Function Calls*/
        verificationForm();
        phoneNoselect();
        nice_Select();
    })(jQuery);
</script>

<script>
    var currentStep = 1;
    var updateProgressBar;
    var errormessage = '';

    function displayStep(stepNumber) {
        if (stepNumber >= 1 && stepNumber <= 4) {
            if (validateStep(currentStep)) {
                $(".step-" + currentStep).hide();
                $(".step-" + stepNumber).show();
                currentStep = stepNumber;
                updateProgressBar();
            }
        }
    }
    function fnValidate() {
        var errormessage = '';

        var AnnualCTC = $("#txtAnnualCTC").val();
        var ctcRegex = /^\d+(\.\d{1,2})?$/;

        if (!ctcRegex.test(AnnualCTC)) {
            errormessage += 'Please Enter valid Annual CTC,'

        }
        if ($("#SpecialAllowance").val().trim() == '') {

                errormessage += 'Please Enter Special Allowance,'
            }

        //if ($("#Servicecharge").val().trim() == '') {

        //    errormessage += 'Please Enter  ServiceCharge,'
        //}

        //if ($("#ESIC").val().trim() == '') {

        //    errormessage += 'Please Enter  ESIC'
        //}
        //if ($("#Professionaltax").val().trim() == '') {

        //    errormessage += 'Please Enter  Professionaltax,'
        //}

       if (errormessage !== '') {
                $(".next-step").off("click");
                openErrorPopUp(errormessage);
                return false;
       }
    }


    function validateStep(stepNumber) {
        errormessage = '';
     if (stepNumber === 1) {
            if ($("#FirstName").val().trim() == '') {
                errormessage += 'Please Enter First Name,'
            }
            //if ($("#MiddleName").val().trim() == '') {
            //    errormessage += 'Please Enter Middle Name,'
            //}
            if ($("#LastName").val().trim() == '') {

                errormessage += 'Please Enter Last Name,'
            }
            if ($("#WorkEmail").val().trim() == '') {

                errormessage += 'Please Enter Work Email,'
            }
            var email = $("#WorkEmail").val();
            var emailRegex = /^[^\s@@]+@@[^\s@@]+\.[^\s@@]+$/;
            if (!emailRegex.test(email)) {
                errormessage += 'Invalid Work Email Id,';

            }


            var dateOfJoining = $("#DateOfJoining").val();
            var dateRegex = /^\d{4}-\d{2}-\d{2}$/;
            if (!dateRegex.test(dateOfJoining)) {
                errormessage += 'Please enter a valid date in the format mm/dd/yyyy,';

            }
            var parts = dateOfJoining.split("/");
            var selectedDate = new Date(parts[2], parts[0] - 1, parts[1]);
            var currentDate = new Date();
            if (selectedDate > currentDate) {
                errormessage += 'Date of Joining cannot be in the future,';
            }
            if ($("#ddlGender").val().trim() == '0') {

                errormessage += 'Please Select Gender,'
            }
            if ($("#ddCustomerID").val().trim() == '0') {

                errormessage += 'Please Select Company,'
            }
            if ($("#ddlWorkLocationID").val().trim() == '0') {

                errormessage += 'Please Select Work Location,'
            }
            if ($("#ddDesignationID").val().trim() == '0') {

                errormessage += 'Please Select Designation,'
            }
            if ($("#ddDepartmentID").val().trim() == '0') {

                errormessage += 'Please Select Department,'
            }
            if (errormessage !== '') {
        $(".next-step").off("click");
        openErrorPopUp(errormessage);
        return false;
    } 
    else {
        document.getElementById('btnFirstTab').addEventListener('click', function () {
            displayStep(2);
        });
        return true;
    }
    }
     if (stepNumber === 2) {
            if ($("#PersonalEmailAddress").val().trim() == '') {
                errormessage += 'Please Enter Personal Email Address,'
            }
            var email = $("#PersonalEmailAddress").val();
            var emailRegex = /^[^\s@@]+@@[^\s@@]+\.[^\s@@]+$/;
            if (!emailRegex.test(email) && email.trim() != '') {
                errormessage += 'Invalid Personal Email Address,';

            }

            var mobileNumber = $("#MobileNumber").val();


            var mobileRegex = /^[0-9]{10}$/;

            if (!mobileRegex.test(mobileNumber)) {
                errormessage += 'Please enter a valid 10-digit mobile number,'

            }
            var dateRegex = /^\d{4}-\d{2}-\d{2}$/;

            var inputValue = $("#dobInput").val();

            if (!dateRegex.test(inputValue)) {
                errormessage += 'Please enter a valid date of birth in the format dd/mm/yyyy,'

            }           
            if ($("#FatherName").val().trim() == '') {

                errormessage += 'Please Enter Father Name,'
            }

            if ($("#PAN").val().trim() == '') {

                errormessage += 'Please Enter Pan,'
            }


            var panNumber = $('#PAN').val().trim();


            var panRegex = /^([A-Z]){5}([0-9]){4}([A-Z]){1}?$/;

            if (!panRegex.test(panNumber)) {
                errormessage += 'PAN Card is not valid,'
            }

            if ($("#AddressLine1").val().trim() == '') {

                errormessage += 'Please Enter First AddressLine,'
            }
            if ($("#AddressLine2").val().trim() == '') {

                errormessage += 'Please Enter second AddressLine,'
            }
            if ($("#City").val().trim() == '') {

                errormessage += 'Please Enter City,'
            }
            if ($("#ddlState").val().trim() == '0') {

                errormessage += 'Please Select State,'
            }
            if ($("#Pincode").val().trim() == '') {

                errormessage += 'Please Enter Pincode'
            }
            if (errormessage !== '') {
                $(".next-step").off("click");
                openErrorPopUp(errormessage);
                return false;
            }
            else {
                document.getElementById('btnSecondTab').addEventListener('click', function () {
                    displayStep(3);
                });
                return true;
            }
        }    
      if (stepNumber === 3) {
        if ($("#AccountHolderName").val().trim() == '') {
        errormessage += 'Please Enter Account Holder Name,'
        }
        if ($("#nominee").val().trim() == '') {
            errormessage += 'Please Enter Nominee Name,'
        }

    if ($("#BankName").val().trim() == '') {

        errormessage += 'Please Enter BankName,'
    }

    var accountNumber = $("#AccountNumber").val();

    var accountNumberRegex = /^\d+$/;

    if (!accountNumberRegex.test(accountNumber)) {
        errormessage += 'Account Number is not valid,'
    }

    var reEnterAccountNumber = $("#ReEnterAccountNumber").val();

    var ReEnterAccountNumberRegex = /^\d+$/;

    if (!ReEnterAccountNumberRegex.test(reEnterAccountNumber)) {
        errormessage += 'Re-EnterAccountNumber Number is not valid,'
    }
            if (accountNumber !== reEnterAccountNumber) {
                errormessage += 'Account Number and Re-Enter Account Number should not match,';
            }
    var ifsc = $("#IFSC").val();
    var ifscRegex = /^[A-Z]{4}[0][A-Z0-9]{6}$/;

    if (!ifscRegex.test(ifsc)) {
        errormessage += 'IFSC Code is  not valid,'
    }


    //var EPF = $("#EPF_Number").val();
    //var epfRegex = /^[A-Z]{3}\/[A-Z]{3}\/\d{6}\/\d{2}$/;

    //if (!epfRegex.test(EPF)) {
    //    errormessage += 'EPF Number is not valid,'
    //}

    if ($("#Employee_Contribution_Rate").val().trim() == '') {

        errormessage += 'Please Enter Employee Contribution Rate,'
    }



    if ($("#ddlDeductionTime").val().trim() == '0') {

        errormessage += 'Please Select Deduction Cycle,'
    }


    var selectedAccountType = $("input[name='AccountTypeID']:checked").val();

    if (!selectedAccountType) {
        errormessage += 'Please choose Account'

    }
            if (errormessage !== '') {
                $(".next-step").off("click");
                openErrorPopUp(errormessage);
                return false;
            }
            else {
                document.getElementById('btnThirdTab').addEventListener('click', function () {
                    displayStep(4);
                });
                return true;
            }
        }    
}


    function openErrorPopUp(errorMessage) {
        var arryMessage;
        var message = '';
        if (errorMessage == undefined) {
            document.location.reload(true);
        }
        arryMessage = errorMessage.split(",");
        var length = arryMessage.length;

        if (arryMessage[arryMessage.length - 1] == "") {
            length = length - 1;
        }
        errorMessage = "";
        for (var i = 0; i < length; i++) {
            if (arryMessage[i] != '') {
                errorMessage = errorMessage + (parseInt(i) + 1) + "." + arryMessage[i] + "<br/>";
            }
        }

        message = errorMessage;
        $('#errorMessage').html(message);
        $('#errorMessage1').html(message);
        errorPopUp('error');
    }
    function errorPopUp(Type) {
    if (Type == 'success') {
        $('#closemodal').removeClass('btn-danger');
        $('#closemodal').addClass('btn-success');
        $('#myModal').modal('show');
        setTimeout(function () {
            $("#myModal").modal('hide');
        }, 10000);
    }
    else if (Type == 'error') {
        $('#closemodal').removeClass('btn-success');
        $('#closemodal').addClass('btn-danger');
        $('#myModal').modal('show');
    }
}
    $(document).ready(function () {
        $('#multi-step-form').find('.step').slice(1).hide();

        $(".next-step").click(function () {
            debugger;
            if (currentStep < 4) {
                $(".step-" + currentStep).addClass("animate__animated animate__fadeOutLeft");
                currentStep++;
                  setTimeout(function () {
                    $(".step").removeClass("animate__animated animate__fadeOutLeft").hide();
                    $(".step-" + currentStep).show().addClass("animate__animated animate__fadeInRight");
                    updateProgressBar();
                }, 500);
            }
        });

        $(".prev-step").click(function () {
            if (currentStep > 1) {
                $(".step-" + currentStep).addClass("animate__animated animate__fadeOutRight");
                currentStep--;
                setTimeout(function () {
                    $(".step").removeClass("animate__animated animate__fadeOutRight").hide();
                    $(".step-" + currentStep).show().addClass("animate__animated animate__fadeInLeft");
                    updateProgressBar();
                }, 500);
            }
        });

        updateProgressBar = function () {
            var progressPercentage = ((currentStep - 1) / 3) * 100;
            $(".progress-bar").css("width", progressPercentage + "%");
        }
    });


</script>
<script>


    function bindcustomer(CustomerId) {
        var itemsList = @Json.Serialize(ViewBag.CustomerName);
        debugger
        var dropdown = $("#ddCustomerID");
        $.each(itemsList, function (index, item) {
            dropdown.append($('<option></option>').val(item.value).text(item.text));
        });
        if (CustomerId != "") {
            $("#ddCustomerID").val(CustomerId)
        }
    }


    function bindworkLocation(WorkLocationId) {
        var itemsList = @Json.Serialize(ViewBag.WorkLocation);
        debugger
        var dropdown = $("#ddlWorkLocationID");
        $.each(itemsList, function (index, item) {
            dropdown.append($('<option></option>').val(item.value).text(item.text));
        });
        if (WorkLocationId != "") {
            $("#ddlWorkLocationID").val(WorkLocationId)
        }
    }

    function bindDesigation(DesignationID) {
        var itemsListforDesigation = @Json.Serialize(ViewBag.Designation);
        debugger
        var dropdownforDesigation = $("#ddDesignationID");
        $.each(itemsListforDesigation, function (index, item) {
            dropdownforDesigation.append($('<option></option>').val(item.value).text(item.text));
        });
        if (DesignationID != "") {
            $("#ddDesignationID").val(DesignationID)
        }
    }


    function bindDepartment(DepartmentID) {
        var itemsListforDepartment = @Json.Serialize(ViewBag.Department);
        debugger
        var dropdownforDepartment = $("#ddDepartmentID");
        $.each(itemsListforDepartment, function (index, item) {
            dropdownforDepartment.append($('<option></option>').val(item.value).text(item.text));
        });
        if (DepartmentID != "") {
            $("#ddDepartmentID").val(DepartmentID)
        }
    }

    function bindStates(StateId) {
        var itemsListforStates = @Json.Serialize(ViewBag.States);
        debugger
        var dropdownforState = $("#ddlState");
        $.each(itemsListforStates, function (index, item) {
            dropdownforState.append($('<option></option>').val(item.value).text(item.text));
        });
        if (StateId != "") {
            $("#ddlState").val(StateId)
        }
    }

</script>

<script type="text/javascript">
    $(document).ready(function () {
        bindworkLocation("");
        bindDepartment("");
        bindDesigation("");
        bindStates("");
        bindcustomer("");

    })
</script>

<script>
    $(document).ready(function () {
        var annualSalaryInput = $('#txtAnnualCTC');
        var monthlySalaryInput = $('#txtMonthlyCTC');
        var basicSalaryInput = $('#txtBasicSalary');
        var basicSalaryInput = $('#txtBasicSalary');
        var HouseRentAllowanceInput = $('#txtHouseRentAllowance');
        var EPFInput = $('#txtEPF');
        var MonthlyGrossPayInput = $('#txtMonthlyGrossPay');
          var ESICInput = $('#ESIC');
        var ProfessionaltaxInput = $('#Professionaltax');
        var servicechargeInput = $('#Servicecharge');
        annualSalaryInput.on('input', function () {
            var annualSalary = parseFloat($(this).val());
            if (!isNaN(annualSalary)) {
                var monthlySalary = annualSalary / 12;
                var basicSalary = annualSalary / 2;
                var houseRent = basicSalary / 2;
                var EPFCalculation = monthlySalary * 12 / 100;
                var MonthlyGross = monthlySalary - EPFCalculation;
                var ESIC = monthlySalary * 0.75 / 100;
                var professionaltax;
           switch (true) {
                case monthlySalary < 2001:
                    professionaltax = 200;
                    break;
                case monthlySalary < 15001:
                    professionaltax = 0;
                    break;
                case monthlySalary > 15000:
                    professionaltax = 150;
                    break;
                default:
                    professionaltax = 0;  
            }
                var servicecharge;

                switch (true) {
                    case monthlySalary <= 40000:
                        servicecharge = monthlySalary * 0.0118; // 1.18% of monthlySalary
                        break;
                    case monthlySalary > 40000:
                        servicecharge = monthlySalary * 0.035; // 3.5% of monthlySalary
                        break;
                }
                monthlySalaryInput.val(monthlySalary.toFixed(2));
                basicSalaryInput.val(basicSalary.toFixed(2));
                HouseRentAllowanceInput.val(houseRent.toFixed(2));
                EPFInput.val(EPFCalculation.toFixed(2));
                MonthlyGrossPayInput.val(MonthlyGross.toFixed(2));
                ESICInput.val(ESIC.toFixed(2));
                ProfessionaltaxInput.val(professionaltax.toFixed(2));
                servicechargeInput.val(servicecharge.toFixed(2));
            } else {
                monthlySalaryInput.val('');
                basicSalaryInput.val('');
                HouseRentAllowanceInput.val('');
                EPFInput.val('');
                MonthlyGrossPayInput.val('');
                ESICInput.val('');
                ProfessionaltaxInput.val('');
                servicechargeInput.val('');
            }
        });



        $("#dobInput").on("input", function () {
            debugger
            var birthdate = $(this).val();
            if (birthdate !== "") {
                var today = new Date();
                var birthDate = new Date(birthdate);

                var age = today.getFullYear() - birthDate.getFullYear();
                var monthDiff = today.getMonth() - birthDate.getMonth();
                if (monthDiff < 0 || (monthDiff === 0 && today.getDate() < birthDate.getDate())) {
                    age--;
                }
                $("#ageInput").val(age);
            } else {
                $("#ageInput").val('');
            }
        });

    });
</script>


<script>
    function Locations() {
        var customerId = $("#ddCustomerID").val();
        if (customerId !== "") {
            $.ajax({
                url: '/Employee/GetLocationsByCustomer?customerId=' + customerId,
                type: "post",
                //data: customerId,
                success: function (response) {
                    populateLocations(response);
                },
                error: function (error) {
                    console.error("Error loading locations: " + error);
                }
            });
        } else {
            // Clear the Locations dropdown if no customer is selected
            $("#ddlWorkLocationID").empty();
            $("#ddlWorkLocationID").append('<option value="">--Select WorkLocation--</option>');
        }
    }

    function populateLocations(response) {
        $("#ddlWorkLocationID").empty();
        $("#ddlWorkLocationID").append('<option value="">--Select WorkLocation--</option>');


        $.each(response, function (i, response) {
            $("#ddlWorkLocationID").append('<option value="' + response.text + '">' + response.value + '</option>');
        });
    }
</script>


<script type="text/javascript">

    var Gender_id = '@ViewBag.Gender_ID';
    if (Gender_id != "") {
        $("#ddlGender").val(Gender_id);
    }

    var customerid = '@ViewBag.CustomerID';
    var workid = '@ViewBag.Work_Location_ID';
    var designationid = '@ViewBag.Designation_ID';
    var departmentid = '@ViewBag.Department_ID';
    var stateid = '@ViewBag.State_ID';

    if (customerid != "") {
        bindcustomer(customerid);
    }

    if (workid != "") {
        bindworkLocation(workid);
    }

    if (departmentid != "") {
        bindDepartment(departmentid);
    }

    if (designationid != "") {
        bindDesigation(designationid);
    }

    if (stateid != "") {
        bindStates(stateid);
    }


    var deductiontime = '@ViewBag.Deduction_Cycle';
    if (deductiontime != "") {
        $("#ddlDeductionTime").val(deductiontime);
    }


    var acounttype = '@ViewBag.Account_Type_ID';
    if (acounttype != "") {
        if (acounttype == "1") {
            $("#rdAcountCurrent").prop("checked", true);
            $("#rdAcountSaving").prop("checked", false);
        }
        if (acounttype == "2") {
            $("#rdAcountCurrent").prop("checked", false);
            $("#rdAcountSaving").prop("checked", true);
        }
    }


    var DOBJ = '@ViewBag.Date_Of_Joining';
    if (DOBJ != "") {
        var formattedDate = DOBJ ? new Date(DOBJ).toISOString().split('T')[0] : '';
        $('#DateOfJoining').val(formattedDate);
    }


    var DOBBirth = '@ViewBag.Date_Of_Birth';
    if (DOBBirth != "") {
        var formatDOB = DOBBirth ? new Date(DOBBirth).toISOString().split('T')[0] : '';
        $('#dobInput').val(formatDOB);
    }


</script>
 
<script>
    $(document).ready(function () {
        $('#MobileNumber').on('keydown', function (e) {
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13]) !== -1 ||
                (e.keyCode == 65 && e.ctrlKey === true) ||
                (e.keyCode >= 35 && e.keyCode <= 39)) {
                return;
            }

            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });
    });


</script>
<script>
    $(document).ready(function () {
        $('#AccountNumber').on('input', function (e) {
            var inputValue = $(this).val();
            var numericValue = inputValue.replace(/[^0-9]/g, '');
            var maxLength = 17;
            if (numericValue.length > maxLength) {
                numericValue = numericValue.slice(0, maxLength);
            }
            $(this).val(numericValue);
        });
    });

    $(document).ready(function () {
        $('#ReEnterAccountNumber').on('input', function (e) {
            var inputValue = $(this).val();
            var numericValue = inputValue.replace(/[^0-9]/g, '');
            var maxLength = 17;
            if (numericValue.length > maxLength) {
                numericValue = numericValue.slice(0, maxLength);
            }
            $(this).val(numericValue);
        });
    });

</script>
<script>
    function validateNumericInput(event) {
        if ([46, 8, 9, 27, 13].indexOf(event.keyCode) !== -1 ||
            (event.keyCode == 65 && event.ctrlKey === true) ||
            (event.keyCode >= 35 && event.keyCode <= 39)) {
            return;
        }
        if ((event.shiftKey || (event.keyCode < 48 || event.keyCode > 57)) && (event.keyCode < 96 || event.keyCode > 105)) {
            event.preventDefault();
        }

    }
</script>




