@model CRM.Models.DTO.LeavemasterDto
@{
    ViewData["Title"] = "Leavemaster";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>

<style>
    .dataTables_wrapper table.dataTable th {
        background-color: #00baf2 !important;
        padding: 24px 0.75rem !important;
    }
</style>
<style>
    .select2-container .select2-selection--single {
        height: 34px !important;
    }

    .select2-container--default .select2-selection--single {
        border: 1px solid #ccc !important;
        border-radius: 0px !important;
       
    }

    .select2-results__options{
        display: grid !important;
    }


</style>
<style>
    #loader {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 9999;
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var message = "@TempData["Message"]";

        if (message == "ok" || message == "dltok" || message == "updok") {
            if (message) {
                let alertText;

                if (message == "dltok") {
                    alertText = "Deleted successfully.";
                } else if (message == "updok") {
                    alertText = "Record updated successfully.";
                } else {
                    alertText = "Record added successfully.";
                }

                Swal.fire({
                    title: 'Success',
                    text: alertText,
                    icon: 'success',
                    confirmButtonText: 'OK'
                }).then((result) => {
                    if (result.isConfirmed) {
                        setTimeout(function () {
                            window.location.href = '@Url.Action("EmpLeavemaster", "Employee")';
                        }, 1000);
                    }
                });
            }
        }
        else {
            if (message) {
                Swal.fire({
                    title: 'Failed',
                    text: message,
                    icon: 'error',
                    confirmButtonText: 'OK'
                }).then((result) => {
                    if (result.isConfirmed) {
                        setTimeout(function () {
                            window.location.href = '@Url.Action("EmpLeavemaster", "Employee")';
                        }, 1000);
                    }
                });
            }
        }
    });
</script>
<div class="page-wrapper">
    <div class="page-body-wrapper">
        <div class="page-sidebar">
        </div>

        <div class="page-body">

            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="page-header-left">
                                <div class="page-header-left">
                                    <h4>@ViewBag.heading</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <ol class="breadcrumb pull-right">
                                <li class="breadcrumb-item"><a href="/Home/Dashboard"><i data-feather="home"></i></a></li>
                                <li class="breadcrumb-item">Settings</li>
                                <li class="breadcrumb-item active">Leave Master</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid Ends-->
            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <form method="post" asp-controller="Employee" asp-action="EmpLeavemaster" autocomplete="off" onsubmit="return validateForm()">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label for="TxtEmpId">Employee Id</label>
                                            <select id="TxtEmpId" name="EmpId" class="form-control select2">
                                                <option value="0">-- Select EmployeeId --</option>
                                                @foreach (var item in ViewBag.EmployeeId)
                                                {
                                                    <option value="@item.Value">@item.Text</option>
                                                }
                                            </select>
                                            <span asp-validation-for="EmpId" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <input type="hidden" value='@ViewBag.id' name="Id" />
                                            <label for="exampleInputEmail1">Leave Type</label>
                                            <select name="LeavetypeId" class="form-control" id="TxtLeavetypeId">
                                                <option value="0">-- Select Leave Type --</option>
                                                @foreach (var lt in ViewBag.leavetype)
                                                {
                                                    <option value="@lt.Value">@lt.Text</option>
                                                }
                                            </select>
                                            <span asp-validation-for="LeavetypeId" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="exampleInputEmail1">Leave Value</label>
                                            <input type="text" class="form-control" value='@ViewBag.Value' required id="txtJobTtle" placeholder="Leave Value 1.5" name="Value" onkeydown="validateNumericInput(event)">
                                            <span asp-validation-for="Value" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="exampleInputEmail1">Leave StartDate</label>
                                            <input type="date" class="form-control"  required id="txtLeaveStartDate" name="LeaveStartDate">
                                            <span asp-validation-for="LeaveStartDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group" style="display:flex; justify-content:center;">
                                        <input type="submit" value="@ViewBag.btnText" class="btn btn-primary" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">

                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <div class=" table-responsive">
                                    <table id="datatable" class="table table-hover">
                                        <thead>
                                            <tr style="background-color: #00baf2;">
                                                <th nowrap>Sl. No.</th>
                                                <th nowrap>EmployeeId</th>
                                                <th nowrap>Leave Type</th>
                                                <th nowrap>Value</th>
                                                <th nowrap>Leave StartDate</th>
                                                <th nowrap>Added On</th>
                                                <th nowrap>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                var count = 0;
                                                    @if (Model != null && Model.lmd.Count() > 0)
                                                {
                                                        @foreach (var item in Model.lmd)
                                                    {
                                                        count++;
                                                            <tr>

                                                                <th scope="row">@count</th>
                                                                <td>@item.EmpId</td>
                                                                <td>@item.LeavetypeId</td>
                                                                <td>@item.Value</td>
                                                            <td style="white-space: nowrap">@item.LeaveStartDate?.ToString("dd/MM/yyyy")</td>
                                                                <td style="white-space: nowrap">@item.Createddate?.ToString("dd/MM/yyyy")</td>
                                                                <td>
                                                                    <div>
                                                                        <a href='@Url.Action("EmpLeavemaster","Employee",new { id=item.id})' class="fa fa-edit m-2 font-success"></a>
                                                                        <a href="javascript:void(0);" onclick="confirmDelete('@Url.Action("DeleteEmpLeavemaster", "Employee", new { id = item.id })')" class="fa fa-trash font-danger"></a>

                                                                    </div>
                                                                </td>
                                                            </tr>
                                                    }
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="pagination-container">
                <ul id="pagination" class="pagination"></ul>
            </div>
        </div>


    </div>

</div>
<script>
     var taskEnddate = '@ViewBag.LeaveStartDate';
        if (taskEnddate != "") {
            $('#txtLeaveStartDate').val(taskEnddate);
        }
</script>

<script>
    $('.select2').select2();
</script>

<script type="text/javascript">
    var selectedEmpId = '@ViewBag.EmpId'
    if (selectedEmpId != "") {
        $("#TxtEmpId").val(selectedEmpId).trigger('change');
    }
</script>
<script type="text/javascript">
    var selectedLeavetypeId = '@ViewBag.LeavetypeId'
    if (selectedLeavetypeId != "") {
        $("#TxtLeavetypeId").val(selectedLeavetypeId);
    }
</script>
<script type="text/javascript">
    function confirmDelete(url) {
        var result = confirm("Are you sure you want to delete..");
        if (result) {
            window.location.href = url;
        } else {

            alert("Deletion cancelled.");
        }
    }
    function validateNumericInput(event) {
        if ([46, 8, 9, 27, 13, 110, 190].indexOf(event.keyCode) !== -1 ||
            (event.keyCode == 65 && event.ctrlKey === true) ||
            (event.keyCode >= 35 && event.keyCode <= 39)) {
            return;
        }
        if ((event.shiftKey || (event.keyCode < 48 || event.keyCode > 57)) &&
            (event.keyCode < 96 || event.keyCode > 105)) {
            event.preventDefault();
        }
    }

</script>

<script>
    $(document).ready(function () {
        document.title = 'Leavemaster';
        $('#datatable').DataTable(
            {
                "dom": '<"dt-buttons"Bf><"clear">lirtp',
                "paging": true,
                "autoWidth": true,
                "buttons": [
                    'colvis',
                    'copyHtml5',
                    'csvHtml5',
                    'excelHtml5',
                    'pdfHtml5',
                    'print'
                ]
            }
        );
    });
</script>