@model IEnumerable<CRM.Models.Crm.EmployeeImportExcel>

@{
    ViewData["Title"] = "Employeelist";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
@* <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
 *@
<link rel='stylesheet' href='https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css'>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script src='https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js'></script>
<script src='https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js'></script>
<script src='https://cdn.datatables.net/buttons/1.2.2/js/buttons.colVis.min.js'></script>
<script src='https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js'></script>
<script src='https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js'></script>
<script src='https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js'></script>
<script src='https://cdn.datatables.net/buttons/1.2.2/js/buttons.bootstrap.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js'></script>
<script src='https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js'></script>
<style>
    .dataTables_wrapper table.dataTable th {
        background-color: #00baf2 !important;
        padding: 24px 0.75rem !important;
    }
</style>
<div class="page-wrapper">
    <div class="page-body-wrapper">
        <div class="page-sidebar">
        </div>
        <div class="page-body">
            <div class="container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="page-header-left">
                                <h3>
                                    Employee List
                                </h3>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <ol class="breadcrumb pull-right">
                                <li class="breadcrumb-item"><a href="/Home/Dashboard"><i data-feather="home"></i></a></li>
                                <li class="breadcrumb-item">HR Payrole</li>
                                <li class="breadcrumb-item active">Employee</li>
                                <li class="breadcrumb-item active">EmployeeList</li>
                            </ol>

                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid Ends-->
            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <img src="~/image/execimage.png" style="height:50px; margin-left:96%;width:53px;cursor:pointer" title="Export To Excel" onclick="ExportExcelfn()" />

                                <div class="table-responsive" style="margin-top: 16px;">

                                    <table id="datatable" class="table table-responsive">
                                        <thead>
                                            <tr style="background-color: #00baf2;">
                                                <th nowrap>
                                                    Sl. No.

                                                </th>

                                                <th nowrap>
                                                    First Name
                                                </th>

                                                <th nowrap>
                                                    Middle Name
                                                </th>

                                                <th nowrap>
                                                    Last Name
                                                </th>

                                                <th nowrap>
                                                    Employee ID
                                                </th>

                                                <th nowrap>
                                                    Date Of Joining
                                                </th>

                                                <th nowrap>
                                                    Work Email
                                                </th>

                                                <th nowrap>
                                                    Gender
                                                </th>

                                                <th nowrap>
                                                    WorkLocation
                                                </th>

                                                <th nowrap>
                                                    Designation
                                                </th>

                                                <th nowrap>
                                                    Department
                                                </th>

                                                <th nowrap>
                                                    AnnualCTC
                                                </th>

                                                <th nowrap>
                                                    Basic
                                                </th>

                                                <th nowrap>
                                                    House Rent Allowance
                                                </th>

                                                <th nowrap>
                                                    Travelling Allowance
                                                </th>
                                                <th nowrap>
                                                    Special Allowance
                                                </th>
                                                <th nowrap>
                                                    Service Charge
                                                </th>
                                                <th nowrap>
                                                    ESIC
                                                </th>
                                                <th nowrap>
                                                    Gross
                                                </th>
                                                <th nowrap>
                                                    EPF
                                                </th>

                                                <th nowrap>
                                                    Monthly GrossPay
                                                </th>


                                                <th nowrap>
                                                    Personal Email Address
                                                </th>

                                                <th nowrap>
                                                    Mobile Number
                                                </th>

                                                <th nowrap>
                                                    Date Of Birth
                                                </th>

                                                <th nowrap>
                                                    Age
                                                </th>

                                                <th nowrap>
                                                    Father  Name
                                                </th>

                                                <th nowrap>
                                                    PAN
                                                </th>

                                                <th nowrap>
                                                    Address Line1
                                                </th>

                                                <th nowrap>
                                                    Address Line2
                                                </th>

                                                <th nowrap>
                                                    City
                                                </th>

                                                <th nowrap>
                                                    State
                                                </th>

                                                <th nowrap>
                                                    Pincode
                                                </th>

                                                <th nowrap>
                                                    Account Holder Name
                                                </th>

                                                <th nowrap>
                                                    Bank Name
                                                </th>

                                                <th nowrap>
                                                    Account Number
                                                </th>

                                                <th nowrap>
                                                    ReEnter Account Number
                                                </th>

                                                <th nowrap>
                                                    IFSC
                                                </th>

                                                <th nowrap>
                                                    Account Type
                                                </th>

                                                <th nowrap>
                                                    EPF Number
                                                </th>

                                                <th nowrap>
                                                    Deduction Cycle

                                                </th>

                                                <th nowrap>
                                                    Employee Contribution Rate
                                                </th>
                                                <th nowrap>
                                                    Nominee name
                                                </th>
                                                <th nowrap>
                                                    Customer Name
                                                </th>
                                                <th nowrap>
                                                    Action
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                var count = 0;
                                                @foreach (var item in Model)
                                                {
                                                    count++;
                                                    <tr class="table-row">
                                                        <td>@count</td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.FirstName)
                                                        </td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.MiddleName)
                                                        </td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.LastName)
                                                        </td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.Emp_Reg_ID)
                                                        </td>
                                                        <td nowrap>
                                                            @item.DateOfJoining.ToString("dd/MM/yyyy")
                                                        </td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.WorkEmail)
                                                        </td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.Gender)
                                                        </td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.WorkLocation)
                                                        </td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.DesignationName)
                                                        </td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.DepartmentName)
                                                        </td>

                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.AnnualCTC)
                                                        </td>

                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.Basic)
                                                        </td>

                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.HouseRentAllowance)
                                                        </td >
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.TravellingAllowance)
                                                        </td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.SpecialAllowance)
                                                        </td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.Servicecharge)
                                                        </td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.ESIC)
                                                        </td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.gross)
                                                        </td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.EPF)
                                                        </td>

                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.MonthlyGrossPay)
                                                        </td>


                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.PersonalEmailAddress)
                                                        </td>

                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.Mobile)
                                                        </td>
                                                        <td nowrap>
                                                            @item.DateOfBirth.ToString("dd/MM/yyyy")
                                                        </td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.Age)
                                                        </td>

                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.FatherName)
                                                        </td>

                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.PAN)
                                                        </td>

                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.AddressLine1)
                                                        </td>

                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.AddressLine2)
                                                        </td>

                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.City)
                                                        </td>

                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.State)
                                                        </td>

                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.Pincode)
                                                        </td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.AccountHolderName)
                                                        </td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.BankName)
                                                        </td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.AccountNumber)
                                                        </td>

                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.ReEnterAccountNumber)
                                                        </td>

                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.IFSC)
                                                        </td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.AccountType)
                                                        </td>

                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.EPF_Number)
                                                        </td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.Deduction_Cycle)
                                                        </td>


                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.Employee_Contribution_Rate)
                                                        </td>

                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.nominee)
                                                        </td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.CustomerName)
                                                        </td>
                                                        <td nowrap>
                                                            <div>
                                                                <a href="EmployeeRegistration?id=@item.Emp_Reg_ID" class="fa fa-edit m-2 font-success"></a>
                                                                <a href="javascript:void(0);" onclick="confirmDelete('@Url.Action("DeleteEmployee","Employee", new { Emp_Reg_ID = item.Emp_Reg_ID })')" class="fa fa-trash font-danger"></a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="pagination-container">
                <ul id="pagination" class="pagination"></ul>
            </div>
        </div>


    </div>

</div>

<script>
    function confirmDelete(url) {
        var result = confirm("Are you sure you want to delete?");
        if (result) {
            window.location.href = url;
        }
    }
</script>



<script>
    $(document).ready(function () {
        document.title = 'Simple DataTable';
        $('#datatable').DataTable(
            {
                "dom": '<"dt-buttons"Bf><"clear">lirtp',
                "paging": true,
                "autoWidth": true,
                "buttons": [
                    'colvis',
                    'copyHtml5',
                    'csvHtml5',
                    'excelHtml5',
                    'pdfHtml5',
                    'print'
                ]
            }
        );
    });
</script>
