@model IEnumerable<CRM.Models.Crm.EmployeerEpf>

@{
    ViewData["Title"] = "EmployerList";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
@if (TempData["ErrorMessage"] != null)
{
    <script>alert('@Html.Raw(TempData["ErrorMessage"])');</script>
}
<div class="page-wrapper">
    <div class="page-body-wrapper">
        <div class="page-sidebar">
        </div>
        <!-- Page Sidebar Ends-->
        <!-- Right sidebar Start-->
        <!-- Right sidebar Ends-->

        <div class="page-body">

            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="page-header-left">
                                <h2>
                                    Employer List
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <ol class="breadcrumb pull-right">
                                <li class="breadcrumb-item"><a href="/Home/Dashboard"><i data-feather="home"></i></a></li>
                                <li class="breadcrumb-item">Settings</li>
                                <li class="breadcrumb-item active">Employer List</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <form asp-action="Employee_list" autocomplete="off" method="get">
                <div class="row">
                    <div class="form-group col-sm">
                        <label for="validationCustom0">Deduction Cycle</label>
                        <select name="Deduction_Cycle" id="deductionCycleDropdown" class="form-control" required style="width: 255px ">
                            <option value="">-- select Deduction Cycle --</option>
                            <option value="ESIC">ESIC</option>
                            <option value="EPF">EPF</option>
                        </select>
                    </div>
                </div>
                <br />
                <div class="form-button">
                    <input type="submit" value="Search" class="btn btn-primary" onclick="return  searchFunction()"/>
                </div>
            </form>
            <br />
            <!-- Container-fluid Ends-->
            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="row">

                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <div class=" table-responsive">                                   
                                    @if (Model != null && Model.Any())
                                    {
                                        <table id="datatable" class="table table-responsive">
                                            <thead>
                                                <tr style="background-color: #00baf2;">
                                                    <th nowrap>Sl. No.</th>
                                                    <th nowrap>
                                                        Percentage
                                                    </th>
                                                    <th nowrap>
                                                        Deduction Cycle
                                                    </th>
                                                    <th nowrap>
                                                        Contribution Rate
                                                    </th>
                                                    <th nowrap>
                                                        Added On
                                                    </th>
                                                    <th nowrap>
                                                        Status
                                                    </th>

                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    var count = 0;
                                                    @foreach (var item in Model)
                                                    {
                                                        count++;
                                                        <tr class="table-row">
                                                            <td>@count</td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.EpfNumber) %
                                                            </td>
                                                            <td>
                                                                @(
                                                                item.DeductionCycle
                                                                )

                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.EmployerContributionRate)
                                                            </td>

                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.CreateDate)
                                                            </td>
                                                            <td>
                                                                @(
                                                                item.IsActive == true ? "Active" : (false ? "De-Active" : "De-Active")
                                                                )
                                                            </td>




                                                            <td>
                                                                <div>
                                                                    <a href="#" class="fa fa-edit m-2 font-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop" onclick="EditEmployer(@item.Id)"></a>
                                                                    <a href="javascript:void(0);" onclick="confirmDelete('@Url.Action("DeleteEmployer","Employee", new { Id= item.Id })')" class="fa fa-trash font-danger"></a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    }
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="pagination-container">
                <ul id="pagination" class="pagination"></ul>
            </div>
        </div>


    </div>

</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    var currentPage = 1;
    var rowsPerPage = 20;
    $(document).ready(function () {
        function paginateTable() {
            var table = $('#datatable');
            var rows = table.find('tbody tr');


            var totalPages = Math.ceil(rows.length / rowsPerPage);


            var pagination = $('#pagination');
            pagination.empty();

            for (var i = 1; i <= totalPages; i++) {
                var link = $('<li class="page-item"><a class="page-link" href="#">' + i + '</a></li>');


                if (i === currentPage) {
                    link.addClass('active');
                }

                pagination.append(link);
            }


            var startIndex = (currentPage - 1) * rowsPerPage;
            var endIndex = startIndex + rowsPerPage;

            rows.hide().slice(startIndex, endIndex).show();
        }


        paginateTable();

        $(document).on('click', '#pagination li a', function (event) {
            event.preventDefault();

            var clickedPage = parseInt($(this).text());


            currentPage = clickedPage;
            paginateTable();


            $('html, body').animate({ scrollTop: $('#table-container').offset().top }, 'slow');
        });
    });

</script>

<script>
    function confirmDelete(url) {
        var result = confirm("Are you sure you want to delete?");
        if (result) {
            window.location.href = url;
        }
    }
</script>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Edit Employer</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form action="EditEmployer" method="post" autocomplete="off">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input name="Id" type="text" id="Id" style="display:none">

                            <div class="row">
                                <div class="col-md-6">
                                    <label>EPF Number</label>
                                    <input class="form-control" placeholder="Enter EPF Number " name="EpfNumber" id="EPFNumber" type="text" required="">
                                </div>
                                <div class="col-md-6">
                                    <label>Employer Contribution Rate</label>
                                    <input class="form-control" placeholder="Employer Contribution Rate" name="EmployerContributionRate" id="EmployerContributionRate" type="text" required="">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="validationCustom0">Deduction Cycle</label>
                                <select name="DeductionCycle" id="DeductionCycle" class="form-control" required>
                                    <option value="0">-- Select Deduction Cycle --</option>
                                    <option value="ESIC">ESIC</option>
                                    <option value="EPF">EPF</option>
                                </select>
                            </div>
                         <br />
                            <button class="btn btn-warning" id="btnUpdate">Update</button>
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    function EditEmployer(id) {
        debugger;
        $.ajax({
            url: '/Employee/EditEmployer?id=' + id,
            type: 'GET',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                debugger;
                $('#Id').val(response.epf.id);
                $('#EPFNumber').val(response.epf.epfNumber);
                $('#EmployerContributionRate').val(response.epf.employerContributionRate);
                $('#DeductionCycle').val(response.epf.deductionCycle);
                $('#staticBackdrop').modal('show');
            },
            error: function () {
                alert('Data not found');
            }
        });
    }
</script>
<script>
    function searchFunction() {
        var deductionCycle = document.getElementById('deductionCycleDropdown').value;

        if (deductionCycle === '') {
            alert("Please select Deduction Cycle.");
            return false;
        }
    }
</script>