@model CRM.Models.DTO.GenerateSalary
@{
    ViewData["Title"] = "GenerateSalary";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>

<style>
    .dataTables_wrapper table.dataTable th {
        background-color: #00baf2 !important;
        padding: 24px 0.75rem !important;
    }
</style>
<style>
    .loader {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 9999;
        display: none;
    }

    @@keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    /* Overlay style */
    .overlay {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0);
        z-index: 9998;
    }

    /* Add blur to content when loader is active */
    .blurred {
        filter: blur(1px);
    }
</style>
<style>
    .dataTables_wrapper table.dataTable th {
        background-color: #00baf2 !important;
        padding: 24px 0.75rem !important;
    }
</style>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var message = "@TempData["Message"]";

        if (message) {
            Swal.fire({
                title: 'Not Found',
                text: message,
                icon: 'info',
                confirmButtonText: 'OK'
            }).then((result) => {
                if (result.isConfirmed) {
                    setTimeout(function () {
                        window.location.href = '@Url.Action("GenerateSalary", "Employee")';
                    }, 1000);
                }
            });
        }
    });
</script>
<div class="page-wrapper" id="content">
    <div class="page-body-wrapper">
        <div class="page-sidebar">
        </div>
        <div class="page-body">

            <div class="container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="page-header-left">
                                <h2>
                                    Generate Salary
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <ol class="breadcrumb pull-right">
                                <li class="breadcrumb-item"><a href="/Home/Dashboard"><i data-feather="home"></i></a></li>
                                <li class="breadcrumb-item">CRM</li>
                                <li class="breadcrumb-item active">Employee</li>
                                <li class="breadcrumb-item active">Generate Salary</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">

                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <div class=" table-responsive" >
                                        <table id="datatable" class="table table-responsive">
                                            <thead>
                                                <tr style="background-color: #00baf2;">
                                                    <th hidden>
                                                        ID
                                                    </th>
                                                    <th nowrap>Sl. No.</th>
                                                    <th nowrap>
                                                        Employee Id
                                                    </th>
                                                    <th nowrap>
                                                        Employee Name
                                                    </th>
                                                    <th nowrap>
                                                        Monthly Ctc
                                                    </th>
                                                    <th nowrap>
                                                        Monthly Pay
                                                    </th>
                                                    <th nowrap>
                                                        View SalarySlip
                                                    </th>
                                                    <th nowrap>
                                                        Send SalarySlip
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            @{
                                                if (Model != null && Model.GeneratedSalaries.Count > 0)
                                                {
                                                    var count = 0;
                                                    foreach (var item in Model.GeneratedSalaries)
                                                    {
                                                        count++;
                                                        <tr>
                                                            <td>@count</td>
                                                            <td style="display:none">
                                                                @item.Id
                                                            </td>
                                                            <td nowrap>
                                                                @item.EmployeeId
                                                            </td>
                                                            <td nowrap>@item.EmployeeName</td>
                                                            <td nowrap>@item.MonthlyCtc</td>
                                                            <td nowrap>@item.MonthlyGrossPay</td>
                                                            <td nowrap>
                                                                <a href="/Employee/SalarySlipInPDF?Id=@item.Id&&month=@item.Month">@item.SalarySlipName</a>
                                                            </td>
                                                            <td>
                                                                <div>
                                                                    <a href="javascript:void(0)" onclick="downloadPDF(@item.Id,@item.Month)">
                                                                        <img src="@Url.Content("~/assets/images/layout-2/logo/email.png")" alt="PDF Icon" style=" height: 60px; width: 60px;" />
                                                                    </a>
                                                                </div>
                                                            </td>


                                                        </tr>
                                                    }
                                                }
                                            }
                                            </tbody>
                                        </table>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

          @*   <div id="pagination-container">
                <ul id="pagination" class="pagination"></ul>
            </div> *@
        </div>
    </div>
</div>

<div class="overlay" id="overlay"></div>
<div class="loader" id="loader"></div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {

        $('#datatable').DataTable(
            {
                "dom": '<"dt-buttons"Bf><"clear">lirtp',
                "paging": true,
                "autoWidth": true,
                "buttons": [
                    'colvis',
                    'copyHtml5',
                    'csvHtml5',
                    'excelHtml5',
                    'pdfHtml5',
                    'print'
                ]
            }
        );
    });
</script>
<script type="text/javascript">
    // $(document).ready(function () {
    //     $('#datatable').DataTable();
    // });
    function downloadPDF(id, month) {
        // Update URL to include the 'month' parameter
        var url = '@Url.Action("DocPDF", "Employee")' + '?id=' + id + '&month=' + month;

        // Show loader and apply blur
        document.getElementById('loader').style.display = 'block';
        document.getElementById('overlay').style.display = 'block';
        document.getElementById('content').classList.add('blurred');

        fetch(url, {
            method: 'GET',
            headers: {
                'Accept': 'application/json'
            }
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                // Hide the loader and overlay after success or failure
                document.getElementById('loader').style.display = 'none';
                document.getElementById('overlay').style.display = 'none';
                document.getElementById('content').classList.remove('blurred');

                if (data.success) {
                    Swal.fire({
                        title: 'Success',
                        text: data.message,
                        icon: 'success',
                        confirmButtonText: 'OK',
                        allowOutsideClick: false
                    }).then(() => {
                        window.location.reload();
                    });
                } else {
                    Swal.fire({
                        title: 'Error',
                        text: data.message,
                        icon: 'error',
                        confirmButtonText: 'OK',
                        allowOutsideClick: false
                    });
                }
            })
            .catch(error => {
                document.getElementById('loader').style.display = 'none';
                document.getElementById('overlay').style.display = 'none';
                document.getElementById('content').classList.remove('blurred');

                Swal.fire({
                    title: 'Error',
                    text: 'An error occurred while processing the request.',
                    icon: 'error',
                    confirmButtonText: 'OK',
                    allowOutsideClick: false
                });
            });
    }
</script>



<script>
    function validateForm() {
        var Month = document.getElementById('Month').value;
        var Year = document.getElementById('Year').value;
        var empid = document.getElementById('empEmpId').value;

        if (Month === '') {
            Swal.fire('Error', 'Please select Month.', 'error');
            return false;
        }
        if (empid === '') {
            Swal.fire('Error', 'Please select Employee.', 'error');
            return false;
        }
        if (Year === '') {
            Swal.fire('Error', 'Please select Year.', 'error');
            return false;
        }
    }

</script>
<script>
    function generateInvoice() {
        var Month = $("#Month").val();
        var Year = $("#Year").val();

        if (Month === '') {
            alert("Please select Month.");
            return false;
        }
        if (Year === '') {
            alert("Please select Year.");
            return false;
        }
    }
</script>

<script type="text/javascript">
    var selectedEmpId = '@ViewBag.empid'
    if (selectedEmpId != "") {
        $("#empEmpId").val(selectedEmpId).trigger('change');
    }
</script>

