@model CRM.Models.DTO.GenerateSalary
@{
    ViewData["Title"] = "GenerateSalary";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<style>
    #loader {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 9999;
        background-color: transparent;
        display: none;
    }

    .blur {
        filter: blur(1px);
        pointer-events: none;
    }

</style>
<style>
    .select2-container .select2-selection--single {
        height: 34px !important;
    }

    .select2-container--default .select2-selection--single {
        border: 1px solid #ccc !important;
        border-radius: 0px !important;
    }

    .select2-results__options {
        display: grid !important;
    }

</style>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var message = "@TempData["Message"]";

        if (message) {
            Swal.fire({
                title: 'Not Found',
                text: message,
                icon: 'info',
                confirmButtonText: 'OK'
            }).then((result) => {
                if (result.isConfirmed) {
                    setTimeout(function () {
                        window.location.href = '@Url.Action("GenerateSalary", "Employee")';
                    }, 1000);
                }
            });
        }
    });
</script>
<div class="page-wrapper">
    <div class="page-body-wrapper">
        <div class="page-sidebar">
        </div>
        <div class="page-body">

            <div class="container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="page-header-left">
                                <h2>
                                    Generate Salary
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <ol class="breadcrumb pull-right">
                                <li class="breadcrumb-item"><a href="/Home/Dashboard"><i data-feather="home"></i></a></li>
                                <li class="breadcrumb-item">CRM</li>
                                <li class="breadcrumb-item active">Employee</li>
                                <li class="breadcrumb-item active">Generate Salary</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">

                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <form asp-action="GenerateSalary" autocomplete="off" method="post">
                                    <div class="row">
                                        <div class="form-group col-sm">
                                            <label for="validationCustom0">Month</label>
                                            <select id="Month" class="form-control" name="Month">
                                                <option value="">-- Select Month --</option>
                                                <option value="1">January</option>
                                                <option value="2">February</option>
                                                <option value="3">March</option>
                                                <option value="4">April</option>
                                                <option value="5">May</option>
                                                <option value="6">June</option>
                                                <option value="7">July</option>
                                                <option value="8">August</option>
                                                <option value="9">Septemper</option>
                                                <option value="10">October</option>
                                                <option value="11">November</option>
                                                <option value="12">December</option>
                                            </select>
                                        </div>

                                        <div class="form-group col-sm">
                                            <label for="validationCustom0">Year</label>
                                            <select id="Year" class="form-control col-md-" name="Year">
                                                <option value="">-- Select Year --</option>
                                                <option value="2023">2023</option>
                                                <option value="2024">2024</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-sm">
                                            <label for="empEmpId">Employee Id</label>
                                            <select id="empEmpId" name="EmployeeId" class="form-control select2">
                                                <option value="0">-- Select EmployeeId --</option>
                                                @foreach (var item in ViewBag.EmployeeId)
                                                {
                                                    <option value="@item.Value">@item.Text</option>
                                                }
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-button" style="display:flex; justify-content:center;">
                                        <input type="submit" value="Search" class="btn btn-primary" onclick="return validateForm()" />
                                    </div>
                                </form>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class=" table-responsive">
                                                        @if (Model != null && Model.GeneratedSalaries.Count > 0)
                                                        {
                                                            <table id="datatable" class="table table-responsive">
                                                                <thead>
                                                                    <tr style="background-color: #00baf2;">
                                                                        <th hidden>
                                                                            ID
                                                                        </th>
                                                                        <th nowrap>Sl. No.</th>
                                                                        <th nowrap>
                                                                            Employee Id
                                                                        </th>
                                                                        <th nowrap>
                                                                            Employee Name
                                                                        </th>
                                                                        <th nowrap>
                                                                            Monthly Ctc
                                                                        </th>
                                                                        <th nowrap>
                                                                            Monthly GrossPay
                                                                        </th>
                                                                        <th nowrap>
                                                                            View SalarySlip
                                                                        </th>
                                                                        <th nowrap>
                                                                            Send SalarySlip
                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @{
                                                                        var count = 0;
                                                                        foreach (var item in Model.GeneratedSalaries)
                                                                        {
                                                                            count++;
                                                                            <tr>
                                                                                <td>@count</td>
                                                                                <td style="display:none">
                                                                                    @item.Id
                                                                                </td>
                                                                                <td nowrap>@item.EmployeeId</td>
                                                                                <td nowrap>@item.EmployeeName</td>
                                                                                <td nowrap>@item.MonthlyCtc</td>
                                                                                <td nowrap>@item.MonthlyGrossPay</td>
                                                                                <td>
                                                                                    <div>
                                                                                        <a href="@Url.Content("~/EMPpdfs/" + item.SalarySlip)" target="_blank">
                                                                                            <img src="@Url.Content("~/assets/images/layout-2/logo/pdfview.jpg")" alt="PDF Icon" style="height: 60px; width: 60px;" />
                                                                                        </a>
                                                                                    </div>
                                                                                </td>
                                                                                <td>
                                                                                    <div>
                                                                                        <a href="javascript:void(0)" onclick="downloadPDF(@item.Id)">
                                                                                            <img src="@Url.Content("~/assets/images/layout-2/logo/email.png")" alt="PDF Icon" style=" height: 60px; width: 60px;" />
                                                                                        </a>
                                                                                    </div>
                                                                                </td>


                                                                            </tr>
                                                                        }
                                                                    }

                                                                </tbody>
                                                            </table>
                                                        }
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="pagination-container">
                                    <ul id="pagination" class="pagination"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input hidden type="text" id="custid" value="@ViewBag.custid" />
<input hidden type="text" id="locid" value="@ViewBag.locid" />
<input hidden type="text" id="monthid" value="@ViewBag.monthid" />
<input hidden type="text" id="yearid" value="@ViewBag.yearid" />
<input hidden type="text" id="empid" value="@ViewBag.empid" />

<div id="loader" style="display:none;">
    <img src="~/assets/images/layout-2/logo/loddergif.gif" alt="Loading..." />
</div>
<script type="text/javascript">
    function downloadPDF(id) {
        var url = '@Url.Action("DocPDF", "Employee")' + '?id=' + id;
        var loader = document.getElementById('loader');
        var content = document.querySelector('body');

        loader.style.display = 'block';
        content.classList.add('blur');

        fetch(url, {
            method: 'GET',
            headers: {
                'Accept': 'application/json'
            }
        })
            .then(response => {
                loader.style.display = 'none';
                content.classList.remove('blur');

                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                window.location.reload();
                return response.json();
            })
            .then(data => {
                if (data.success) {
                    Swal.fire({
                        title: 'Success',
                        text: data.message,
                        icon: 'success',
                        confirmButtonText: 'OK'
                    });
                } else {
                    Swal.fire({
                        title: 'Error',
                        text: data.message,
                        icon: 'error',
                        confirmButtonText: 'OK'
                    });
                }
            })
            .catch(error => {
                // Hide the loader and remove blur if an error occurs
                loader.style.display = 'none';
                content.classList.remove('blur');

                Swal.fire({
                    title: 'Error',
                    text: 'An error occurred while processing the request.',
                    icon: 'error',
                    confirmButtonText: 'OK'
                });
            });
    }
</script>


<script>
    $('.select2').select2();
</script>


<script>
    var currentPage = 1;
    var rowsPerPage = 5;
    $(document).ready(function () {
        function paginateTable() {
            var table = $('#datatable');
            var rows = table.find('tbody tr');


            var totalPages = Math.ceil(rows.length / rowsPerPage);


            var pagination = $('#pagination');
            pagination.empty();

            for (var i = 1; i <= totalPages; i++) {
                var link = $('<li class="page-item"><a class="page-link" href="#">' + i + '</a></li>');


                if (i === currentPage) {
                    link.addClass('active');
                }

                pagination.append(link);
            }


            var startIndex = (currentPage - 1) * rowsPerPage;
            var endIndex = startIndex + rowsPerPage;

            rows.hide().slice(startIndex, endIndex).show();
        }


        paginateTable();

        $(document).on('click', '#pagination li a', function (event) {
            event.preventDefault();

            var clickedPage = parseInt($(this).text());


            currentPage = clickedPage;
            paginateTable();


            $('html, body').animate({ scrollTop: $('#table-container').offset().top }, 'slow');
        });
    });

</script>
<script>

    $(document).ready(function () {

        // $("#CustomerID").val($("#custid").val());
        $("#Month").val($("#monthid").val());
        $("#Year").val($("#yearid").val());
        $("#EmployeeId").val($("#empid").val());
        // $("#LocationID").val($("#locid").val());

        Locations();
    });

    // function Locations() {
    //     var customerId = $("#CustomerID").val();
    //     if (customerId !== "") {
    //         $.ajax({
    //             url: '/Employee/GetLocationsByCustomer?customerId=' + customerId,
    //             type: "post",
    //             success: function (response) {
    //                 populateLocations(response);
    //             },
    //             error: function (error) {
    //                 console.error("Error loading locations: " + error);
    //             }
    //         });
    //     } else {
    //         $("#LocationID").empty();
    //         $("#LocationID").append('<option value="">--Select WorkLocation--</option>');
    //     }
    // }

    // function populateLocations(response) {
    //     $("#LocationID").empty();
    //     $("#LocationID").append('<option value="">--Select WorkLocation--</option>');

    //     $.each(response, function (i, response) {
    //         $("#LocationID").append('<option value="' + response.text + '">' + response.value + '</option>');
    //     });


    //     var locId = $("#locid").val();
    //     if (locId !== "") {
    //         $("#LocationID").val(locId);
    //     }
    // }
</script>
<script>
    function validateForm() {
        var Month = document.getElementById('Month').value;
        var Year = document.getElementById('Year').value;
        var empid = document.getElementById('empEmpId').value;

        if (Month === '') {
            Swal.fire('Error', 'Please select Month.', 'error');
            return false;
        }
        if (empid === '') {
            Swal.fire('Error', 'Please select Employee.', 'error');
            return false;
        }
        if (Year === '') {
            Swal.fire('Error', 'Please select Year.', 'error');
            return false;
        }
    }

</script>
<script>
    function generateInvoice() {
        // var CustomerID = $("#CustomerID").val();
        var Month = $("#Month").val();
        var Year = $("#Year").val();
        // var WorkLocation = $("#LocationID").val();
        // if (CustomerID === '') {
        //     alert("Please select Company.");
        //     return false;
        // }
        // if (WorkLocation === '') {
        //     alert("Please select WorkLocation.");
        //     return false;
        // }
        if (Month === '') {
            alert("Please select Month.");
            return false;
        }
        if (Year === '') {
            alert("Please select Year.");
            return false;
        }
        // if (CustomerID != null || Month != null || Year != null || WorkLocation != null) {
        //     window.location.href = '/Employee/Invoice?customerId=' + CustomerID + '&Month=' + Month + '&year=' + Year + '&WorkLocation=' + WorkLocation;
        // }

    }
</script>
@* <script>
    function MonthlyExcelfn() {
        // var customerId = document.getElementById("CustomerID").value;
        // var workLocation = document.getElementById("LocationID").value;
        var Month = document.getElementById('Month').value;
        var Year = document.getElementById('Year').value;
        // if (customerId === '') {
        //     alert("Please select Company.");
        //     return false;
        // }
        // if (workLocation === '') {
        //     alert("Please select WorkLocation.");
        //     return false;
        // }
        if (Month === '') {
            alert("Please select Month.");
            return false;
        }
        if (Year === '') {
            alert("Please select Year.");
            return false;
        }
        window.location.href = '/Employee/MonthlysalaryReport?customerId=' + customerId + '&WorkLocation=' + workLocation + '&Month=' + Month + '&Year=' + Year;
    }
</script> *@
<script type="text/javascript">
    var selectedEmpId = '@ViewBag.empid'
    if (selectedEmpId != "") {
        $("#empEmpId").val(selectedEmpId).trigger('change');
    }
</script>

