@model CRM.Models.DTO.Invoice
@{
    DateTime date = DateTime.Now;
    string fordate = date.ToString("dd-MM-yyyy");
}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link rel="stylesheet" href="styles.css">
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @@media print {
            body {
                width: 210mm;
                height: 297mm;
                margin: 0;
            }
        }
    </style>
    <title>Tax Invoice</title>
</head>
<body>

    <div style="text-align: right;">
        <button id="printpagebutton" type="button" style=" margin-left :100px;" class="btn btn-info" onclick="printpage()">Print</button>

    </div>
    <div>
        <h1 class="text-center">Tax Invoice</h1>
    </div>
    <div class="container mx-auto " style="border: 1px solid black;">
        <div class="row">
            <div class=" col-12" style="border: 1px solid black;">
                <div>
                    <h3 class="text-center">GA DIGITAL WEB WORD PRIVATE LIMITED</h3>
                </div>
                <div>
                    <h6 class="text-center">No.1, Hargobind Enclave, Vikas Marg Extension, Delhi-110092.</h6>
                </div>
                <div>
                    <h6 class="text-center">(Websites, Software Development, E-Commerce, Hardware Maintenance, Manning of Call Center etc.)</h6>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="  col-md-12 " style="border: 1px solid black;">
                <div>
                    <h6>
                        PAN NO. AACCG1290R
                        <br />
                        GST NO.-07AACCG1290R1Z7
                    </h6>
                </div>
            </div>
        </div>

        <div class="row">
            <div class=" col-md-8" style="border: 1px solid black;margin: 0;">
                <div>
                    <h5>
                        Name:@Model.Company_Name
                        <br />
                        @Model.Billing_Address
                    </h5>

                </div>
            </div>
            <div class="col-md-4" style="border: 1px solid black;margin: 0;">
                <div>
                    <h6>
                        No. DEL/2023/1182
                        <br />
                        Dated:-@fordate
                        <br />
                        GST no.@Model.GST_Number
                    </h6>
                </div>
            </div>

        </div>




        <div class="row" style="border: 1px solid black;">
            <div class="col" style="border: 1px solid black;">
                <div>
                    <h5 class="text-center">Total Number of Employee</h5>
                </div>
            </div>
            <div class="col" style="border: 1px solid black;color: red;">
                <div>
                    <h5 class="text-center">
                        HSN/SAC
                        <br />
                        (Code)
                    </h5>
                </div>
            </div>
            <div class="col" style="border: 1px solid black;">
                <div>
                    <h5 class="text-center">Description of the Job</h5>
                </div>
            </div>
            <div class="col" style="border: 1px solid black;">
                <div>
                    <h5 class="text-center">
                        Amount
                        <br />
                        (In Rs.)
                    </h5>

                </div>
            </div>
        </div>
        <div class="row align-items-start " style="border: 1px solid black;">
            <div class="col" style="border: 1px solid black;height: 300px;">
                <h5 class="text-center" ">
                    @Model.EmployeeCount
                </h5>
            </div>
            <div class="col" style="border: 1px solid black;height: 300px;">
                <h5 class="text-center" ">
                    @Model.HSN_SAC_Code
                </h5>
            </div>
            <div class="col" style="border: 1px solid black;height: 300px;">
                <div>
                    <h6>
                        Bill for providing for staff Deployed for the month of
                        Nov 23 (10 data entry Operator)
                    </h6>
                </div>
                <br />
                <div>
                    @if (Model.State == "UP")
                    {
                        <h6 class="text-center" style="margin-top:3px;">
                            Add CGST @@ @Model.Cgst%
                        </h6>
                        <br />
                        <h6 class="text-center" style="margin-top:3px;">
                            Add SGST @@ @Model.Scgst%
                        </h6>
                    }
                    else
                    {
                        <h6 class="text-center" style="margin-top:3px;">
                            Add IGST @@ @Model.Igst%
                        </h6>
                    }
                </div>
            </div>
            <div class="col" style="border: 1px solid black;height: 300px;">
                <div>
                    <h6 class="text-center" style="margin-top:3px;">
                        Rs.@Model.GenerateSalary/-
                    </h6>
                </div>                
                <br />
                <div>
                @if (Model.State == "UP")
                {
                        <h6 class="text-center" style="margin-top: 43px;">
                            @{
                                decimal generateSalary = Model.GenerateSalary.GetValueOrDefault();
                                decimal cgst = !string.IsNullOrEmpty(Model.Cgst) ? Convert.ToDecimal(Model.Cgst) : 0;
                            }
                            Rs. @(Math.Round(generateSalary / 100 * cgst, 2)) /-
                        </h6>

                        <h6 class="text-center" style="margin-top: 43px;">
                            @{
                                decimal scgst = !string.IsNullOrEmpty(Model.Scgst) ? Convert.ToDecimal(Model.Scgst) : 0;
                            }
                            Rs. @(Math.Round(generateSalary / 100 * scgst, 2)) /-
                        </h6>
                          
                }
                else
                {

                        <h6 class="text-center" style="margin-top: 43px;">
                            @{
                                decimal generateSalary = Model.GenerateSalary.GetValueOrDefault();
                                decimal igst = !string.IsNullOrEmpty(Model.Igst) ? Convert.ToDecimal(Model.Igst) : 0;
                            }
                            Rs. @(Math.Round(generateSalary / 100 * igst, 2)) /-
                        </h6>
                }
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9" style="border: 1px solid black;">
                <h5>
                    <span id="result" value=""></span>
                </h5>
            </div>
            <div class="col-md-3" style="border: 1px solid black;">
                @if (Model.State == "UP")
                {
                    decimal baseSalary = Model.GenerateSalary.GetValueOrDefault();
                    decimal cgst = !string.IsNullOrEmpty(Model.Cgst) ? Convert.ToDecimal(Model.Cgst) : 0;
                    decimal scgst = !string.IsNullOrEmpty(Model.Scgst) ? Convert.ToDecimal(Model.Scgst) : 0;

                    decimal totalAmount = baseSalary + (baseSalary / 100 * cgst) + (baseSalary / 100 * scgst);
                    <input class="text-center totalAmount" id="totalAmount" value="@(Math.Round(totalAmount, 2))" hidden />

                    <h5 class="text-center">
                        Rs. @(Math.Round(totalAmount, 2)) /-
                    </h5>
                }
                else
                {
                    decimal baseSalary = Model.GenerateSalary.GetValueOrDefault();
                    decimal igst = !string.IsNullOrEmpty(Model.Igst) ? Convert.ToDecimal(Model.Igst) : 0;
                    decimal totalAmount = baseSalary + (baseSalary / 100 * igst);
                    <input class="text-center totalAmount" id="totalAmount" value="@(Math.Round(totalAmount, 2))" hidden />
                    <h5 class="text-center">
                        Rs. @(Math.Round(totalAmount, 2)) /-
                    </h5>
                }
            </div>
        </div>
        <div class="row">
            <div class=" col-12" style="border: 1px solid black;">
                <h5 style="color: #00adff;">
                    Bank Details:- Yes Bank Ltd. ,
                    <br />
                    Indrapuram Branch
                    <br />
                    Account No. :- &#39;012784100000013
                    <br />
                    IFSC Code:- YESB0000127
                </h5>
                <h6>
                    Terms and Conditions :
                    <br />
                    Payment by cheques/DD only.
                    <br />
                    Cheque/DD should be made in favour of GA Digital Web Word (P) Ltd., payable at Delhi.
                    <br />
                    Subject to Delhi Jurisdiction
                    <br />
                    Interest @@ 24% will be charged if payment is not cleared within 10 days.
                </h6>
            </div>


        </div>
    </div>
    <div>
        <h6 style="text-align:right;margin-right: 185px;color: #000000c2;">
            For GA DIGITAL WEB WORD PRIVATE LIMITED
        </h6>
    </div>

</body>
</html>
<script type="text/javascript">
    function printpage() {
        var printButton = document.getElementById("printpagebutton");
        printButton.style.visibility = 'hidden';
        window.print()
        printButton.style.visibility = 'visible';
    }
</script>
<script>
    function inWords(num) {
        var units = ['Zero', 'One', 'Two', 'Three', 'Four', 'Five', 'Six', 'Seven', 'Eight', 'Nine'];
        var teens = ['Eleven', 'Twelve', 'Thirteen', 'Fourteen', 'Fifteen', 'Sixteen', 'Seventeen', 'Eighteen', 'Nineteen'];
        var tens = ['', 'Ten', 'Twenty', 'Thirty', 'Forty', 'Fifty', 'Sixty', 'Seventy', 'Eighty', 'Ninety'];

        function convertLessThanThousand(number) {
            if (number === 0) {
                return '';
            } else if (number < 10) {
                return units[number] + ' ';
            } else if (number < 20) {
                return teens[number - 11] + ' ';
            } else if (number < 100) {
                return tens[Math.floor(number / 10)] + ' ' + convertLessThanThousand(number % 10);
            } else {
                return units[Math.floor(number / 100)] + ' Hundred ' + convertLessThanThousand(number % 100);
            }
        }

        if (num === 0) {
            return 'Zero Only';
        } else {
            var result = '';
            if (num < 0) {
                result += 'Negative ';
                num = Math.abs(num);
            }

            if (num >= 1000000) {
                result += convertLessThanThousand(Math.floor(num / 1000000)) + ' Million ';
                num %= 1000000;
            }

            if (num >= 1000) {
                result += convertLessThanThousand(Math.floor(num / 1000)) + ' Thousand ';
                num %= 1000;
            }

            result += convertLessThanThousand(Math.floor(num));

            var decimalPart = '';
            if (num % 1 !== 0) {
                decimalPart = ' Point ';
                var decimal = num.toFixed(2).toString().split('.')[1].replace(/^0+/, ''); // Round to 2 decimal places and remove leading zeros
                for (var i = 0; i < decimal.length; i++) {
                    decimalPart += units[parseInt(decimal[i])] + ' ';
                }
                decimalPart += 'Only.';
            }

            return (result + decimalPart).trim();
        }
    }
    var number = parseFloat(document.getElementById('totalAmount').value);
    var words = inWords(number);
    document.getElementById('result').innerHTML = 'Total: (Rs. In words): ' + words;
</script>



  



