@model IEnumerable<CRM.Models.DTO.empOfferletter>

@{
    ViewData["Title"] = "OfferletterList";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<style>
    #loader {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 9999;
    }

    #content {
        filter: blur(50%); /* Adjust the blur strength as needed */
        pointer-events: none; /* Disable interactions with the blurred content */
    }

</style>
<div class="page-wrapper">
    <div class="page-body-wrapper">
        <div class="page-sidebar">
        </div>
        <!-- Page Sidebar Ends-->
        <!-- Right sidebar Start-->
        <!-- Right sidebar Ends-->

        <div class="page-body">

            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="page-header-left">
                                <h2>
                                    OfferLetter List
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <ol class="breadcrumb pull-right">
                                <li class="breadcrumb-item"><a href="/Home/Dashboard"><i data-feather="home"></i></a></li>
                                <li class="breadcrumb-item">Letter</li>
                                <li class="breadcrumb-item">OfferLetter</li>
                                <li class="breadcrumb-item active">OfferLetter List</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid Ends-->
            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="row">

                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <div class=" table-responsive">
                                    <table id="datatable" class="table table-responsive">
                                        <thead>
                                            <tr style="background-color: #00baf2;">
                                                <th nowrap>Sl. No.</th>
                                                <th nowrap>
                                                    Candidate Name
                                                </th>
                                                <th nowrap>
                                                    Monthly Ctc
                                                </th>
                                                <th nowrap>
                                                    Annual Ctc
                                                </th>
                                                <th nowrap>
                                                    Designation Name
                                                </th>
                                                <th nowrap>
                                                    Department Name
                                                </th>
                                                <th nowrap>
                                                    State Name
                                                </th>
                                                <th nowrap>
                                                    City Name
                                                </th>
                                                <th nowrap>
                                                    Candidate Address
                                                </th>
                                                <th nowrap>
                                                    Candidate Email
                                                </th>
                                                <th nowrap>
                                                    Candidate Pincode
                                                </th>
                                                <th nowrap>
                                                    Valid Date
                                                </th>
                                                <th nowrap>
                                                    DateOfJoining
                                                </th>
                                                <th nowrap>
                                                    HR JobTitle
                                                </th>
                                                  <th nowrap>
                                                    HR Name
                                                </th>
                                                <th nowrap>
                                                    HR Signature
                                                </th>
                                                <th nowrap>
                                                    View Offerletter
                                                </th>
                                                <th nowrap>
                                                    Send Offerletter
                                                </th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                var count = 0;
                                                @foreach (var item in Model)
                                                {
                                                    count++;
                                                    <tr class="table-row">
                                                        <td>@count</td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.Name)
                                                        </td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.MonthlyCtc)
                                                        </td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.AnnualCtc)
                                                        </td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.DesignationName)
                                                        </td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.DepartmentName)
                                                        </td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.StateName)
                                                        </td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.CityName)
                                                        </td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.CandidateAddress)
                                                        </td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.CandidateEmail)
                                                        </td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.CandidatePincode)
                                                        </td>
                                                        <td nowrap>
                                                            @item.Validdate.ToString("dd/MM/yyyy")
                                                        </td>
                                                        <td nowrap>
                                                            @item.DateOfJoining.ToString("dd/MM/yyyy")
                                                        </td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.HrJobTitle)
                                                        </td>
                                                        <td nowrap>
                                                            @Html.DisplayFor(modelItem => item.HrName)
                                                        </td>
                                                        <td nowrap>
                                                            <img src='../CompanyImage/@item.HrSignature' style="height:100px;width:100px" />
                                                        </td>
                                                        <td>
                                                            <div>
                                                                <a href="@Url.Content("~/EMPpdfs/" + item.OfferletterFile)" target="_blank">
                                                                    <img src="@Url.Content("~/assets/images/layout-2/logo/pdfview.jpg")" alt="PDF Icon" style="height: 60px; width: 60px;" />
                                                                </a>
                                                            </div>
                                                        </td>

                                                        <td>
                                                            <div>
                                                                <a href="javascript:void(0)" onclick="OfferletterdownloadPDF(@item.Id)">
                                                                    <img src="@Url.Content("~/assets/images/layout-2/logo/email.png")" alt="PDF Icon" style=" height: 60px; width: 60px;" />
                                                                </a>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div>
                                                                <a href="@Url.Action("AddOfferletterdetail","Employee",new { id=item.Id})" class="fa fa-edit m-2 font-success"></a>
                                                                <a href="javascript:void(0);" onclick="confirmDelete('@Url.Action("DeleteOfferletter", "Employee", new { id = item.Id })')" class="fa fa-trash font-danger"></a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="pagination-container">
                <ul id="pagination" class="pagination"></ul>
            </div>
        </div>


    </div>

</div>
<div id="loader" style="display:none;">
    <img src="~/assets/images/layout-2/logo/loddergif.gif" alt="Loading..." />
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    var currentPage = 1;
    var rowsPerPage = 5;
    $(document).ready(function () {
        function paginateTable() {
            var table = $('#datatable');
            var rows = table.find('tbody tr');


            var totalPages = Math.ceil(rows.length / rowsPerPage);


            var pagination = $('#pagination');
            pagination.empty();

            for (var i = 1; i <= totalPages; i++) {
                var link = $('<li class="page-item"><a class="page-link" href="#">' + i + '</a></li>');


                if (i === currentPage) {
                    link.addClass('active');
                }

                pagination.append(link);
            }


            var startIndex = (currentPage - 1) * rowsPerPage;
            var endIndex = startIndex + rowsPerPage;

            rows.hide().slice(startIndex, endIndex).show();
        }


        paginateTable();

        $(document).on('click', '#pagination li a', function (event) {
            event.preventDefault();

            var clickedPage = parseInt($(this).text());


            currentPage = clickedPage;
            paginateTable();


            $('html, body').animate({ scrollTop: $('#table-container').offset().top }, 'slow');
        });
    });

</script>
<script>
    function confirmDelete(url) {
        var result = confirm("Are you sure you want to delete?");
        if (result) {
            window.location.href = url;
        }
    }
</script>
<script type="text/javascript">
    function OfferletterdownloadPDF(id) {
        var url = '@Url.Action("OfferletterDocPDF", "Employee")' + '?id=' + id;
        // Show the loader before starting the fetch process
        document.getElementById('loader').style.display = 'block';

        fetch(url, {
            method: 'GET',
            headers: {
                'Accept': 'application/json'
            }
        })
            .then(response => {
                // Hide the loader once a response is received
                document.getElementById('loader').style.display = 'none';

                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                window.location.reload();
                return response.json();
            })
            .then(data => {
                if (data.success) {
                    Swal.fire({
                        title: 'Success',
                        text: data.message,
                        icon: 'success',
                        confirmButtonText: 'OK'
                    });
                } else {
                    Swal.fire({
                        title: 'Error',
                        text: data.message,
                        icon: 'error',
                        confirmButtonText: 'OK'
                    });
                }
            })
            .catch(error => {
                // Hide the loader if an error occurs
                document.getElementById('loader').style.display = 'none';

                Swal.fire({
                    title: 'Error',
                    text: 'An error occurred while processing the request.',
                    icon: 'error',
                    confirmButtonText: 'OK'
                });
            });
    }
</script>