@model CRM.Models.Crm.ProductMaster
@{
    ViewData["Title"] = "Product";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        var message = "@TempData["msg"]";

        if (message == "ok" || message == "dltok" || message == "updok") {
            if (message) {
                let alertText;

                if (message == "dltok") {
                    alertText = "Deleted successfully.";
                } else if (message == "updok") {
                    alertText = "Product updated successfully.";
                } else {
                    alertText = "Product added successfully.";
                }

                Swal.fire({
                    title: 'Success',
                    text: alertText,
                    icon: 'success',
                    confirmButtonText: 'OK'
                }).then((result) => {
                    if (result.isConfirmed) {
                        setTimeout(function () {
                            window.location.href = '@Url.Action("ProductList", "Product")';
                        }, 1000);
                    }
                });
            }
        }
        else {
            if (message) {
                Swal.fire({
                    title: 'Failed',
                    text: message,
                    icon: 'error',
                    confirmButtonText: 'OK'
                }).then((result) => {
                    if (result.isConfirmed) {
                        setTimeout(function () {
                            window.location.href = '@Url.Action("ProductList", "Product")';
                        }, 1000);
                    }
                });
            }
        }
    });
</script>

<div class="page-wrapper">
    <div class="page-body-wrapper">
        <div class="page-sidebar">
        </div>
        <!-- Page Sidebar Ends-->
        <!-- Right sidebar Start-->
        <!-- Right sidebar Ends-->

        <div class="page-body">

            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="page-header-left">
                                <h2>
                                    @ViewBag.Heading
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <ol class="breadcrumb pull-right">
                                <li class="breadcrumb-item"><a href="/Home/Dashboard"><i data-feather="home"></i></a></li>
                                <li class="breadcrumb-item">CRM</li>
                                <li class="breadcrumb-item">Product</li>
                                <li class="breadcrumb-item active">Add Product</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid Ends-->
            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="row">

                    <div class="col-sm-12">
                        <div class="card">                           
                            <div class="card-body">
                                <form class="needs-validation" asp-controller="Product" asp-action="Product" autocomplete="off">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="row">
                                        <div class="form-group col-sm">
                                            <input type="hidden" name="Id" value="@ViewBag.id" />
                                            <label for="validationCustom0">Category<span>*</span></label>
                                            <select name="Category" class="form-control" id="ddCategory">
                                                <option value="0">-- Select Category --</option>
                                            </select>
                                            <span asp-validation-for="Category" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-sm">
                                            <label for="validationCustom0">Product Name<span>*</span></label>
                                            <input class="form-control" value="@ViewBag.ProductName" name="ProductName" placeholder="Enter ProductName" type="text" required="" oninvalid="this.setCustomValidity('Please Enter ProductName')" oninput="this.setCustomValidity('')">
                                            <span asp-validation-for="ProductName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm">
                                            <label for="validationCustom0">Price<span>*</span></label>
                                            <input class="form-control" value="@ViewBag.Price" placeholder="Enter Price" name="Price" type="text" required="" oninvalid="this.setCustomValidity('Please Enter Price')" oninput="this.setCustomValidity('')" onkeydown="validateNumericInput(event)">
                                            <span asp-validation-for="Price" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-sm">
                                            <label for="validationCustom0">HSN Code<span>*</span></label>
                                            <input class="form-control" value="@ViewBag.HsnSacCode" name="HsnSacCode" type="text" placeholder="Enter HSNCode" maxlength="6" minlength="6" required="" oninvalid="this.setCustomValidity('Please Enter HSNCode')" oninput="this.setCustomValidity('')" onkeydown="validateNumericInput(event)">
                                            <span asp-validation-for="HsnSacCode" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <label for="validationCustom0">GST</label>
                                            <select name="Gst" class="form-control" id="ddgstid">
                                                <option value="0">-- Select Gst --</option>
                                            </select>
                                            <span asp-validation-for="Gst" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-button" style="display:flex; justify-content:center;">
                                        <input type="submit" id="btnsubmit" class="btn btn-primary" value="@ViewBag.btnText" />
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>

</div>

<script>
    function validateCategory(selectElement) {
        if (selectElement.value === "") {
            selectElement.setCustomValidity('Please select Category');
        } else {
            selectElement.setCustomValidity('');
        }
    }
    function validateNumericInput(event) {
        if ([67, 86, 88].includes(event.keyCode) && (event.ctrlKey || event.metaKey) ||
            [32, 46, 8, 9, 27, 13].includes(event.keyCode) ||
            (event.keyCode >= 35 && event.keyCode <= 39)) return;

        if ((event.keyCode >= 48 && event.keyCode <= 57) || (event.keyCode >= 96 && event.keyCode <= 105)) return;
        event.preventDefault();
    }
</script>
<script>
    function validateGst(selectElement) {
        if (selectElement.value === "") {
            selectElement.setCustomValidity('Please select GST');
        } else {
            selectElement.setCustomValidity('');
        }
    }
    function bindCategory(Category) {
        var itemsListforCategory = @Json.Serialize(ViewBag.Category);
        debugger
        var dropdownforCategory = $("#ddCategory");
        $.each(itemsListforCategory, function (index, item) {
            dropdownforCategory.append($('<option></option>').val(item.value).text(item.text));
        });
        if (Category != "") {
            $("#ddCategory").val(Category)
        }
    }
    function bindsGst(Gst) {
        var itemsList = @Json.Serialize(ViewBag.Gst);
        debugger
        var dropdown = $("#ddgstid");
        $.each(itemsList, function (index, item) {
            dropdown.append($('<option></option>').val(item.value).text(item.text));
        });
        if (Gst != "") {
            $("#ddgstid").val(Gst)
        }
    }
    var Categoryid = '@ViewBag.Categories';
    var Gstt = '@ViewBag.Gstdr';

    if (Categoryid != "") {
        bindCategory(Categoryid);
    }
    else {
        bindCategory("");
    }
    if (Gstt != "") {
        bindsGst(Gstt);
    }
    else {
        bindsGst("");
    }

</script>
<script>

     $(document).ready(function () {
       
        $('#datatable').DataTable(
            {
                "dom": '<"dt-buttons"Bf><"clear">lirtp',
                "paging": true,
                "autoWidth": true,
                "buttons": [
                    'colvis',
                    'copyHtml5',
                    'csvHtml5',
                    'excelHtml5',
                    'pdfHtml5',
                    'print'
                ]
            }
        );
    });
</script>



