 @model IEnumerable<CRM.Models.Crm.ProductMaster>
@{
    ViewData["Title"] = "ProductList";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<style>
    .dataTables_wrapper table.dataTable th {
        background-color: #00baf2 !important;
        padding: 24px 0.75rem !important;
    }
</style>
<div class="page-wrapper">
    <div class="page-body-wrapper">
        <div class="page-sidebar">
        </div>

        <div class="page-body">

            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="page-header-left">
                                <h2>
                                    Product List
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <ol class="breadcrumb pull-right">
                                <li class="breadcrumb-item"><a href="/Home/Dashboard"><i data-feather="home"></i></a></li>
                                <li class="breadcrumb-item">CRM</li>
                                <li class="breadcrumb-item">Product</li>
                                <li class="breadcrumb-item active">Product List</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Container-fluid Ends-->
            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="row">

                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <table id="datatable" class="table table-responsive">
                                    <thead>
                                        <tr style="background-color: #00baf2;">
                                            <th nowrap>Sl. No.</th>
                                            <th nowrap>
                                               ProductName
                                            </th>
                                            <th nowrap>
                                                Category
                                            </th>
                                            <th nowrap>
                                               Gst
                                            </th>
                                            <th nowrap>
                                                HSN Code
                                            </th>
                                            <th nowrap>
                                               Price
                                            </th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            var count = 0;
                                        @foreach (var item in Model)
                                        {
                                            count++;
                                                    <tr class="table-row">
                                                    <td>@count</td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ProductName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Category)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Gst)%
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.HsnSacCode)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Price)
                                                </td>
                                                <td>
                                                    <div>
                                                     <a href="@Url.Action("Product","Product",new { id=item.Id})" class="fa fa-edit m-2 font-success"></a>
                                                     <a href="javascript:void(0);" onclick="confirmDelete('@Url.Action("DeleteProduct", "Product", new { id = item.Id })')" class="fa fa-trash font-danger"></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           @*  <div id="pagination-container">
                <ul id="pagination" class="pagination"></ul>
            </div> *@
       


        </div>


    </div>

</div>


<script>
    var currentPage = 1;
    var rowsPerPage = 5;
    $(document).ready(function () {
        function paginateTable() {
            var table = $('#datatable');
            var rows = table.find('tbody tr');


            var totalPages = Math.ceil(rows.length / rowsPerPage);


            var pagination = $('#pagination');
            pagination.empty();

            for (var i = 1; i <= totalPages; i++) {
                var link = $('<li class="page-item"><a class="page-link" href="#">' + i + '</a></li>');


                if (i === currentPage) {
                    link.addClass('active');
                }

                pagination.append(link);
            }


            var startIndex = (currentPage - 1) * rowsPerPage;
            var endIndex = startIndex + rowsPerPage;

            rows.hide().slice(startIndex, endIndex).show();
        }


        paginateTable();

        $(document).on('click', '#pagination li a', function (event) {
            event.preventDefault();

            var clickedPage = parseInt($(this).text());


            currentPage = clickedPage;
            paginateTable();


            $('html, body').animate({ scrollTop: $('#table-container').offset().top }, 'slow');
        });
    });

</script>
<script>
    function confirmDelete(url) {
        var result = confirm("Are you sure you want to delete?");
        if (result) {
            window.location.href = url;
        }
    }
</script>

<script>
    $(document).ready(function () {
        $('#datatable').DataTable();
    });
</script>